Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.cjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.mjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.ts": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.jsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.tsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

feat: Create password hash using django
  .husky/hash.txt
  django_backend/apps/core/management/commands/hash_password.py
  php_backend/create-password.php
Due: composer exec php-cs-fixer fix, black

refactor: get django secret key from .env
  django_backend/settings.py
Due: black

refactor: change password hasher to Argon password hasher
  django_backend/settings.py
Due: black

fix(security): set minimum password 8 digits
  django_backend/settings.py
Due: black

refactor: use custom password hasher
  django_backend/apps/core/management/commands/hash_password.py
  django_backend/middleware.py
  django_backend/settings.py
Due: black

feat: default value each parameter and make them optional
  .husky/hash.txt
  django_backend/apps/core/management/commands/create_user.py
Due: black

feat: cross-platforms hashers
  composer.json
  django_backend/middleware.py
  django_backend/settings.py
  src/hashers/CustomPasswordHasher.cjs
  src/hashers/CustomPasswordHasher.php
  src/hashers/CustomPasswordHasher.py
  src/hashers/__init__.py
  tests/hashers/CustomPasswordHasher.test.cjs
  tests/hashers/CustomPasswordHasherTest.php
  tests/hashers/CustomPasswordHasherTest.py
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

chore: drop unused file
  php_backend/create-password.php
Due: composer exec php-cs-fixer fix

fix(parsePostData): merge $_GET when $detect_get is true
  .husky/hash.txt
  func.php
Due: composer exec php-cs-fixer fix

fix: read salt from .env
  .husky/hash.txt
  src/hashers/CustomPasswordHasher.cjs
  src/hashers/CustomPasswordHasher.php
  src/hashers/CustomPasswordHasher.py
  tests/hashers/CustomPasswordHasher.test.cjs
  tests/hashers/CustomPasswordHasherTest.php
  tests/hashers/CustomPasswordHasherTest.py
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, composer exec php-cs-fixer fix, black

feat: database login
  .husky/hash.txt
  php_backend/login.php
Due: composer exec php-cs-fixer fix

fix: change demo password due to dangerous char for sqlite
  django_backend/apps/core/management/commands/create_user.py
Due: black

fix: decode input from html entities and encoded url
  .husky/hash.txt
  php_backend/login.php
Due: composer exec php-cs-fixer fix

feat: save authenticated user email in php session
  .husky/hash.txt
  php_backend/login.php
Due: composer exec php-cs-fixer fix
