Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix, black

feat: error log
  .husky/hash.txt
  src/func_console.py
Due: black

get_current_rfc3339_time: drop raise
  src/func_date.py
Due: black

is_date_rfc3339_older_than: drop raise
  .husky/hash.txt
  src/func_date.py
Due: black

is_current_time_more_than_rfc3339: replace print with log_error
  .husky/hash.txt
  src/func_date.py
Due: black

update proxy checker php CI
  .github/workflows/checker-php.yml
  .github/workflows/checker-php.yml.txt
  .github/workflows/checker.yml.txt
  .husky/hash.txt
Due: prettier --list-different --write

rename `configCleaner.php` to `cleaner.php`
  .crontab.txt
  .husky/hash.txt
  cleaner.php
  readme.md
Due: composer exec php-cs-fixer fix

feat: cleaner python
  .github/workflows/checker-python.yml
  .husky/hash.txt
  cleaner.py
Due: prettier --list-different --write, black

feat: git hook pre merge commit create file hashes
  .husky/.gitignore
  .husky/pre-merge-commit
Due: none

install dependencies when cache not hit
  .github/workflows/checker-php.yml
  .github/workflows/checker-python.yml
  .github/workflows/nuitka-debug.yml
  .github/workflows/nuitka.yml
Due: prettier --list-different --write

remove duplicate cache paths
  .github/workflows/checker-php.yml
  .github/workflows/checker-php.yml.txt
  .github/workflows/checker-python.yml
  .github/workflows/checker.yml.txt
  .github/workflows/nuitka-debug.yml
  .github/workflows/nuitka.yml
Due: prettier --list-different --write

skip removing `mmdb` files
  .husky/hash.txt
  cleaner.php
  cleaner.py
Due: composer exec php-cs-fixer fix, black

fix: memory leaks split large items into chunks
  packages/proxy-hunter-python/proxy_hunter/ip2proxy_list.py
  packages/proxy-hunter-python/proxy_hunter/proxyhunter2.py
Due: black

rename cache file
  packages/proxy-hunter-python/proxy_hunter/proxyhunter2.py
Due: black

Path conditions:
  eslint --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: (((((((any of: *.html) or (any of: *.json)) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
