Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

change pid and lock file
  filterPortsBackground.php
Due: composer exec php-cs-fixer fix

always set permission 777 after write
  func.php
Due: composer exec php-cs-fixer fix

fix admin detection
  filterPortsBackground.php
  geoIp.php
Due: composer exec php-cs-fixer fix

fix permission for xl folder
  fix-nginx-perm.sh
Due: none

feat: working site
  userscripts/universal.meta.js
  userscripts/universal.user.js
Due: eslint --fix

fix auto create pid file
  proxyCheckerBackground.php
Due: composer exec php-cs-fixer fix

feat: working site
  userscripts/universal.user.js
Due: eslint --fix

always single lock even is admin
  filterPorts.php
  filterPortsBackground.php
  filterPortsDuplicate.php
Due: composer exec php-cs-fixer fix

using write file to write recursively
  cidr-information/CIDR-ranges.php
Due: composer exec php-cs-fixer fix

update IP validator
  cidr-information/CIDR-ports.php
Due: composer exec php-cs-fixer fix

feat: generate range ports from IP
  cidr-information/genPorts.php
  cidr-information/index.html
  cidr-information/script.js
Due: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

feat: webserver port checker
  cidr-information/checkPorts.php
Due: composer exec php-cs-fixer fix

always stop when max execution time excedeed
  cidr-information/CIDR-check.php
Due: composer exec php-cs-fixer fix

index LICENSE
  cidr-information/.gitignore
  cidr-information/LICENSE.txt
Due: none

Path conditions:
  eslint --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.html) or (any of: *.json)) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)
  composer exec php-cs-fixer fix: any of: *.php
