Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.html": "prettier --list-different --write",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix"
}

drop ip-get-geolocation.com key
  src/geoPlugin.py
Due: none

fix: invalid proxy format
  userscripts/universal.user.js
Due: eslint --fix

update proxy submission UI
  django_backend/apps/proxy/templates/ip_widget.html
  django_backend/apps/proxy/templates/proxy_checker_result.html
Due: prettier --list-different --write

fix: fail parsing sslproxies.org family
  userscripts/universal.user.js
Due: eslint --fix

determine cli argument for enabling SSL
  django_backend/settings.py
Due: none

feat: register xl directory
  django_backend/settings.py
Due: none

feat: register xl endpoint
  django_backend/urls.py
Due: none

skip run bash script when runs by crontab
  bin/git-pull
Due: none

feat: run makemigrations
  fix-django.sh
Due: none

feat: dependency installer
  bin/py-install
Due: none

feat: update setuptools
  fix-django.sh
Due: none

proxy_checker_result: force read encoding UTF-8
  django_backend/apps/proxy/views.py
Due: none

feat: debug log
  django_backend/settings.py
  requirements_base.txt
Due: none

feat: dependency cleaner
  bin/py-clean
Due: none
