Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.html": "prettier --list-different --write",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

fix: save restore tuple data
  packages/proxy-hunter-python/proxy_hunter/proxyhunter2.py
Due: black

using thread
  packages/proxy-hunter-python/proxy_hunter/proxyhunter2.py
Due: black

feat: using concurrent pool with 10 instances
  packages/proxy-hunter-python/.gitignore
  packages/proxy-hunter-python/proxy_hunter/proxyhunter2.py
Due: black

feat: filter duplicated proxies
  .crontab.sh
Due: none

drop reinstall dependencies
  .husky/hash.txt
  requirements_install.py
Due: black

log_file: strip message for html format
  .husky/hash.txt
  src/func_console.py
Due: black

move proxy utils into `proxy_hunter`
  .husky/hash.txt
  django_backend/apps/core/management/commands/check_proxies.py
  django_backend/apps/proxy/tasks_unit/filter_ports_proxy.py
  django_backend/apps/proxy/tasks_unit/real_check_proxy.py
  filterPortsDuplicate.py
  packages/proxy-hunter-python/proxy_hunter/curl/proxy_utils.py
  proxyCheckerReal.py
  src/func_proxy.py
Due: black

move regex utils into `proxy_hunter`
  .husky/hash.txt
  packages/proxy-hunter-python/proxy_hunter/__init__.py
  packages/proxy-hunter-python/proxy_hunter/curl/__init__.py
  packages/proxy-hunter-python/proxy_hunter/curl/proxy_utils.py
  packages/proxy-hunter-python/proxy_hunter/utils/__init__.py
  packages/proxy-hunter-python/proxy_hunter/utils/regex_utils.py
  proxyCheckerReal.py
  proxyWorking.py
  src/func.py
Due: black

run django ssl using shell command runner
  .husky/hash.txt
  .idea/inspectionProfiles/Project_Default.xml
  .idea/runConfigurations/django_Non_SSL.xml
  .idea/runConfigurations/django_SSL.xml
Due: none

feat: install watchdog
  .husky/hash.txt
  .vscode/launch.json
  requirements_base.txt
Due: prettier --list-different --write

update python doc
  .husky/hash.txt
  proxyCheckerReal.py
Due: black

feat(read_all_text_files): auto create folder
  .husky/hash.txt
  packages/proxy-hunter-python/proxy_hunter/utils/file.py
Due: black

update get_proxies logic
  .husky/hash.txt
  src/func_proxy.py
Due: black
