Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

feat: set my git user info
  .github/workflows/php.yml
Due: prettier --list-different --write

feat: check adblock
  js/site.js
Due: eslint --fix

eslint suppress unused vars
  js/site.js
Due: eslint --fix

reload page 2s when adblock detected
  js/site.js
Due: eslint --fix

remove whole body when adblock detected
  js/site.js
Due: eslint --fix

feat: set https indicator
  proxyCheckerParallel.php
Due: composer exec php-cs-fixer fix

feat: str_starts_with shimmer
  func.php
Due: composer exec php-cs-fixer fix

fix: https detection
  proxyCheckerParallel.php
Due: composer exec php-cs-fixer fix

parse_anonymity: throw when device IP is empty
  func-proxy.php
Due: composer exec php-cs-fixer fix

feat: admin detection
  filterPortsBackground.php
Due: composer exec php-cs-fixer fix

chore: skip lock verification for admin
  filterPortsBackground.php
Due: composer exec php-cs-fixer fix

feat: ip validator
  func-proxy.php
Due: composer exec php-cs-fixer fix

fix: create temp folder permission 777
  func.php
Due: composer exec php-cs-fixer fix

Path conditions:
  eslint --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.html) or (any of: *.json)) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)
  composer exec php-cs-fixer fix: any of: *.php
