Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

refactor: update import path for environment variables
  tests/ProxyDB.test.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor: reformat
  .gitattributes
Due: none

feat: add JSDoc comments for environment variable handling functions
  .env.cjs
  .env.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: add custom VM options for PhpStorm, PyCharm, and WebStorm
  .idea/htdocs.iml
  .idea/phpstorm64.exe.vmoptions
  .idea/pycharm64.exe.vmoptions
  .idea/runConfigurations/whatsapp.xml
  .idea/webstorm64.exe.vmoptions
Due: none

feat: enhance getWorkingProxies method documentation with additional parameters and return type details
  src/ProxyDB.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: update tsconfig.json to include new directories and improve exclusion patterns
  tsconfig.json
Due: prettier --list-different --write

feat: export proxyManager as default
  rollup.php.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: add build scripts for project automation in Bash and Batch
  bin/build-project
  bin/build-project.cjs
  bin/build-project.cmd
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: implement WhatsApp bot service
  assets/systemctl/start_whatsapp.sh
  assets/systemctl/whatsapp.service
  bin/start-whatsapp
  bin/stop-whatsapp
  node_backend/Function.ts
  node_backend/Replier.ts
  node_backend/dirname.ts
  node_backend/index.ts
  node_backend/test/ImageFind.ts
  node_backend/test/convertHEIC2PNG.ts
  node_backend/test/extractPhoneNumber.ts
  node_backend/test/firstConnection.ts
  node_backend/test/fixtures/module_to_load.ts
  node_backend/test/loadModule.ts
  node_backend/test/logger.ts
  node_backend/test/scanQR.ts
  node_backend/test/secondConnection.ts
  node_backend/test/testConnection.ts
  node_backend/test/xlsxParse.ts
  node_backend/waConnect.ts
  node_backend/whatsapp_handlers/proxy.ts
  node_backend/xlsxParser.ts
  package.json
  readme.md
  rollup.config.js
  tsconfig.whatsapp.json
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

feat: enhance message handling in WhatsApp bot to manage active senders and prevent concurrent processing
  node_backend/index.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: improve permission handling script for cross-platform compatibility and enhance error checking
  bin/fix-perm
Due: none

feat: add getFileInfo function to retrieve file details including permissions, owner, and group
  .husky/hash.txt
  func.php
Due: composer exec php-cs-fixer fix

feat: enhance file permission handling and improve readability checks
  .husky/hash.txt
  func.php
Due: composer exec php-cs-fixer fix

feat: add limit parameter to extractProxies function for configurable result size
  .husky/hash.txt
  func-proxy.php
Due: composer exec php-cs-fixer fix

Path conditions:
  set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
