Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

update ignores
  assets/.gitignore
Due: none

fix: clear github actions cache
  .github/workflows/checker-python.yml
Due: prettier --list-different --write

migrate to eslint v9 config
  .eslintignore
  .eslintrc.js
  .vscode/settings.json
Due: eslint --fix, prettier --list-different --write

fix: cache prefix name splitter
  bin/clear-github-actions-cache.js
Due: eslint --fix

feat: DATE_RFC3339 string to human readable format converter
  src/func_date.py
Due: none

feat: github actions cache cleaner
  .github/workflows/nuitka.yml
Due: prettier --list-different --write

clean github action caches at ends
  .github/workflows/checker-python.yml
  .github/workflows/nuitka.yml
Due: prettier --list-different --write

update upload paths
  .github/workflows/nuitka.yml
Due: prettier --list-different --write

feat: proxy uploader
  proxyWorking.py
Due: none

feat: catch error
  bin/clear-github-actions-cache.js
Due: eslint --fix

fix(deleteGitHubActionsCache): promises
  bin/clear-github-actions-cache.js
Due: eslint --fix

drop unused ci
  .github/workflows/dependent.yml.txt
Due: none

get key using dict.get
  src/ProxyDB.py
Due: none

try using default django
  manage.py
  requirements_base.txt
  requirements_install.py
Due: none

Path conditions:
  eslint --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.html) or (any of: *.json)) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)
  composer exec php-cs-fixer fix: any of: *.php
