Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, python -m black, cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

chore(pre-commit): run Black on staged Python files
  .husky/pre-commit
  .lintstagedrc.json
Due: prettier --list-different --write

fix(pre-commit): ensure hash.txt is added after creating file hashes
  .husky/pre-commit
Due: none

fix(deps): update php-cs-fixer version constraint to include 3.75
  composer.json
Due: prettier --list-different --write

feat(proxy-list): improve proxy counters UI
  src/react/pages/ProxyList/ServerSide.tsx
Due: eslint --fix

chore(cfh): always stage generated hash file regardless of git hook context
  bin/cfh.cjs
Due: eslint --fix

feat(db): add active-only flag to countHttpsProxies and use it in proxy-list
  .husky/hash.txt
  php_backend/proxy-list.php
  src/PhpProxyHunter/ProxyDB.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

feat(db): add active-only flag to countPrivateProxies
  .husky/hash.txt
  src/PhpProxyHunter/ProxyDB.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

chore(husky): generate hash on post-merge and amend merge commit
  .husky/post-merge
  .husky/pre-commit
Due: none

chore(husky): remove auto hash generation and commit amendment from post-merge hook
  .husky/post-merge
Due: none

chore(bin): add Node-based fix-repo and remove legacy git-merge scripts
  bin/fix-repo
  bin/fix-repo.cjs
  bin/git-merge
  bin/git-merge.cjs
  bin/git-merge.cmd
Due: eslint --fix

fix(bin): remove hardcoded username from remote URLs in fixRemotes function
  bin/fix-repo.cjs
Due: eslint --fix

chore(bin): make `fix-repo` idempotent and remove `fix-repo.cjs`
  bin/fix-repo
  bin/fix-repo.cjs
Due: eslint --fix

fix(bin): update OS type check to include mingw* for permission handling
  bin/fix-repo
Due: none

fix(bin): update remote URL format to include username for clarity
  bin/fix-repo
Due: none

refactor: rename SSH and SFTP client attributes for consistency
  .husky/hash.txt
  src/vps/sftp_client.py
  src/vps/sftp_speed_test.py
  src/vps/ssh_client.py
  src/vps/vps_connector.py
Due: python -m black

fix(sync-backups): add command to run remote backup before syncing
  src/vps/menus/sync-backups.py
Due: python -m black

feat(domains): add httpbin.org and www.httpbin.org to the certificate generation list
  .husky/hash.txt
  data/cacert.pem
  data/get-ca.py
  data/get-ca.sh
Due: python -m black

feat(shared): add `production` flag to `init_db` and select prod/test MySQL configs
  .husky/hash.txt
  src/shared.py
Due: python -m black

feat(src/ProxyDB): add `randomize` option to `get_dead_proxies`
  .husky/hash.txt
  src/ProxyDB.py
Due: python -m black

feat(proxy-checker): add async multi-protocol proxy checker with SSL detection
  .husky/hash.txt
  artisan/proxy-checker-httpx.py
  requirements-base.txt
Due: python -m black

fix(db): hardcode test database name instead of reading from env
  .husky/hash.txt
  src/shared.py
Due: python -m black

refactor(backup): move backup and cleanup scripts to src/dev and update cron paths
  .crontab.sh
  backups/backup-proxies.py
  bin/backup-db
  src/dev/__init__.py
  src/dev/backup-cleaner.py
  src/dev/backup-proxies.py
  src/dev/restore-proxies.py
Due: python -m black

refactor(dev): use get_relative_path and unify project root resolution
  .husky/hash.txt
  src/dev/backup-cleaner.py
  src/dev/restore-proxies.py
Due: python -m black

fix(proxydb): cast DB select() results to annotated list
  .husky/hash.txt
  src/ProxyDB.py
Due: python -m black

feat(asn): add ASN lookup and proxy classification using MaxMind MMDB
  .husky/hash.txt
  artisan/proxy-asn-lookup.py
  src/ASNLookup.py
Due: python -m black

refactor(proxydb): rename db_type to driver for clarity and backward compatibility
  .husky/hash.txt
  src/ProxyDB.py
Due: python -m black

feat(migrations): add migration framework and classification migration
  .husky/hash.txt
  src/migrations/ProxyDB_migration.py
  src/migrations/__init__.py
  src/migrations/migrate.py
Due: python -m black

feat(db): add column existence checks and make migration idempotent
  .husky/hash.txt
  src/MySQLHelper.py
  src/SQLiteHelper.py
  src/migrations/ProxyDB_migration.py
Due: python -m black

refactor(migrations): add typed MigrationScript and type annotations to loader
  src/migrations/migrate.py
Due: python -m black

refactor(migrate): enhance type safety with ParamSpec and Union for migration handlers
  .husky/hash.txt
  src/migrations/migrate.py
Due: python -m black

feat(migrations): add migrate:db script to package.json for database migration
  package.json
Due: prettier --list-different --write

feat(migrations): run database migrations in post-merge hook
  .husky/post-merge
  package.json
Due: prettier --list-different --write

feat(proxy-asn-lookup): store proxy classification in DB and refactor IP extraction
  .husky/hash.txt
  artisan/proxy-asn-lookup.py
Due: python -m black

feat(artisan/proxy-asn-lookup): load unclassified active proxies from DB
  .husky/hash.txt
  artisan/proxy-asn-lookup.py
Due: python -m black

feat(ui): format proxy counters with thousand separators
  src/react/pages/ProxyList/ServerSide.tsx
  src/utils/number.js
Due: eslint --fix

feat(proxy-data): add classification parameter to ProxyData constructor
  src/proxy/ProxyData.js
Due: eslint --fix

feat(proxy-row): update ProxyRow type to use ProxyData for better type safety
  src/react/pages/ProxyList/ServerSide.tsx
Due: eslint --fix

feat(proxy-list): enhance status display with classification label
  src/react/pages/ProxyList/ServerSide.tsx
Due: eslint --fix

fix(proxy-asn-lookup): ensure database connection is closed in all scenarios
  .husky/hash.txt
  artisan/proxy-asn-lookup.py
Due: python -m black

fix(proxy-asn-lookup): update log message format to include proxy string with IP
  .husky/hash.txt
  artisan/proxy-asn-lookup.py
Due: python -m black

Path conditions:
  eslint --fix: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  python -m black: any of: *.py
  cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php: any of: *.php
