Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.cjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.mjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.ts": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.jsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.tsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

fix: update nodemon configuration to include additional file types and improve restart script instructions
  nodemon.config.json
  nodemon.restart.sh
Due: prettier --list-different --write

feat: add git-pull-clean script for streamlined git operations and permission fixes
  bin/git-pull-clean
Due: none

fix: add git reset --hard to cleanup process
  bin/git-pull-clean
Due: none

fix: improve file type detection in pre-merge-commit hook
  .husky/pre-merge-commit
Due: none

fix: enhance permission handling
  .husky/post-merge
  .husky/pre-merge-commit
Due: none

fix: update hooks to correctly determine script directory and set CWD
  .husky/post-merge
  .husky/pre-merge-commit
Due: none

fix: enhance parsePostData function to support optional GET data retrieval
  .husky/hash.txt
  func.php
Due: composer exec php-cs-fixer fix

feat: add get_sms.php to handle SMS input and logging
  .husky/hash.txt
  php_backend/get_sms.php
Due: composer exec php-cs-fixer fix

fix: clean before pull
  bin/git-pull-clean
Due: none

fix: streamline git-pull-clean script by forwarding arguments to git-pull
  bin/git-pull-clean
Due: none

feat: aggressive garbage collection and reflog expiration for unix
  bin/git-gc
Due: none

fix: improve SMS handling by changing error message output and enhancing request logging
  .husky/hash.txt
  php_backend/get_sms.php
Due: composer exec php-cs-fixer fix

fix: simplify SMS parameter retrieval using null coalescing operator
  .husky/hash.txt
  php_backend/get_sms.php
Due: composer exec php-cs-fixer fix

fix: enhance parsePostData function to streamline data parsing and improve handling of various content types
  .husky/hash.txt
  func.php
Due: composer exec php-cs-fixer fix
