Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

feat(git-history): add unique file filtering and anonymization to commit history
  src/dev/git-history-to-json.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(eslint): extend validation to include additional file types
  .vscode/settings.json
Due: prettier --list-different --write

fix(vite.config): update watch ignored patterns to exclude specific directories
  vite.config.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(changelog): render commit messages as markdown
  package.json
  src/react/pages/Changelog.module.scss
  src/react/pages/Changelog.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

refactor(admin): extract saldo management logic to SaldoManager component
  src/react/pages/Admin.tsx
  src/react/pages/admin/SaldoManager.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(vite.config): disable polling for file watching to improve performance
  vite.config.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: add 'browser-with-fingerprints' to external dependencies in rollup configurations
  rollup.php.js
  rollup.project.js
  rollup.whatsapp.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(vite.config): increase file watching interval to 3000ms for improved reliability
  vite.config.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: update deployment and configuration files for improved PHP environment setup
  .idea/deployment.xml
  .idea/misc.xml
  .idea/php-test-framework.xml
  .idea/php.xml
  .vscode/settings.json
Due: prettier --list-different --write

refactor: PHP 7 compatible
  .husky/hash.txt
  src/PhpProxyHunter/MySQLHelper.php
  src/PhpProxyHunter/SQLiteHelper.php
Due: composer exec php-cs-fixer fix

test: refactor UserDBTest for multi-db support and cleanup
  tests/PhpProxyHunter/UserDBTest.php
  tests/bootstrap.php
Due: composer exec php-cs-fixer fix

test: load MySQL config from environment variables in UserDBTest
  tests/PhpProxyHunter/UserDBTest.php
  tests/bootstrap.php
Due: composer exec php-cs-fixer fix

feat: add production database configuration to .env-sample
  .env-sample
Due: none

fix(geoPlugin): prevent array_keys warning on null country names
  .husky/hash.txt
  src/PhpProxyHunter/geoPlugin.php
Due: composer exec php-cs-fixer fix

refactor(github-pages): simplify paths for push events in workflow
  .github/workflows/github-pages.yml
Due: prettier --list-different --write

fix(geoip): handle missing IPs gracefully in geoPlugin2 and geoPlugin
  .husky/hash.txt
  src/PhpProxyHunter/geoPlugin.php
  src/PhpProxyHunter/geoPlugin2.php
Due: composer exec php-cs-fixer fix

fix: update script paths to include 'artisan' for proxyWorking.php
  bin/check-proxy.cmd
  bin/loop-check-proxy.cmd
Due: none

feat: implement CoreDB class for MySQL and SQLite database connections
  .husky/hash.txt
  src/PhpProxyHunter/CoreDB.php
Due: composer exec php-cs-fixer fix

feat: enhance CoreDB constructor to support direct SQLite and MySQL initialization
  .husky/hash.txt
  src/PhpProxyHunter/CoreDB.php
Due: composer exec php-cs-fixer fix

feat: add driver property to CoreDB for tracking database type
  .husky/hash.txt
  src/PhpProxyHunter/CoreDB.php
Due: composer exec php-cs-fixer fix

fix: update phpunit version constraint to include version 6
  composer.json
Due: prettier --list-different --write

feat: add dbPath property to CoreDB for SQLite database file path
  .husky/hash.txt
  src/PhpProxyHunter/CoreDB.php
Due: composer exec php-cs-fixer fix

refactor(coredb): improve type safety and schema initialization
  .husky/hash.txt
  src/PhpProxyHunter/CoreDB.php
Due: composer exec php-cs-fixer fix

refactor(admin): move page-level layout styling from SaldoManager to Admin
  src/react/pages/Admin.tsx
  src/react/pages/admin/SaldoManager.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(coredb): store constructor parameters and add getters for retrieval
  .husky/hash.txt
  src/PhpProxyHunter/CoreDB.php
Due: composer exec php-cs-fixer fix

refactor(UserDBTest): remove redundant file deletion check for SQLite test database
  tests/PhpProxyHunter/UserDBTest.php
Due: composer exec php-cs-fixer fix

refactor: try implement php linter and fixer
  .husky/hash.txt
  .php-cs-fixer.dist.php
  .vscode/settings.json
  phpcs.xml
Due: prettier --list-different --write, composer exec php-cs-fixer fix

refactor: update PHP CS Fixer and PHPCS configuration to align with PSR-12 standards
  .php-cs-fixer.dist.php
  phpcs.xml
Due: composer exec php-cs-fixer fix

refactor: update PHPCS configuration to include additional rules and improve coding standards
  composer.json
  phpcs.xml
Due: prettier --list-different --write

refactor: improve readability of CLI check in cleaner.php
  .husky/hash.txt
  artisan/cleaner.php
Due: composer exec php-cs-fixer fix

refactor: standardize indentation and formatting in phpcs.xml
  phpcs.xml
Due: none

refactor: add rule to ensure newline after opening PHP tag
  .husky/hash.txt
  .php-cs-fixer.dist.php
Due: composer exec php-cs-fixer fix

refactor: update exclusion patterns in configuration files to improve code quality checks
  .php-cs-fixer.dist.php
  phpcs.xml
Due: composer exec php-cs-fixer fix

refactor: add exclusion for incorrect exact indentation in phpcs.xml
  phpcs.xml
Due: none

fix(mysql): handle missing mysql_native_password plugin by attempting auto-install
  .husky/hash.txt
  src/PhpProxyHunter/MySQLHelper.php
Due: composer exec php-cs-fixer fix

refactor(mysql): rename static property $_databases to $databases for consistency
  .husky/hash.txt
  src/PhpProxyHunter/MySQLHelper.php
Due: composer exec php-cs-fixer fix

refactor: remove redundant PHP_PROXY_HUNTER access checks from database and scheduler classes
  .husky/hash.txt
  src/PhpProxyHunter/MySQLHelper.php
  src/PhpProxyHunter/ProxyDB.php
  src/PhpProxyHunter/SQLiteHelper.php
  src/PhpProxyHunter/Scheduler.php
  src/PhpProxyHunter/UserDB.php
Due: composer exec php-cs-fixer fix

fix(mysql): add fallback to switch user authentication to caching_sha2_password if mysql_native_password plugin auto-install fails
  .husky/hash.txt
  src/PhpProxyHunter/MySQLHelper.php
Due: composer exec php-cs-fixer fix

chore(phpcs): disable Squiz.Functions.MultiLineFunctionDeclaration.Indent sniff
  phpcs.xml
Due: none

Path conditions:
  set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
