Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, python -m black, cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.cjs": "eslint --fix",
  "*.mjs": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.sql": "prettier --list-different --write",
  "*.py": "python -m black",
  "*.php": "cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php"
}

test(proxydb): reset added_proxies state in MySQL cleanup fixture
  .husky/hash.txt
  tests/ProxyDB_MySQL_Test.py
Due: python -m black

feat(database): add expiring SQLite markers for duplicate-IP filtering
  .husky/hash.txt
  artisan/filter_duplicate_ips.py
  src/database/SQLiteMarker.py
  tests/database/SQLiteMarker_test.py
Due: python -m black

feat(crontab): add open port filtering job
  .crontab.sh
  .husky/hash.txt
  artisan/filter_open_port.py
Due: python -m black

feat(cron): migrate custom scheduler to Python with resource-aware job gating
  .crontab.py
  .crontab.txt
  .husky/hash.txt
  src/utils/process/__init__.py
  src/utils/process/resources_usage.py
Due: python -m black

fix(settings): update Python executor command to use 'py' instead of 'python'
  .vscode/settings.json
Due: prettier --list-different --write

fix(crontab): unify virtualenv selection and normalize python launcher resolution
  .crontab.py
Due: python -m black

fix(crontab): update log path for custom crontab script output
  .crontab.txt
Due: none

feat(crontab): improve scheduler interval API and resource-check configurability
  .crontab.py
  .husky/hash.txt
Due: python -m black

fix(husky): harden post-merge dependency checks and tolerate migration failure
  .husky/post-merge
Due: none

refactor(husky): optimize post-merge dependency and submodule checks
  .husky/post-merge
Due: none

chore(deps): bump fs-extra, moment-timezone, upath and proxies-grabber
  package.json
Due: prettier --list-different --write

fix(bin): avoid sourcing venv activation scripts
  bin/py
Due: none

fix(husky): ensure submodule changes trigger yarn execution
  .husky/post-merge
Due: none

fix(php-backend): add safe DB reconnect and optional production fallback
  .husky/hash.txt
  php_backend/shared.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix(geoip): propagate geoip data to all rows sharing the same IP
  artisan/geoIp.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix(index.dev.html): update FontAwesome links to version 7.2.0 with additional icons
  index.dev.html
Due: none

feat(blacklist): expand 206.123.x.x block and improve CLI test
  .husky/hash.txt
  data/blacklist.conf
  src/blacklist/blacklist.py
Due: python -m black

fix(index.dev.html): uncomment FontAwesome stylesheet link for proper loading
  index.dev.html
Due: none

chore(deps): update dependencies and binary package URLs
  package.json
Due: prettier --list-different --write

refactor(site): replace proxyManager with /proxy-list and remove proxyManager assets
  .husky/hash.txt
  django_backend/middleware.py
  js/general-site-script.js
  proxyManager-src.js
  proxyManager.css
  proxyManager.html
  proxyManager.php
  rollup.php.js
  vite-plugin.js
Due: eslint --fix, prettier --list-different --write, python -m black, cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix(proxy-checker): catch exceptions when removing invalid proxies
  .husky/hash.txt
  proxyCheckerParallel.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix(build): update import path for getChecksum from sbg-utility
  bin/build-project.mjs
Due: eslint --fix

feat(crontab): run proxy collectors without CPU/RAM checks
  .crontab.py
  .husky/hash.txt
Due: python -m black

chore: update PHP formatter and bump internal package versions
  .vscode/settings.json
  package.json
Due: prettier --list-different --write

feat(crontab,process): add resource usage monitoring script and scheduled logging
  .crontab.py
  .husky/hash.txt
  src/utils/process/process_usage.py
Due: python -m black

feat(proxy-sources): add new SSL proxy source to proxyFetcherSources
  data/proxyFetcherSources.json
  data/proxyFetcherSources.txt
Due: prettier --list-different --write

refactor(proxy-fetcher): move proxyFetcher scripts into artisan directory
  .crontab.py
  .crontab.sh
  .github/workflows/checker-python.yml
  .husky/hash.txt
  artisan/proxyFetcher.py
  artisan/proxyFetcher.ts
Due: eslint --fix, prettier --list-different --write, python -m black

feat(proxyFetcher): ignore blacklisted proxies when loading/fetching
  .husky/hash.txt
  artisan/proxyFetcher.py
Due: python -m black

feat(proxy-hunter-python): add IPv6 support to proxy extractor and validators
  .husky/hash.txt
  packages/proxy-hunter-python/proxy_hunter/utils/extractor/proxies/extract_proxies.py
  packages/proxy-hunter-python/proxy_hunter/utils/extractor/proxies/regex_match.py
  packages/proxy-hunter-python/proxy_hunter/utils/index_utils.py
  packages/proxy-hunter-python/tests/proxy_extractor.py
  packages/proxy-hunter-python/tests/run_tests.py
Due: python -m black

fix(proxy-hunter-python): validate/dedupe extracted proxies and tighten hostname checks
  .husky/hash.txt
  packages/proxy-hunter-python/proxy_hunter/utils/extractor/proxies/extract_proxies.py
  packages/proxy-hunter-python/proxy_hunter/utils/index_utils.py
  packages/proxy-hunter-python/tests/proxy_extractor.py
Due: python -m black

fix(crontab): correct argument syntax for limit in proxy scripts
  .crontab.py
  .husky/hash.txt
Due: python -m black

chore(crontab): separate proxy collectors and reschedule related jobs
  .crontab.py
Due: python -m black

fix(py-clean.cmd): ensure pip cache purge works in Windows cmd
  bin/py-clean.cmd
Due: none

refactor(py-clean): simplify script, unify OS handling, and improve robustness
  bin/py-clean
Due: none

refactor(py-purge): remove Node.js-based purge utility
  bin/py-purge
  bin/py-purge.cjs
  bin/py-purge.cmd
Due: eslint --fix

feat(logging): preserve ANSI colors and sanitize ANSI→HTML in UI
  .husky/hash.txt
  artisan/filter_open_port.py
  artisan/proxy_tun2socks_stability.py
  package.json
  src/dev/restore-proxies.py
  src/func_console.py
  src/react/pages/ProxyList/LogViewer.tsx
  src/react/pages/dashboard/CrontabLogs.tsx
  src/react/utils/ansi-to-html.ts
  src/utils/process/process_usage.py
Due: eslint --fix, prettier --list-different --write, python -m black

feat(crontab): add automated cleanup for old state and log files
  .crontab.py
  .husky/hash.txt
Due: python -m black

refactor(crontab): move cleanup task to 10-day schedule and rename weekly flag
  .crontab.py
Due: python -m black

feat(crontab): add explicit garbage collection between scheduled jobs
  .crontab.py
  .husky/hash.txt
Due: python -m black

feat(crontab): support days and compact interval format in parser
  .crontab.py
  .husky/hash.txt
Due: python -m black
