Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

feat: run CIDR scanner when untested proxies 0
  .github/workflows/checker.yml
  cidr-information/CIDR.txt
Due: prettier --list-different --write

push after rewriting commit history
  .github/workflows/checker.yml
Due: prettier --list-different --write

feat: git gc aggressive
  .github/workflows/checker.yml
Due: prettier --list-different --write

update database
  src/database.rar
Due: none

fix: missing remote of deployment repository
  .github/workflows/checker.yml
Due: prettier --list-different --write

remove `git-filter-branch`
  .github/workflows/checker.yml
Due: prettier --list-different --write

drop dead proxy when last checked less than 24 hour ago
  proxyChecker.php
Due: composer exec php-cs-fixer fix

feat: GITHUB_TOKEN for codespaces
  .env_sample
Due: none

expose SQLiteHelper class
  src/ProxyDB.php
Due: composer exec php-cs-fixer fix

feat: php-cs-fixer for windows shortcut
  bin/fix-php
  bin/fix-php.cmd
Due: none

feat: forward all CLI arguments
  bin/fix-php
  bin/fix-php.cmd
Due: none

feat: delete duplicated IP from database, leaving single one
  .github/workflows/checker.yml
  filterPorts.php
  filterPortsDuplicate.php
Due: prettier --list-different --write, composer exec php-cs-fixer fix

index auto generated files
  .husky/.gitignore
  .husky/post-checkout
  .husky/pre-push
Due: none

feat: comment
  .husky/post-merge
Due: none

Path conditions:
  eslint --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.html) or (any of: *.json)) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)
  composer exec php-cs-fixer fix: any of: *.php
