Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.cjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.mjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.ts": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.jsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.tsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

refactor(artisan/proxyCollector2): stream file processing and replace in-memory read
  .husky/hash.txt
  artisan/proxyCollector2.php
Due: composer exec php-cs-fixer fix

feat(file): add readFileChunk helper and update proxyCollector2 to use it
  .husky/hash.txt
  artisan/proxyCollector2.php
  src/utils/file/reader.php
Due: composer exec php-cs-fixer fix

feat(gitignore): add rule to ignore all .tmp files
  .gitignore
Due: none

feat(artisan/proxyCollector): update blacklist_remover to accept optional config path
  .husky/hash.txt
  artisan/proxyCollector.php
Due: composer exec php-cs-fixer fix

refactor(artisan/proxyCollector): accept PDO in blacklist_remover and add PHPDoc
  .husky/hash.txt
  artisan/proxyCollector.php
Due: composer exec php-cs-fixer fix

fix(start-whatsapp): update dependency installation to use workspaces focus for production
  bin/start-whatsapp
Due: none

refactor(post-merge): remove yarn installation and build steps
  .husky/post-merge
Due: none

chore(husky): add yarn install and build steps to post-merge hook
  .husky/post-merge
Due: none

fix(package): move ssh2 and ssh2-sftp-client as dev dependencies
  package.json
Due: prettier --list-different --write

fix(package): move i18next, nunjucks, and react to dev
  package.json
Due: prettier --list-different --write

feat(maintenance): add CLI options to toggle maintenance mode
  .husky/hash.txt
  index.php
Due: composer exec php-cs-fixer fix

fix(Home): remove unused 'Learn More' link from the Home page
  src/react/pages/Home.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(index.php): improve error handling for missing PHP files
  .husky/hash.txt
  index.php
Due: composer exec php-cs-fixer fix

fix(hooks): add VPS detection to commit history builder execution
  .husky/post-commit
  .husky/post-merge
Due: none

fix(deploy-vps): always set maintenance page, pull latest before build and upload dist
  bin/deploy-vps.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(deploy): add SFTP write/delete helpers and build lock handling
  bin/deploy-vps.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(clear-caches): comment out requirements.txt installation in virtual environment setup
  bin/clear-caches
Due: none

fix(clear-caches): add --no-interaction flag to Composer cache cleanup commands
  bin/clear-caches
Due: none

chore(bin): add minimal Python venv setup scripts
  bin/python-minimal
  bin/python-minimal.cmd
Due: none

feat(deploy): add SSH helper and make CLI invocation explicit
  bin/deploy-vps.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(deploy): add functionality to clear old files before uploading new ones
  bin/deploy-vps.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(types): add reCAPTCHA site key definitions to ImportMetaEnv
  types/vite-env.d.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(embed): resolve leading-slash file paths from project root
  .husky/hash.txt
  embed.php
Due: composer exec php-cs-fixer fix

fix(embed): handle missing file parameter and improve request parsing
  .husky/hash.txt
  embed.php
Due: composer exec php-cs-fixer fix

fix(deploy-vps): make deleteRemotePath robust for files, dirs and sftp variants
  bin/deploy-vps.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(dependencies): add @types/ssh2-sftp-client for TypeScript support
  package.json
Due: prettier --list-different --write

chore(dev-env): add conditional local-package installs with git fallbacks
  bin/python-minimal
  bin/python-minimal.cmd
Due: none

fix(install): include additional packages in pip install command
  bin/python-minimal
  bin/python-minimal.cmd
Due: none

fix(py): comment out the sudo command for requirements installation
  bin/py
Due: none

fix(venv): remove redundant message for existing virtual environment
  bin/py
  bin/py.cmd
Due: none

chore(env): detect python and improve venv creation for cross-platform setup
  bin/python-minimal
  bin/python-minimal.cmd
Due: none

fix(py): ensure python3 is executed in all cases for Unix-based systems
  bin/py
Due: none

chore(env): set script directory and add repo `bin` to PATH in setup scripts
  bin/python-minimal
  bin/python-minimal.cmd
Due: none

fix(py): improve sudo command handling for non-interactive environments
  bin/py
Due: none

fix(venv): remove redundant deletion of existing virtual environment
  bin/python-minimal
  bin/python-minimal.cmd
Due: none

fix(venv): ensure virtual environment is created only if it does not exist
  bin/python-minimal
  bin/python-minimal.cmd
Due: none

fix(git-history): remove path anonymization in git-history-to-json
  src/dev/git-history-to-json.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(eslint): add ESLint configuration file
  .idea/jsLinters/eslint.xml
Due: none

feat(locales): add OTP request and verification messages in English and Indonesian
  src/react/locales/en.json
  src/react/locales/id.json
Due: prettier --list-different --write

fix(gitignore): include /script directory in .gitignore
  data/.gitignore
Due: none
