Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

feat(proxy): add optional proxy auth to curlGetWithProxy and GeoIpHelper
  .husky/hash.txt
  func.php
  src/PhpProxyHunter/GeoIpHelper.php
Due: composer exec php-cs-fixer fix

fix(geoIp): split `$item->type` on commas or hyphens and trim/filter parts
  .husky/hash.txt
  geoIp.php
Due: composer exec php-cs-fixer fix

feat(geo): accept optional ProxyDB in getGeoIpSimple and persist results
  .husky/hash.txt
  src/PhpProxyHunter/GeoIpHelper.php
  tests/proxy/geoIpHelper.test.php
Due: composer exec php-cs-fixer fix

fix(geo): handle missing/unreadable GeoLite2 MMDB files in GeoPlugin2
  .husky/hash.txt
  src/PhpProxyHunter/GeoPlugin2.php
Due: composer exec php-cs-fixer fix

fix(geo): robustly fallback to GeoLite2 MMDB in `locate_recursive`
  src/PhpProxyHunter/GeoPlugin.php
Due: composer exec php-cs-fixer fix

feat(geoip): add robust multi-stage geo resolution with safe MMDB fallback
  .husky/hash.txt
  geoIp.php
Due: composer exec php-cs-fixer fix

fix(geo): enhance proxy processing output with index and total count
  .husky/hash.txt
  geoIp.php
Due: composer exec php-cs-fixer fix

fix(cron): add geoIp script execution to 30-minute job for missing geo information
  .crontab.sh
Due: none

fix(geo): ensure successful GeoIP resolution message is displayed for simple method
  tests/proxy/geoIpHelper.test.php
Due: composer exec php-cs-fixer fix

fix(deps): update vite to version 7.2.6 and vitest to version 4.0.16
  package.json
Due: prettier --list-different --write

fix(check-old-proxy): prefer HTTPS working types when available
  .husky/hash.txt
  php_backend/check-old-proxy.php
Due: composer exec php-cs-fixer fix

fix(check-old-proxy): update admin flag initialization to use is_debug() instead of CLI check
  .husky/hash.txt
  php_backend/check-anonymity-proxy.php
  php_backend/check-http-proxy.php
  php_backend/check-https-proxy.php
  php_backend/check-latency-proxy.php
  php_backend/check-old-proxy.php
  php_backend/check-proxy-type.php
Due: composer exec php-cs-fixer fix

feat(check-old-proxy): improve logging with colored status and clearer context
  .husky/hash.txt
  php_backend/check-old-proxy.php
Due: composer exec php-cs-fixer fix

feat(backups): add restore-proxies.py to restore chunked JSON backups
  .husky/hash.txt
  backups/restore-proxies.py
Due: black

fix(sync-backups): enable deletion of extra local files during backup sync
  .husky/hash.txt
  src/vps/menus/sync-backups.py
Due: black

feat(vps/sync): add `exclude` glob support to remote→local sync
  .husky/hash.txt
  src/vps/menus/sync-backups.py
  src/vps/sftp_client.py
  src/vps/sftp_sync.py
Due: black

feat(backups): add cleanup script and schedule 3-day job in .crontab.sh
  .crontab.sh
  .husky/hash.txt
  backups/cleanups.py
Due: black

refactor(mysql): improve MySQLHelper typing, safety and metadata
  .husky/hash.txt
  src/MySQLHelper.py
Due: black

refactor(export): enhance type hints and improve MySQL pagination checks
  .husky/hash.txt
  backups/backup-proxies.py
Due: black

fix(backup): address numpy installation issues in backup script
  bin/backup-db
Due: none

feat(backups/restore-proxies): add --db-target and enforce production-only DB creds
  .husky/hash.txt
  backups/restore-proxies.py
Due: black

refactor(backups/restore-proxies): show current chunk index in progress logs
  .husky/hash.txt
  backups/restore-proxies.py
Due: black

feat(vps): add SFTP speed test CLI and menu
  .husky/hash.txt
  src/vps/menus/speed-test.py
  src/vps/sftp_speed_test.py
Due: black

feat(sftp): add SFTP boilerplate configuration file
  .vscode/sftp-boilerplate.jsonc
Due: none

feat(proxy): add method to count HTTPS proxies
  .husky/hash.txt
  src/PhpProxyHunter/ProxyDB.php
Due: composer exec php-cs-fixer fix

feat(proxy-list): expose proxy counters and show them in ServerSide UI
  .husky/hash.txt
  php_backend/proxy-list.php
  src/react/pages/ProxyList/ServerSide.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, composer exec php-cs-fixer fix

feat(linting): add PHP_CS_FIXER_IGNORE_ENV to environment variables for PHP CS Fixer
  .lintstagedrc.json
  .vscode/settings.json
Due: prettier --list-different --write

feat(composer): add symfony/thanks to allow-plugins and update scripts section
  composer.json
Due: prettier --list-different --write

fix(doc): update parameter type hint for ProxyDB in clean_proxies_file function
  .husky/hash.txt
  func-proxy.php
Due: composer exec php-cs-fixer fix

feat(settings): enable allowNoVerifyCommit in git settings
  .vscode/settings.json
Due: prettier --list-different --write

feat(python-dependencies): add step to install minimal Python dependencies if cache missed
  .github/workflows/checker-python.yml
Due: prettier --list-different --write

fix(git): conditionally add hash file to commit only if not in a git hook
  bin/cfh.cjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(ci): run batch script instead of bash on windows
  .github/workflows/checker-python.yml
  bin/python-minimal
Due: prettier --list-different --write

fix(bin/python-minimal): use explicit PY wrapper and conditional venv activation
  bin/python-minimal
Due: none

fix(bin/python-minimal): correct venv creation and activation logic
  bin/python-minimal.cmd
Due: none

chore(editorconfig): standardize defaults and add language-specific overrides
  .editorconfig
Due: none

fix(autoload): suppress PHP 8.4 deprecation notices for implicit nullable params
  .husky/hash.txt
  func.php
  src/autoload.php
Due: composer exec php-cs-fixer fix

chore(deps): widen web-auth/webauthn-lib version constraint to include ^4.0 and ^5.0
  composer.json
Due: prettier --list-different --write

fix: adjust PHP 8.4 deprecation handling and normalize function brace style
  func.php
  src/autoload.php
Due: composer exec php-cs-fixer fix

chore(pre-commit): export PHP_CS_FIXER_IGNORE_ENV and remove php-cs-fixer lint-staged entry
  .husky/pre-commit
  .lintstagedrc.json
Due: prettier --list-different --write

Path conditions:
  set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
