Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.html": "prettier --list-different --write",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix"
}

drop restart script
  proxies-all.php
Due: composer exec php-cs-fixer fix

set default value of request.GET.search
  django_backend/apps/proxy/templates/proxy_list_index.html
Due: prettier --list-different --write

feat: clear django caches (from django_backend/apps/core/management/commands/clear_cache.py)
  fix-nginx-perm.sh
Due: none

Repeat status fetcher for [n] seconds
  django_backend/apps/proxy/templates/proxy_status.html
Due: prettier --list-different --write

feat: active proxies count
  django_backend/apps/proxy/templates/proxy_status.html
  django_backend/apps/proxy/views.py
Due: prettier --list-different --write

update styling
  django_backend/apps/proxy/templates/proxy_checker_result.html
  django_backend/apps/proxy/templates/proxy_status.html
Due: prettier --list-different --write

fix: property latency of None type
  django_backend/apps/proxy/tasks_unit/filter_ports_proxy.py
Due: none

force latency value as integer
  django_backend/apps/proxy/tasks_unit/filter_ports_proxy.py
Due: none

fix: fail count threads
  django_backend/apps/proxy/views.py
Due: none

fetch status unique each fetch
  django_backend/apps/proxy/templates/proxy_status.html
Due: prettier --list-different --write

check working proxies more than 12 hours ago first
  django_backend/apps/proxy/tasks_unit/real_check_proxy.py
Due: none

randomize query set
  django_backend/apps/proxy/tasks_unit/filter_ports_proxy.py
  django_backend/apps/proxy/tasks_unit/real_check_proxy.py
Due: none

drop limit query set untested proxy
  django_backend/apps/proxy/tasks_unit/real_check_proxy.py
Due: none

fetch_proxies_same_ip: select status is null
  django_backend/apps/proxy/tasks_unit/filter_ports_proxy.py
Due: none
