Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.html": "prettier --list-different --write",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix"
}

update comment block
  github-actions-init.php
Due: composer exec php-cs-fixer fix

extract database when total is zero
  .github/workflows/checker.yml
  .github/workflows/upload-proxies.yml
Due: prettier --list-different --write

restore waiting other CI
  .github/workflows/main.yml
Due: prettier --list-different --write

rename file and workflow
  .github/workflows/checker.yml
  .github/workflows/main.yml
  .github/workflows/upload.yml
Due: prettier --list-different --write

merge CI
  .github/workflows/checker.yml
  .github/workflows/main.yml
  .github/workflows/upload.yml
Due: prettier --list-different --write

merge scan ports
  .github/workflows/checker.yml
Due: prettier --list-different --write

try make last hour timestamp as helper function
  .github/workflows/checker.yml
Due: prettier --list-different --write

rename CI
  .github/workflows/checker.yml
Due: prettier --list-different --write

Print unique variable
  .github/workflows/checker.yml
Due: prettier --list-different --write

fix order by random and add tips
  list.php
Due: composer exec php-cs-fixer fix

Upload all proxies every week
  .github/workflows/checker.yml
Due: prettier --list-different --write

feat: run config cleaner while indexing
  .github/workflows/checker.yml
  .github/workflows/checker.yml.txt
Due: prettier --list-different --write

feat: color
  proxyManager.js
Due: eslint --fix

Update log
  filterPortsDuplicate.php
Due: composer exec php-cs-fixer fix
