Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.html": "prettier --list-different --write",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix"
}

split proxy uploader
  .github/workflows/checker.yml
Due: prettier --list-different --write

fix error yaml line 296
  .github/workflows/checker.yml
Due: prettier --list-different --write

feat: github actions cache cleaner
  bin/clear-github-actions-cache.cmd
Due: none

fix localstorage quota excedeed
  userscripts/universal.user.js
Due: eslint --fix

sanitizeHtml: only return textarea and table html avoid larger data to be saved in localstorage
  userscripts/universal.user.js
Due: eslint --fix

fix https endpoint validation
  proxyCheckerParallel.php
Due: composer exec php-cs-fixer fix

feat(checkProxyInParallel): custom endpoint
  proxyCheckerParallel.php
Due: composer exec php-cs-fixer fix

feat(checkProxyInParallel): re-check with non-https endpoint
  proxyCheckerParallel.php
Due: composer exec php-cs-fixer fix

feat: run filter port duplicate
  filterPortsBackground.php
  proxyCheckerParallel.php
Due: composer exec php-cs-fixer fix

sql query order by random
  filterPortsDuplicate.php
Due: composer exec php-cs-fixer fix

drop waiting while uploading
  userscripts/universal.user.js
Due: eslint --fix

update deps
  composer.json
Due: prettier --list-different --write

drop sudo
  .github/workflows/checker.yml
Due: prettier --list-different --write

fix unknown command `run`
  .github/workflows/checker.yml
Due: prettier --list-different --write
