Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, python -m black, cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.cjs": "eslint --fix",
  "*.mjs": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.sql": "prettier --list-different --write",
  "*.py": "python -m black",
  "*.php": "cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php"
}

chore: move Prepare Submodules and Install Dependencies after Set environment variables
  .github/workflows/checker.yml
Due: prettier --list-different --write

fix(checker): restructure job steps and update yarn/cache config
  .github/workflows/checker.yml
Due: prettier --list-different --write

fix(workflows): deduplicate cache paths, unify across checker and github-pages
  .github/workflows/checker.yml
  .github/workflows/github-pages.yml
Due: prettier --list-different --write

chore(deps-dev): add pylance to requirements-dev.txt
  requirements-dev.txt
Due: none

feat: test ci submodule
  .github/workflows/submodule.yml
Due: prettier --list-different --write

ci(submodule): harden workflow with debug output and explicit script paths
  .github/workflows/submodule.yml
Due: prettier --list-different --write

refactor(ci): remove submodule installation workflow
  .github/workflows/submodule.yml.txt
Due: none

feat(build): add checksum-based packages build script
  package.json
  scripts/build-packages.mjs
Due: eslint --fix, prettier --list-different --write

chore(vscode): clean up files.exclude and add readonly entries
  .vscode/settings.json
Due: prettier --list-different --write

fix(artisan): rename proxy-checker-opencode.py to snake_case
  .github/workflows/checker.yml
  artisan/proxy_checker_opencode.py
Due: prettier --list-different --write, python -m black

refactor(artisan): wrap asyncio.run in cli() entrypoint
  .husky/hash.txt
  artisan/proxy_checker_opencode.py
Due: python -m black

feat(cli): add shiv-bundled proxy checker CLI
  .husky/hash.txt
  data/__init__.py
  package.json
  pyproject.toml
  requirements-dev.txt
  requirements-minimal.txt
  src/__init__.py
  src/cli/python-wrapper.cjs
  src/database/__init__.py
Due: eslint --fix, prettier --list-different --write, python -m black

chore(vscode): sort settings.json keys alphabetically
  .vscode/settings.json
Due: prettier --list-different --write

feat(config): add runtime path helpers and external dotenv loading
  .husky/hash.txt
  src/func.py
Due: python -m black

refactor(dotenv): centralize .env loading via load_external_env()
  .crontab.py
  .husky/hash.txt
  artisan/proxy_ssl_test.py
  django_backend/settings.py
  src/func_platform.py
  src/shared.py
  tests/ProxyDB_MySQL_Test.py
  tests/ProxyDB_Test.py
  tests/ProxyDB_normalize_proxy_Test.py
  tests/test_get_working_proxies.py
  tests/test_mysql_helper.py
Due: python -m black

fix(prepare-deploy): update pull command to use --no-rebase for merging into python branch
  bin/prepare-deploy.cmd
Due: none

feat(build): add rollup config for CLI wrapper
  rollup.cli.js
Due: eslint --fix

fix(post-merge): improve error message for yarn installation failure
  .husky/post-merge
Due: none

Fix badge label in README
  readme.md
Due: none

fix(ci): separate yml and yaml copy steps to prevent silent failures
  .github/workflows/checker.yml
  .github/workflows/github-pages.yml
Due: prettier --list-different --write

feat(ci): share proxy files via artifacts between workflows
  .github/workflows/checker.yml
  .github/workflows/github-pages.yml
Due: prettier --list-different --write

fix(import): import ProxyDB class directly instead of module
  .husky/hash.txt
  artisan/ci-checker.py
  artisan/filter_duplicate_ips.py
  artisan/proxy_https_checker.py
Due: python -m black

refactor(filter_duplicate_ips): optimize check_proxy_http and clean up imports
  .husky/hash.txt
  artisan/filter_duplicate_ips.py
Due: python -m black

refactor(curl): extract ProxyCheckResult into its own module
  .husky/hash.txt
  packages/proxy-hunter-python/proxy_hunter/curl/ProxyCheckResult.py
  packages/proxy-hunter-python/proxy_hunter/curl/__init__.py
  packages/proxy-hunter-python/proxy_hunter/curl/proxy_utils.py
Due: python -m black

refactor(curl): convert ProxyCheckResult to dataclass with docstring
  packages/proxy-hunter-python/proxy_hunter/curl/ProxyCheckResult.py
Due: python -m black

feat(clash_verge): add YAML schema reference to generated config file
  packages/proxy-hunter-python/proxy_hunter/utils/clash_verge.py
Due: python -m black

feat(cli): add dedicated CLI entry point for python-wrapper
  src/cli/python-wrapper-cli.cjs
Due: eslint --fix

refactor(cli): convert python-wrapper from standalone script to shared module
  src/cli/python-wrapper.cjs
Due: eslint --fix

chore(cli): update configs to reference new CLI entry point
  package.json
  rollup.cli.js
Due: eslint --fix, prettier --list-different --write

feat(cli): add proxy-checker-opencode bin command for .pyz runner
  package.json
  rollup.cli.js
  src/cli/proxy-checker-opencode.cjs
Due: eslint --fix, prettier --list-different --write

feat(proxy-switcher): add Proxy Switcher LZF cache tools
  .husky/hash.txt
  requirements-base.txt
  src/proxy_switcher/__init__.py
  src/proxy_switcher/extract_database.py
  src/proxy_switcher/extract_database2.py
  src/proxy_switcher/inspect_decompressed.py
  src/proxy_switcher/inspect_proxycache.py
  src/proxy_switcher/psw_lzf.py
  src/proxy_switcher/readme.md
  src/proxy_switcher/replace_proxy_test.py
  src/proxy_switcher/rewrite_database.py
  tests/proxy_switcher/test_psw_lzf.py
Due: python -m black

docs(python-editor): update validation commands to use bin/py wrapper
  .opencode/agents/python-editor.agent.md
Due: none

feat(bin): add cross-platform exec utility
  .husky/hash.txt
  bin/exec
  bin/exec.cmd
  bin/exec.ps1
  bin/exec.py
Due: python -m black

feat(opencode): add opencode-mem plugin to configuration
  .opencode/opencode.jsonc
Due: none

chore: update project configuration files
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  package.json
  pyproject.toml
Due: prettier --list-different --write
