Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.html": "prettier --list-different --write",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix"
}

drop endless mode
  fix-nginx-perm.sh
Due: none

feat: blacklist ip deleter
  data/blacklist.conf
  proxies-all.php
Due: composer exec php-cs-fixer fix

update from python branch
  .gitignore
  .htaccess
  .idea/htdocs.iml
  .idea/runConfigurations/django_run_sever.xml
  .vscode/launch.json
  requirements_base.txt
  requirements_install.py
Due: prettier --list-different --write

prioritize untested proxies from database
  filterPorts.php
Due: composer exec php-cs-fixer fix

feat: debug device checker
  src/func_platform.py
Due: none

install other django deps
  requirements_base.txt
Due: none

feat: add proxy once
  proxies-all.php
Due: composer exec php-cs-fixer fix

mark empty proxy as added proxy (invalid)
  proxies-all.php
  src/simplehtmldom/HtmlDocument.php
  src/simplehtmldom/HtmlNode.php
  src/simplehtmldom/HtmlWeb.php
  src/simplehtmldom/helper.php
Due: composer exec php-cs-fixer fix

feat: script runner
  bin/executor.sh
Due: none

update working executor (linux and windows cygwin)
  bin/executor.sh
  fix-nginx-perm.sh
Due: none

feat: working site
  proxyFetcher.php
  proxyFetcherSources.txt
  userscripts/universal.user.js
Due: eslint --fix, composer exec php-cs-fixer fix

feat: clear VPS cache script
  bin/clear-caches.sh
Due: none

update django service setup
  .htaccess_nginx.conf
  .vscode/extensions.json
  assets/.gitignore
  assets/systemctl/django.service
  assets/systemctl/spring.service
  requirements_base.txt
  requirements_install.py
Due: prettier --list-different --write

update django service
  .gitignore
  .htaccess_nginx.conf
  assets/systemctl/gunicorn.service
  django_backend/index.html
Due: prettier --list-different --write
