Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.html": "prettier --list-different --write",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix"
}

fix unknown command `run`
  .github/workflows/checker.yml
Due: prettier --list-different --write

run proxies-all.php every 4 hours
  .github/workflows/checker.yml
Due: prettier --list-different --write

Create readme.md
  userscripts/readme.md
Due: none

feat: mark data sent as md5 minimize size of data saved in localstorage
  package.json
  userscripts/universal.meta.js
  userscripts/universal.user.js
Due: eslint --fix, prettier --list-different --write

feat: parse query parameter or post body
  func.php
  tests/parseQueryOrPost.php
Due: composer exec php-cs-fixer fix

parsePostData: return empty array on fail
  func.php
Due: composer exec php-cs-fixer fix

add custom PATH
  func.php
Due: composer exec php-cs-fixer fix

write file before set permission
  proxyCheckerBackground.php
Due: composer exec php-cs-fixer fix

update phpseclib
  composer.json
Due: prettier --list-different --write

change pid file
  proxyCheckerBackground.php
Due: composer exec php-cs-fixer fix

update permissions
  fix-nginx-perm.sh
Due: none

force crypto-js v4.1.1
  package.json
Due: prettier --list-different --write

fix: update PATH variable for Ubuntu
  func.php
Due: composer exec php-cs-fixer fix

feat: skip active proxy
  filterPortsDuplicate.php
Due: composer exec php-cs-fixer fix
