Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.cjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.mjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.ts": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.jsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.tsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

chore(scripts): add repo-root py.cmd wrapper to forward to bin\py.cmd
  py.cmd
Due: none

feat(script): add python-pyside.cmd to fix PySide6 installation in existing venv
  bin/python-pyside.cmd
Due: none

feat(settings): add save_text and load_text functions for QSettings management
  .husky/hash.txt
  src/pyside6/utils/settings.py
Due: black

fix(sqlitehelper): use per-operation cursors and normalize execute params
  .husky/hash.txt
  src/SQLiteHelper.py
Due: black

feat(proxy-checker): implement ProxyChecker UI
  .husky/hash.txt
  python_app/proxyCheckerGui.py
Due: black

feat(utils,curl): add realpath helper and enhance DebugSession logging
  .husky/hash.txt
  packages/proxy-hunter-python/proxy_hunter/__init__.py
  packages/proxy-hunter-python/proxy_hunter/curl/DebugSession.py
  packages/proxy-hunter-python/proxy_hunter/utils/__init__.py
  packages/proxy-hunter-python/proxy_hunter/utils/file/__init__.py
  packages/proxy-hunter-python/proxy_hunter/utils/file/path.py
Due: black

fix(php-cs-fixer): avoid CLI-path override warning by setting Finder conditionally
  .husky/hash.txt
  .php-cs-fixer.dist.php
Due: composer exec php-cs-fixer fix

refactor(utils): move isDateRFC3339OlderThanHours from func.php to utils
  .husky/hash.txt
  func.php
  src/PhpProxyHunter/utils/date_rfc_3339.php
Due: composer exec php-cs-fixer fix

refactor(checkPorts): remove helper and use direct output buffering check
  .husky/hash.txt
  cidr-information/checkPorts.php
  func.php
Due: composer exec php-cs-fixer fix

feat(file-lock): add release() convenience method to FileLockHelper
  src/PhpProxyHunter/FileLockHelper.php
Due: composer exec php-cs-fixer fix

feat(proxyAdd): enable CORS support by using Server::allowCors method
  .husky/hash.txt
  proxyAdd.php
Due: composer exec php-cs-fixer fix

feat(proxy): add __toString to Proxy and enhance test output
  .husky/hash.txt
  src/PhpProxyHunter/Proxy.php
  tests/extractProxy.php
Due: composer exec php-cs-fixer fix

feat(proxy-add): add file locking, parse and normalize added proxies, return JSON responses
  .husky/hash.txt
  php_backend/proxy-add.php
Due: composer exec php-cs-fixer fix

feat(proxy-add): add robust locking, JSON errors and optional merge to proxies.txt
  .husky/hash.txt
  php_backend/proxy-add.php
  proxyAdd.php
Due: composer exec php-cs-fixer fix

feat(proxy-check): notify server on proxy check
  .husky/hash.txt
  python_app/proxyCheckerGui.py
Due: black

feat(proxy-add): change response handling to process text instead of JSON
  src/react/pages/ProxyList/ProxySubmission.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(proxy): add paginated proxy-working API and client parsing
  .husky/hash.txt
  php_backend/proxy-working.php
  src/PhpProxyHunter/ProxyDB.php
  src/react/pages/ProxyList.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, composer exec php-cs-fixer fix

feat(proxy-list): switch to server-side pagination and return meta from getWorkingProxies
  src/react/pages/ProxyList.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(proxy-list): conditionally start background checker based on processes.php output
  src/react/pages/ProxyList.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(proxy): limit large proxy result sets to prevent memory exhaustion
  .husky/hash.txt
  func-proxy.php
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

fix(proxy-checker): use project tmp, ensure output dir and fix Windows runner
  .husky/hash.txt
  php_backend/proxy-checker.php
  src/utils/process/runBashOrBatch.php
Due: composer exec php-cs-fixer fix

feat(file): make ensure_dir accept variadic path segments and add ensure_dirs helper
  .husky/hash.txt
  src/utils/file/index.php
Due: composer exec php-cs-fixer fix

refactor(file): extract path and mkdir helpers; make ensure_dir variadic and add ensure_dirs
  .husky/hash.txt
  src/utils/file/index.php
  src/utils/file/mkdir.php
  src/utils/file/path.php
Due: composer exec php-cs-fixer fix

fix(FileLockHelper): change filePath visibility to public and improve lock acquisition message
  .husky/hash.txt
  src/PhpProxyHunter/FileLockHelper.php
Due: composer exec php-cs-fixer fix

feat(user-payment-logs): add explicit filtering logic for package and payment action types
  src/react/pages/dashboard/UserPaymentLogs.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(server): add unified response helpers for JSON, text, and HTML outputs
  .husky/hash.txt
  src/utils/server/respond.php
Due: composer exec php-cs-fixer fix

feat(matcher): add case-insensitive string equality check function
  src/utils/string/matcher.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

style(ui): add dark-mode shadows (dark:shadow-white) to components
  src/react/components/LanguageSwitcher.tsx
  src/react/components/Modal.tsx
  src/react/components/Navbar.tsx
  src/react/pages/About.tsx
  src/react/pages/Contact.tsx
  src/react/pages/NotFound.tsx
  src/react/pages/OauthHandler.tsx
  src/react/pages/Outbound.tsx
  src/react/pages/ProxyList.tsx
  src/react/pages/ProxyList/ApiUsage.tsx
  src/react/pages/ProxyList/LogViewer.tsx
  src/react/pages/ProxyList/ModifyCurl.tsx
  src/react/pages/ProxyList/ProxySubmission.tsx
  src/react/pages/Settings.tsx
  src/react/pages/dashboard/DashboardContent.tsx
  src/react/pages/dashboard/UserPaymentLogs.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(recaptcha): make token parameter optional in verifyRecaptcha function
  src/react/utils/recaptcha.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(router): use useLocation for SPA titles & analytics
  src/react/index.tsx
  src/react/pages/Login.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(security): strictly validate captcha and block unauthorized access
  .husky/hash.txt
  embed.php
  php_backend/proxy-working.php
Due: composer exec php-cs-fixer fix

feat(recaptcha): check session expiry before executing recaptcha
  src/react/index.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(react): add Highlight.js example page and route
  src/react/index.tsx
  src/react/pages/examples/HighlightJS.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(codeblock): replace manual highlight.js with react-syntax-highlighter
  package.json
  src/react/components/CodeBlock.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

fix(codeblock): replace react-syntax-highlighter with runtime highlight.js to fix prod build errors
  package.json
  src/react/components/CodeBlock.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

style(buttons): remove shadow utilities from button classNames
  src/react/pages/NotFound.tsx
  src/react/pages/ProxyList.tsx
  src/react/pages/admin/LogsSection.tsx
  src/react/pages/dashboard/UserActivityCard.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(codeblock): add Vite-safe on-demand highlight.js language loaders and demo
  src/react/components/CodeBlock.tsx
  src/react/pages/examples/HighlightJS.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(deploy): add UI-only deploy flag and pass-through args for Windows script
  bin/deploy-vps.cmd
  bin/deploy-vps.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(react): move ProxyList into its own folder and update imports
  src/react/pages/ProxyList/index.tsx
  src/react/routes.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(proxyAdd): simplify proxy addition logic by including proxy-add.php directly
  .husky/hash.txt
  proxyAdd.php
Due: composer exec php-cs-fixer fix
