Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.cjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.mjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.ts": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.jsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.tsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

fix(ui): contain wide logs & activity tables in scroll wrappers
  src/react/pages/admin/LogsSection.tsx
  src/react/pages/dashboard/UserActivityCard.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(i18n): localize UI strings and add missing translations/hooks
  src/react/components/Navbar.tsx
  src/react/locales/en.json
  src/react/locales/id.json
  src/react/pages/Admin.tsx
  src/react/pages/Changelog.tsx
  src/react/pages/Dashboard.tsx
  src/react/pages/Login.tsx
  src/react/pages/OauthHandler.tsx
  src/react/pages/ProxyList.tsx
  src/react/pages/ProxyList/ModifyCurl.tsx
  src/react/pages/ProxyList/ProxySubmission.tsx
  src/react/pages/dashboard/DashboardContent.tsx
  src/react/pages/dashboard/UserActivityCard.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

fix(embed, proxy-list): handle forbidden response with error flag and prevent invalid proxy fetch
  .husky/hash.txt
  embed.php
  src/react/pages/ProxyList.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, composer exec php-cs-fixer fix

fix: incompatible master branch content
  src/react/pages/Dashboard.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

style(css): add global styles to disable elements with .disabled class or disabled attribute
  tailwind.input.css
Due: prettier --list-different --write

feat(submodule): add jquery-form-saver submodule configuration
  .gitmodules
Due: none

chore(config): enforce single space around concatenation in .php-cs-fixer.dist.php
  .husky/hash.txt
  .php-cs-fixer.dist.php
Due: composer exec php-cs-fixer fix

refactor(Admin): remove unused components from the Admin page
  src/react/pages/Admin.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

chore(deploy): restore local Vite setup after remote build
  bin/deploy-vps.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor: replace include with require_once for shared.php in multiple files
  .husky/hash.txt
  artisan/filterPorts.php
  artisan/filterPortsDuplicate.php
  php_backend/check-http-proxy.php
  php_backend/check-https-proxy.php
  php_backend/google-oauth.php
  php_backend/list-user.php
  php_backend/login.php
  php_backend/logs.php
  php_backend/processes.php
  php_backend/proxy-add.php
  php_backend/proxy-checker.php
  php_backend/refill-saldo.php
  php_backend/user-info.php
  proxyCheckerParallel-func.php
Due: composer exec php-cs-fixer fix

fix(include): remove legacy require and use require_once for shared include
  .husky/hash.txt
  artisan/filterPortsDuplicate.php
  proxyCheckerParallel-func.php
Due: composer exec php-cs-fixer fix

chore(settings): update VSCode settings for improved editor behavior
  .vscode/settings.json
Due: prettier --list-different --write

feat(types): add DEV and BASE_URL properties to ImportMetaEnv interface
  types/vite-env.d.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(proxy-hunter-python): export ConfigDB from utils to package API
  .husky/hash.txt
  packages/proxy-hunter-python/proxy_hunter/__init__.py
  packages/proxy-hunter-python/proxy_hunter/utils/__init__.py
Due: black

feat(requirements): add isort to development dependencies
  requirements-dev.txt
Due: none

fix(yarn): update yarn to version 4.11.0
  .yarn/releases/yarn-4.10.3.cjs
  .yarn/releases/yarn-4.11.0.cjs
  .yarnrc.yml
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

chore(pyproject): add 'bas' to include and expand exclude paths
  pyproject.toml
Due: none

fix(python-minimal): add pycryptodome to pip install command
  bin/python-minimal.cmd
Due: none

fix(deploy-vps): invalid yarn task
  bin/deploy-vps.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(types): add DeepPartial and DeepRequired utility types
  types/type.d.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

test(tests): standardize test DB to `phpunit_test_db` and normalize test formatting
  .husky/hash.txt
  tests/PhpProxyHunter/ActivityLogPopulate.php
  tests/PhpProxyHunter/ActivityLogTest.php
  tests/PhpProxyHunter/CoreDBTest.php
  tests/PhpProxyHunter/LogRepositoryMigrationsDebug.php
  tests/PhpProxyHunter/MySQLHelperTest.php
  tests/PhpProxyHunter/ProxyDBTest.php
  tests/PhpProxyHunter/UserDBSaldoArithmeticTest.php
  tests/PhpProxyHunter/UserDBTest.php
Due: composer exec php-cs-fixer fix

fix: php-cs-fixer
  .husky/hash.txt
  func-proxy.php
  src/FileSessionHandler.php
  src/PhpProxyHunter/ActivityLog.php
  src/PhpProxyHunter/ActivityLogMigration.php
  src/PhpProxyHunter/AnsiColors.php
  src/PhpProxyHunter/FileLockHelper.php
  src/PhpProxyHunter/GeoIpHelper.php
  src/PhpProxyHunter/GeoPlugin.php
  src/PhpProxyHunter/GeoPlugin2.php
  src/PhpProxyHunter/Meta.php
  src/PhpProxyHunter/Session.php
  src/PhpProxyHunter/UserDB.php
  src/PhpProxyHunter/shim.php
  src/PhpProxyHunter/utils/cidr.php
  src/PhpProxyHunter/utils/path.php
  src/PhpProxyHunter/utils/ports.php
  src/PhpProxyHunter/utils/validator.php
  src/database/env.php
  src/hashers/CustomPasswordHasher.php
  src/simplehtmldom/Debug.php
  src/simplehtmldom/HtmlDocument.php
  src/simplehtmldom/HtmlNode.php
  src/simplehtmldom/HtmlWeb.php
  src/simplehtmldom/example/example_callback.php
  src/simplehtmldom/helper.php
  src/simplehtmldom/simple_html_dom.php
  src/utils/file/crud.php
  src/utils/file/reader.php
  src/utils/file/sanitizer.php
  src/utils/file/stats.php
  src/utils/shim/string.php
  src/utils/string/index.php
  src/utils/string/useragent.php
  src/utils/utils.php
Due: composer exec php-cs-fixer fix

chore(deps): bump many dev/prod dependencies and update resolutions
  package.json
Due: prettier --list-different --write

feat(utils): add runtime type detection helpers
  src/utils/data/detection.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(data): add hideArrayData helper to recursively mask array values
  .husky/hash.txt
  src/utils/data/hideArrayData.php
Due: composer exec php-cs-fixer fix

feat(utils): add isEmpty helper and improve isNotEmpty docs
  src/utils/string.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(logs): add GET-based pagination overrides and structured pagination metadata
  .husky/hash.txt
  php_backend/logs.php
Due: composer exec php-cs-fixer fix

feat(dashboard): replace UserActivityCard with new UserPaymentLogs component
  src/react/pages/Dashboard.tsx
  src/react/pages/dashboard/UserPaymentLogs.tsx
  types/php_backend/logs.d.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(build): add --force flag to override checksum checks and force rebuild
  bin/build-project.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(proxydb): add MySQL backend support and MySQL-only tests
  .husky/hash.txt
  src/ProxyDB.py
  tests/ProxyDB_MySQL_Test.py
  tests/ProxyDB_Test.py
Due: black

feat(proxydb): enhance get_untested_proxies to support randomization option
  .husky/hash.txt
  src/ProxyDB.py
Due: black

feat(config): add explicit sqlite/mysql connection parameters to ConfigDB constructor
  packages/proxy-hunter-python/proxy_hunter/utils/config.py
Due: black

feat(proxydb): add debug option to extract_proxies for enhanced logging
  .husky/hash.txt
  src/ProxyDB.py
Due: black

feat(proxydb): enhance get_working_proxies to support limit and randomization options
  .husky/hash.txt
  src/ProxyDB.py
Due: black

feat(func_date): add convert_rfc3339_to_datetime function for parsing RFC 3339 timestamps
  .husky/hash.txt
  src/func_date.py
Due: black

feat(proxylist): update badge key and format text to uppercase for better visibility
  src/react/pages/ProxyList.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(proxyWorking): improve structure, locking, and background execution handling
  .husky/hash.txt
  artisan/proxyWorking.php
  php_backend/shared.php
Due: composer exec php-cs-fixer fix

refactor(utils): reorganize file utilities into submodules
  .husky/hash.txt
  packages/proxy-hunter-python/.gitignore
  packages/proxy-hunter-python/proxy_hunter/utils/__init__.py
  packages/proxy-hunter-python/proxy_hunter/utils/file/__init__.py
  packages/proxy-hunter-python/proxy_hunter/utils/file/copy.py
  packages/proxy-hunter-python/proxy_hunter/utils/file/delete.py
  packages/proxy-hunter-python/proxy_hunter/utils/file/folder.py
  packages/proxy-hunter-python/proxy_hunter/utils/file/others.py
  packages/proxy-hunter-python/proxy_hunter/utils/file/permissions.py
  packages/proxy-hunter-python/proxy_hunter/utils/file/read.py
  packages/proxy-hunter-python/proxy_hunter/utils/file/writer.py
  packages/proxy-hunter-python/proxy_hunter/utils/md5.py
  packages/proxy-hunter-python/tests/delete_path.py
Due: black

refactor(utils): move `remove_non_ascii` to ansi module and update imports
  packages/proxy-hunter-python/proxy_hunter/utils/__init__.py
  packages/proxy-hunter-python/proxy_hunter/utils/ansi.py
  packages/proxy-hunter-python/proxy_hunter/utils/file/__init__.py
  packages/proxy-hunter-python/proxy_hunter/utils/file/others.py
Due: black

refactor(file): extract size utilities to file/size.py and clean exports
  packages/proxy-hunter-python/proxy_hunter/utils/file/__init__.py
  packages/proxy-hunter-python/proxy_hunter/utils/file/others.py
  packages/proxy-hunter-python/proxy_hunter/utils/file/size.py
Due: black
