Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

refactor: simplify admin flag assignment based on CLI status
  .husky/hash.txt
  php_backend/check-https-proxy.php
Due: composer exec php-cs-fixer fix

refactor: streamline proxy handling
  .husky/hash.txt
  php_backend/check-https-proxy.php
Due: composer exec php-cs-fixer fix

feat: add method to retrieve current URL, handle CLI mode
  .husky/hash.txt
  src/PhpProxyHunter/Server.php
Due: composer exec php-cs-fixer fix

feat: usage instructions for direct access
  .husky/hash.txt
  php_backend/check-https-proxy.php
Due: composer exec php-cs-fixer fix

refactor: enhance query parsing by enabling post data handling in non-CLI mode
  .husky/hash.txt
  func.php
Due: composer exec php-cs-fixer fix

refactor: improve user ID handling for CLI and non-CLI modes
  .husky/hash.txt
  func.php
Due: composer exec php-cs-fixer fix

refactor: enhance command line option parsing and add admin flag support
  .husky/hash.txt
  php_backend/check-https-proxy.php
Due: composer exec php-cs-fixer fix

refactor: simplify lock release logging based on admin status
  .husky/hash.txt
  php_backend/check-https-proxy.php
Due: composer exec php-cs-fixer fix

refactor: enhance lock file handling for non-admin commands and schedule cleanup
  .husky/hash.txt
  php_backend/check-https-proxy.php
Due: composer exec php-cs-fixer fix

refactor: improve user info response handling with default values
  .husky/hash.txt
  php_backend/user-info.php
Due: composer exec php-cs-fixer fix

refactor: implement dynamic rollup configuration loading
  rollup.config.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor: add Google login button and functionality
  views/_partials/login.twig
  views/assets/js/login.js
  views/index.twig
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor: add ProxyDetails interface
  types/proxy.d.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: proxy working getter
  php_backend/index.css
  php_backend/index.html
  php_backend/index.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

refactor: simplify admin command logging and lock file check
  .husky/hash.txt
  php_backend/check-https-proxy.php
Due: composer exec php-cs-fixer fix

refactor: reorder condition in execution time limit check
  .husky/hash.txt
  php_backend/check-https-proxy.php
Due: composer exec php-cs-fixer fix

Path conditions:
  set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
