Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.html": "prettier --list-different --write",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix"
}

fix: validate already added proxies
  proxies-all.php
Due: composer exec php-cs-fixer fix

feat: column
  assets/database/create.sql
Due: none

fix: create required folder first
  .github/workflows/checker.yml
Due: prettier --list-different --write

feat(updateData): time string option
  src/PhpProxyHunter/ProxyDB.php
Due: composer exec php-cs-fixer fix

fix: dont update time string
  filterPorts.php
  filterPortsDuplicate.php
Due: composer exec php-cs-fixer fix

update database with django schemas
  src/database.rar
Due: none

feat: `git fsck --full`
  bin/git-gc.cmd
Due: none

feat: resolve relative path
  src/func.py
Due: none

feat: enable celery task event
  .vscode/tasks.json
Due: prettier --list-different --write

feat: always run migrations
  .vscode/tasks.json
Due: prettier --list-different --write

drop `celery`
  .vscode/tasks.json
  django_backend/__init__.py
  django_backend/apps/proxy/tasks.py
  django_backend/apps/proxy/urls.py
  django_backend/apps/proxy/views.py
  django_backend/celery.py
  django_backend/settings.py
  requirements_base.txt
Due: prettier --list-different --write

update html sanitizer
  userscripts/universal.user.js
Due: eslint --fix

fix(django): proxy checker in background
  django_backend/apps/proxy/models.py
  django_backend/apps/proxy/views.py
Due: none

upload_proxy: force parameter as string
  src/func_proxy.py
Due: none
