Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.html": "prettier --list-different --write",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix"
}

feat(dispatch): maximum proxies to be checked
  .github/workflows/php.yml
Due: prettier --list-different --write

feat: npm, composer, github actions
  .github/dependabot.yml
Due: prettier --list-different --write

feat: xl axiata host
  data/cacert.pem
  data/get-ca.sh
Due: none

fix composer
  .github/dependabot.yml
Due: prettier --list-different --write

feat: prettier plugin sql
  .lintstagedrc.json
  .prettierrc.json
  .yarn/releases/yarn-4.2.2.cjs
  assets/database/create.sql
  package.json
Due: prettier --list-different --write

set permission 755
  composer.phar
Due: none

re-enable post create command
  .devcontainer/devcontainer.json
Due: prettier --list-different --write

fix: missing folder `public/proxies`
  .github/workflows/php.yml
Due: prettier --list-different --write

feat: nodejs cache
  .github/workflows/php.yml
Due: prettier --list-different --write

force reinstall yarn
  .devcontainer/Dockerfile
Due: none

add proxy source
  proxyFetcher.php
Due: composer exec php-cs-fixer fix

feat: php-cs-fixer format shortcut
  bin/check-proxy-parallel
  bin/check-proxy-parallel.cmd
  bin/check-proxy.cmd
  bin/filter-port.cmd
  bin/fix-php
  bin/kills.cmd
  bin/loop-check-proxy.cmd
  bin/undo-commit.cmd
Due: none

merge sqlite schema initializer
  assets/database/create.sql
  configCleaner.php
  func-proxy.php
  func.php
  proxyWorking.php
  src/ProxyDB.php
Due: composer exec php-cs-fixer fix

feat: clear github actions cache, leaving latest one
  .github/workflows/php.yml
  bin/clear-github-actions-cache
Due: prettier --list-different --write
