Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix, black

rename cache file
  packages/proxy-hunter-python/proxy_hunter/proxyhunter2.py
Due: black

feat: chunk generator
  packages/proxy-hunter-python/proxy_hunter/proxyhunter2.py
Due: black

move file utils into `proxy_hunter`
  .husky/hash.txt
  packages/proxy-hunter-python/proxy_hunter/utils/file.py
  src/func.py
Due: black

move logging utility to src.func_console
  .husky/hash.txt
  django_backend/apps/proxy/tasks_unit/real_check_proxy.py
  src/SQLiteHelper.py
  src/func.py
  src/func_console.py
  src/func_proxy.py
Due: black

move utils into `proxy_hunter`
  .husky/hash.txt
  django_backend/apps/proxy/tasks_unit/real_check_proxy.py
  packages/proxy-hunter-python/proxy_hunter/utils/file.py
  packages/proxy-hunter-python/proxy_hunter/utils/index_utils.py
  proxyWorking.py
  src/func.py
  src/func_proxy.py
Due: black

feat: create dist folder
  .husky/hash.txt
  github-actions-init.py
Due: black

move utilities to `proxy_hunter`
  .husky/hash.txt
  .idea/inspectionProfiles/Project_Default.xml
  .idea/runConfigurations/proxyCheckerReal.xml
  django_backend/apps/core/management/commands/check_proxies.py
  django_backend/apps/proxy/tasks_unit/filter_ports_proxy.py
  django_backend/apps/proxy/tasks_unit/real_check_proxy.py
  filterPortsDuplicate.py
  packages/proxy-hunter-python/proxy_hunter/__init__.py
  packages/proxy-hunter-python/proxy_hunter/curl/prox_check.py
  packages/proxy-hunter-python/proxy_hunter/utils/__init__.py
  packages/proxy-hunter-python/proxy_hunter/utils/index_utils.py
  proxyCheckerReal.py
  proxyWorking.py
  src/func.py
  src/func_proxy.py
Due: black

remove unused function
  .husky/hash.txt
  src/func_proxy.py
Due: black

update imports
  django_backend/apps/proxy/tasks_unit/real_check_proxy.py
Due: black

Update install steps
  .github/workflows/checker-python.yml
  .github/workflows/nuitka.yml
Due: prettier --list-different --write

fix: run create file hashes only for .py or .php extension
  .husky/pre-commit
  .husky/pre-merge-commit
Due: none

feat: check missing packages
  .husky/hash.txt
  github-actions-init.py
Due: black

feat: github ci caches cleaner split auto clean steps from all CI
  .github/workflows/checker-php.yml
  .github/workflows/checker-python.yml
  .github/workflows/clean-caches.yml
  .github/workflows/nuitka-debug.yml
  .github/workflows/nuitka.yml
Due: prettier --list-different --write

update cache paths
  .github/workflows/checker-php.yml
  .github/workflows/checker-php.yml.txt
  .github/workflows/checker-python.yml
  .github/workflows/nuitka-debug.yml
  .github/workflows/nuitka.yml
Due: prettier --list-different --write

Path conditions:
  eslint --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: (((((((any of: *.html) or (any of: *.json)) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
