Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

feat(ProxyList): implement proxy re-check functionality with API call support
  src/react/pages/ProxyList.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(CodeBlock): prevent warning by unsetting previous highlight before re-highlighting
  src/react/components/CodeBlock.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(proxy-checker): enhance dead proxy messages with detailed proxy information
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

fix(proxy-checker): improve dead and active proxy messages with detailed proxy information
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

feat(proxy-checker): add detailed logging of proxy details before performing checks
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

feat(proxy-list): add always-visible log viewer with polling and improved recheck UX
  src/react/pages/ProxyList.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(proxy-checker): ensure working proxies are saved to JSON on shutdown
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

refactor(react): move ProxyCheckerApiUsage to separate ApiUsage component
  src/react/pages/ProxyList.tsx
  src/react/pages/ProxyList/ApiUsage.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(react): extract log viewer section to LogViewer component
  src/react/pages/ProxyList.tsx
  src/react/pages/ProxyList/LogViewer.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(proxy-checker): enhance shutdown logging with proxy details and ensure lock file removal
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

feat(proxy-list): add automatic refresh of proxy list every minute
  src/react/pages/ProxyList.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(proxy-checker): extract proxy details formatting to helper
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

fix(proxy-checker): log attempts to access IP services with proxy details
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

fix(proxy-checker): improve logging and status file handling during proxy checks
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

feat(react): add Snackbar component and integrate notifications
  src/react/components/Snackbar.tsx
  src/react/index.tsx
  src/react/pages/ProxyList.tsx
  src/react/pages/samples/SnackBarSample.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(snackbar): add stackable notifications with configurable max count
  src/react/components/Snackbar.tsx
  src/react/index.tsx
  src/react/pages/samples/SnackBarSample.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

docs(snackbar): add TSDoc comments and usage examples
  src/react/components/Snackbar.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(log-viewer): add reset log functionality in UI and backend
  .husky/hash.txt
  php_backend/proxy-checker.php
  src/react/pages/ProxyList/LogViewer.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, composer exec php-cs-fixer fix

refactor(react): decouple log viewer state and improve proxy fetch error handling
  src/react/pages/ProxyList.tsx
  src/react/pages/ProxyList/LogViewer.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(ci): load .env.example and set VITE_ variables in GitHub Actions
  vite-gh-pages.config.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(proxy): add configurable cURL timeout setting via UI and backend
  .husky/hash.txt
  php_backend/proxy-checker.php
  src/react/pages/ProxyList.tsx
  src/react/pages/ProxyList/ModifyCurl.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, composer exec php-cs-fixer fix

feat(proxy): use createUrl utility for fetching cURL timeout in PHP
  src/react/pages/ProxyList/ModifyCurl.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(recaptcha): improve code structure and enhance reCAPTCHA verification logic
  .husky/hash.txt
  php_backend/recaptcha.php
Due: composer exec php-cs-fixer fix

fix(recaptcha): ensure reCAPTCHA secret key is configured before verification
  .husky/hash.txt
  php_backend/recaptcha.php
Due: composer exec php-cs-fixer fix

fix(logs): ensure proper JSON validation and fallback encoding
  .husky/hash.txt
  src/PhpProxyHunter/LogsRepository.php
  src/PhpProxyHunter/shim.php
Due: composer exec php-cs-fixer fix

fix(shim): update json_validate function to match PHP 8.3 polyfill specifications
  .husky/hash.txt
  src/PhpProxyHunter/shim.php
Due: composer exec php-cs-fixer fix

feat(shim): add PHP 8 compatibility shims for removed/deprecated functions
  .husky/hash.txt
  src/PhpProxyHunter/shim.php
Due: composer exec php-cs-fixer fix

fix(logs): correct require_once placement for shim.php in LogsRepository
  .husky/hash.txt
  src/PhpProxyHunter/LogsRepository.php
Due: composer exec php-cs-fixer fix

fix(logs): add namespace prefix to json_validate function call in addLog method
  .husky/hash.txt
  src/PhpProxyHunter/LogsRepository.php
Due: composer exec php-cs-fixer fix

fix(SQLiteHelper): comment out debug var_dump statements in modifyColumn method
  .husky/hash.txt
  src/PhpProxyHunter/SQLiteHelper.php
Due: composer exec php-cs-fixer fix

refactor(logs): remove user_activity table and related methods
  .husky/hash.txt
  src/PhpProxyHunter/LogsRepository.php
  src/PhpProxyHunter/LogsRepositoryMigrations.php
  src/PhpProxyHunter/UserDB.php
  src/PhpProxyHunter/assets/mysql-schema.sql
  src/PhpProxyHunter/assets/sqlite-schema.sql
Due: prettier --list-different --write, composer exec php-cs-fixer fix

feat(Admin): add LogsSection component to display log activity
  src/react/pages/Admin.tsx
  src/react/pages/admin/LogsSection.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(logs): allow admins to fetch all logs in JSON format
  .husky/hash.txt
  php_backend/logs.php
Due: composer exec php-cs-fixer fix

feat(db): add hasTable() method to check table existence
  .husky/hash.txt
  src/PhpProxyHunter/BaseSQL.php
  src/PhpProxyHunter/CoreDB.php
  src/PhpProxyHunter/MySQLHelper.php
  src/PhpProxyHunter/SQLiteHelper.php
  tests/PhpProxyHunter/CoreDBTest.php
Due: composer exec php-cs-fixer fix

feat(logs): add pagination and merge logs from user_logs and package_logs
  .husky/hash.txt
  php_backend/logs.php
  src/PhpProxyHunter/LogsRepository.php
Due: composer exec php-cs-fixer fix

feat(admin): add logs pagination and fetch from backend
  src/react/components/Pagination.tsx
  src/react/pages/admin/LogsSection.tsx
  types/php_backend/logs.d.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(logs): enhance logs with user and package details
  .husky/hash.txt
  src/PhpProxyHunter/LogsRepository.php
  src/react/pages/admin/LogsSection.tsx
  types/php_backend/logs.d.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, composer exec php-cs-fixer fix

feat(types): add stub type definition for 'php_backend'
  types/php_backend.d.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(logs): dynamic table rendering for logs with flexible columns
  .husky/hash.txt
  src/PhpProxyHunter/LogsRepository.php
  src/react/pages/admin/LogsSection.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, composer exec php-cs-fixer fix

refactor: standardize string quotes to single quotes across JavaScript files
  django_backend/apps/core/statics/js/base_script.js
  django_backend/apps/proxy/statics/checker_result.js
  django_backend/apps/proxy/statics/proxy_index.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

Path conditions:
  set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
