Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

fix: not parsing application/x-www-form-urlencoded
  .husky/hash.txt
  func.php
Due: composer exec php-cs-fixer fix

feat: auto resolve `.husky/hash.txt` by merge driver
  .gitattributes
  readme.md
  setup.sh
Due: none

doc: fix typo
  .husky/hash.txt
  django_backend/apps/core/management/commands/create_user.py
Due: black

fix: missing output.name for iife
  rollup.php.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: reusable snackbar
  views/assets/css/template.scss
  views/assets/js/template.js
  views/template.twig
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

feat: integrate form login handler
  views/_partials/login.twig
  views/assets/js/login.js
  views/login/index.twig
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: sass compiler
  rollup.php.js
  views/readme.md
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: session destroyer
  .husky/hash.txt
  .idea/php.xml
  .idea/prettier.xml
  php_backend/logout.php
  src/PhpProxyHunter/Session.php
Due: composer exec php-cs-fixer fix

fix: index 'email' fallback feat: authenticated indicator
  .husky/hash.txt
  php_backend/user-info.php
Due: composer exec php-cs-fixer fix

fix: session admin active when switch account to user
  .husky/hash.txt
  php_backend/login.php
Due: composer exec php-cs-fixer fix

feat: prettier twig plugin
  .prettierrc.json
  .vscode/settings.json
  package.json
Due: prettier --list-different --write

feat: integrate user information to dashboard
  .husky/hash.txt
  php_backend/user-info.php
  rollup.php.js
  types/user.d.ts
  views/assets/js/dashboard.js
  views/assets/js/template.js
  views/dashboard/index.twig
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, composer exec php-cs-fixer fix

chore: separate profile card
  views/_partials/profile-card.twig
  views/assets/js/dashboard.js
  views/assets/js/profile-card.js
  views/dashboard/index.twig
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: multidimensional array keys remover
  .husky/hash.txt
  func.php
Due: composer exec php-cs-fixer fix

Path conditions:
  set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
