Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

run composer install when cache not hit
  .github/workflows/php.yml
Due: prettier --list-different --write

force fetch proxies
  .github/workflows/php.yml
Due: prettier --list-different --write

always update cache image
  .github/workflows/php.yml
Due: prettier --list-different --write

feat: clean temp files
  .github/workflows/php.yml
  configCleaner.php
  proxyChecker.php
  proxyCheckerParallel.php
Due: prettier --list-different --write, composer exec php-cs-fixer fix

update cache paths
  .github/workflows/php.yml
Due: prettier --list-different --write

run proxy fetcher every 4 hours
  .github/workflows/php.yml
Due: prettier --list-different --write

skip not exist directory
  configCleaner.php
Due: composer exec php-cs-fixer fix

clean temp files every once a week
  .github/workflows/php.yml
Due: prettier --list-different --write

skip lock file validation for admin/github CI
  proxyChecker.php
Due: composer exec php-cs-fixer fix

set time limit 30 minutes for admin
  proxyChecker.php
Due: composer exec php-cs-fixer fix

curlGetWithProxy: follow location
  func.php
Due: composer exec php-cs-fixer fix

update backup filename
  proxyAdd.php
Due: composer exec php-cs-fixer fix

drop unused codes
  proxyAdd.php
Due: composer exec php-cs-fixer fix

strict github actions run only for spesific repository
  .github/workflows/php.yml
Due: prettier --list-different --write

Path conditions:
  eslint --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.html) or (any of: *.json)) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)
  composer exec php-cs-fixer fix: any of: *.php
