Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

refactor(UserDBTest): simplify user deletion logic in test cases
  .husky/hash.txt
  tests/PhpProxyHunter/UserDBTest.php
Due: composer exec php-cs-fixer fix

refactor(sql): introduce BaseSQL abstract class and extend MySQLHelper, SQLiteHelper from it
  .husky/hash.txt
  src/PhpProxyHunter/BaseSQL.php
  src/PhpProxyHunter/MySQLHelper.php
  src/PhpProxyHunter/SQLiteHelper.php
Due: composer exec php-cs-fixer fix

feat(sql): add schema management methods for MySQL and SQLite helpers
  .husky/hash.txt
  src/PhpProxyHunter/BaseSQL.php
  src/PhpProxyHunter/MySQLHelper.php
  src/PhpProxyHunter/SQLiteHelper.php
Due: composer exec php-cs-fixer fix

feat(db): support PDO injection in MySQLHelper and SQLiteHelper constructors
  .husky/hash.txt
  src/PhpProxyHunter/MySQLHelper.php
  src/PhpProxyHunter/SQLiteHelper.php
  tests/PhpProxyHunter/MySQLHelperTest.php
  tests/PhpProxyHunter/SQLiteHelperDebug.php
  tests/PhpProxyHunter/SQLiteHelperTest.php
Due: composer exec php-cs-fixer fix

fix(LogsRepository): add missing use statement for PDO
  .husky/hash.txt
  src/PhpProxyHunter/LogsRepository.php
Due: composer exec php-cs-fixer fix

feat(LogsRepository): add migration handling for log repository schema changes
  .husky/hash.txt
  src/PhpProxyHunter/LogsRepository.php
  src/PhpProxyHunter/LogsRepositoryMigrations.php
Due: composer exec php-cs-fixer fix

feat(LogsRepository): update user_activity details column type for MySQL and SQLite
  .husky/hash.txt
  src/PhpProxyHunter/LogsRepositoryMigrations.php
Due: composer exec php-cs-fixer fix

feat(database): implement modifyColumnIfExists method for dynamic column modification
  src/PhpProxyHunter/BaseSQL.php
  src/PhpProxyHunter/MySQLHelper.php
  src/PhpProxyHunter/SQLiteHelper.php
  tests/PhpProxyHunter/SQLiteHelperDebug.php
Due: composer exec php-cs-fixer fix

test(SQLiteHelperTest): add unit tests for modifyColumnIfExists method
  .husky/hash.txt
  tests/PhpProxyHunter/SQLiteHelperTest.php
Due: composer exec php-cs-fixer fix

feat(sql): add transaction support (begin, commit, rollback) to BaseSQL, MySQLHelper, and SQLiteHelper
  .husky/hash.txt
  src/PhpProxyHunter/BaseSQL.php
  src/PhpProxyHunter/MySQLHelper.php
  src/PhpProxyHunter/SQLiteHelper.php
  tests/PhpProxyHunter/MySQLHelperTest.php
  tests/PhpProxyHunter/SQLiteHelperTest.php
Due: composer exec php-cs-fixer fix

refactor(sql): rename executeCustomQuery to execute across codebase
  .husky/hash.txt
  list.php
  src/PhpProxyHunter/BaseSQL.php
  src/PhpProxyHunter/CoreDB.php
  src/PhpProxyHunter/MySQLHelper.php
  src/PhpProxyHunter/SQLiteHelper.php
  tests/PhpProxyHunter/MySQLHelperTest.php
  tests/PhpProxyHunter/SQLiteHelperTest.php
Due: composer exec php-cs-fixer fix

feat(coredb): extend BaseSQL and add delegated DB utility methods
  .husky/hash.txt
  src/PhpProxyHunter/CoreDB.php
  tests/PhpProxyHunter/CoreDBTest.php
Due: composer exec php-cs-fixer fix

refactor(schema): remove user_discount table from MySQL and SQLite schemas
  src/PhpProxyHunter/assets/mysql-schema.sql
  src/PhpProxyHunter/assets/sqlite-schema.sql
Due: prettier --list-different --write

feat(logs): improve schema migrations and add validation for required tables
  src/PhpProxyHunter/LogsRepository.php
  src/PhpProxyHunter/LogsRepositoryMigrations.php
  tests/PhpProxyHunter/LogRepositoryMigrationsDebug.php
  tests/database/LogsRepositoryTest.php
Due: composer exec php-cs-fixer fix

feat(sqlite): improve table creation and schema modification debugging
  .husky/hash.txt
  src/PhpProxyHunter/SQLiteHelper.php
Due: composer exec php-cs-fixer fix

fix(proxydb): ensure proxies are removed from added_proxies table
  src/PhpProxyHunter/ProxyDB.php
  tests/PhpProxyHunter/ProxyDBTest.php
Due: composer exec php-cs-fixer fix

feat(session): add FileSessionHandler for filesystem-based session management
  src/FileSessionHandler.php
Due: composer exec php-cs-fixer fix

fix(tests): update lock file paths to use local directory instead of system temp dir
  .husky/hash.txt
  tests/PhpProxyHunter/FileLockHelperTest.php
  tests/PhpProxyHunter/UserDBSaldoArithmeticTest.php
Due: composer exec php-cs-fixer fix

feat(userdb): auto-create auth_user table based on driver type
  src/PhpProxyHunter/UserDB.php
  tests/PhpProxyHunter/UserDBTest.php
Due: composer exec php-cs-fixer fix

feat(img): add image proxy with caching and validation
  .husky/hash.txt
  php_backend/img.php
Due: composer exec php-cs-fixer fix

fix(userdb): remove debug echo for auth_user table creation
  .husky/hash.txt
  src/PhpProxyHunter/UserDB.php
Due: composer exec php-cs-fixer fix

fix(LogsRepository): update constructor to accept CoreDB instance and throw exception for invalid types
  .husky/hash.txt
  src/PhpProxyHunter/LogsRepository.php
Due: composer exec php-cs-fixer fix

feat(post-merge): add commit history builder script execution
  .husky/post-merge
Due: none

fix(post-merge): correct variable reference for commit history builder script
  .husky/post-merge
Due: none

fix(post-merge): remove unsupported OS check in post-merge script
  .husky/post-merge
Due: none

build(dev): update git-history builder to write output to multiple locations
  src/dev/git-history.builder.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(git-history.builder): correct output file path for git history JSON
  src/dev/git-history.builder.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

docs(composer-installer): add JSDoc comments for functions in the script
  scripts/composer-installer.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(checker-php): add execution of composer-installer script before composer config
  .github/workflows/checker-php.yml
Due: prettier --list-different --write

fix(phpcs): disable multi-line control structure spacing rules
  phpcs.xml
Due: none

refactor: move proxies-all.php to artisan/proxyCollector.php and update references
  .github/workflows/checker-php.yml
  .github/workflows/checker-php.yml.txt
  .github/workflows/checker.yml.txt
  artisan/proxyCollector.php
  bin/run-php
  fix-nginx-perm.sh
  readme.md
Due: prettier --list-different --write, composer exec php-cs-fixer fix

refactor: update references from proxies-all.php to proxyCollector.php
  .github/workflows/checker-php.yml
  .github/workflows/checker-php.yml.txt
  .github/workflows/checker.yml.txt
  bin/run-php
  fix-nginx-perm.sh
  readme.md
Due: prettier --list-different --write

docs: add image for proxy checker parallel in README
  readme.md
Due: none

docs: remove deprecated UI preview images
  readme.md
Due: none

feat(proxydb): add support for CoreDB instance in constructor
  .husky/hash.txt
  src/PhpProxyHunter/ProxyDB.php
Due: composer exec php-cs-fixer fix

refactor(php): improve PHP 7 compatibility and code clarity
  .husky/hash.txt
  func-proxy.php
Due: composer exec php-cs-fixer fix

refactor(shared.php): update require statement to load func-proxy.php
  .husky/hash.txt
  php_backend/shared.php
Due: composer exec php-cs-fixer fix

feat(func.php): add getUserStatusFile function to retrieve user status
  .husky/hash.txt
  func.php
Due: composer exec php-cs-fixer fix

feat(func.php): add functions to manage user log files
  .husky/hash.txt
  func.php
Due: composer exec php-cs-fixer fix

Path conditions:
  set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
