Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.cjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.mjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.ts": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.jsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.tsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

fix: update outputUtf8Content function to handle additional data types in parameter documentation and output
  .husky/hash.txt
  src/utils/string.php
Due: composer exec php-cs-fixer fix

feat: enhance list of duplicate proxies to include clickable links for each proxy
  views/list-duplicate-proxy/index.twig
Due: none

fix: update prettier-plugin-twig URL to point directly to the specific commit archive
  package.json
Due: prettier --list-different --write

feat: implement Proxy class with comprehensive properties and constructor, and add tests for Proxy creation
  .husky/hash.txt
  src/PhpProxyHunter/Proxy.php
  src/PhpProxyHunter/ProxyDB.php
  tests/PhpProxyHunter/ProxyTest.php
Due: composer exec php-cs-fixer fix

feat: add PHPUnit support for Test files and update Intelephense settings
  .vscode/settings.json
Due: prettier --list-different --write

feat: add SQLiteHelperTest class with comprehensive CRUD tests for SQLiteHelper
  .husky/hash.txt
  tests/PhpProxyHunter/SQLiteHelperTest.php
Due: composer exec php-cs-fixer fix

feat: enhance ProxyDB constructor to support in-memory SQLite database and improve directory creation logic
  .husky/hash.txt
  src/PhpProxyHunter/ProxyDB.php
Due: composer exec php-cs-fixer fix

feat: update ProxyDB constructor to set project root and adjust database path for SQLite
  .husky/hash.txt
  src/PhpProxyHunter/ProxyDB.php
Due: composer exec php-cs-fixer fix

feat: add ProxyDBTest class with comprehensive tests for ProxyDB functionality
  tests/PhpProxyHunter/ProxyDBTest.php
Due: composer exec php-cs-fixer fix

feat: refactor ListDuplicateProxyController to streamline command execution and improve fetchDuplicates method with pagination
  .husky/hash.txt
  controllers/ListDuplicateProxyController.php
Due: composer exec php-cs-fixer fix

feat: enhance checkAction method to validate IP address and streamline command construction
  .husky/hash.txt
  controllers/ListDuplicateProxyController.php
Due: composer exec php-cs-fixer fix

feat: enhance CLI argument parsing in ListDuplicateProxyController for pagination support
  .husky/hash.txt
  controllers/ListDuplicateProxyController.php
Due: composer exec php-cs-fixer fix

feat: separate proxy utility functions
  .husky/hash.txt
  func-proxy.php
  src/utils/proxy.php
Due: composer exec php-cs-fixer fix

feat: enhance SQLiteHelper to set timeout and enable exception handling for PDO
  .husky/hash.txt
  src/PhpProxyHunter/SQLiteHelper.php
Due: composer exec php-cs-fixer fix

feat: refactor executeCommand method and implement file locking in fetchDuplicates
  .husky/hash.txt
  controllers/ListDuplicateProxyController.php
Due: composer exec php-cs-fixer fix

feat: implement file locking in indexAction and refactor lock initialization
  .husky/hash.txt
  controllers/ListDuplicateProxyController.php
Due: composer exec php-cs-fixer fix

feat: improve proxy checking logic to handle empty results gracefully
  .husky/hash.txt
  controllers/CheckDuplicateProxyController.php
Due: composer exec php-cs-fixer fix

feat: add handling for .husky/hash.txt changes to truncate and stage modifications
  bin/git-pull
Due: none

feat: refactor fix-db script for improved OS detection and table management
  bin/fix-db
Due: none

feat: migrate git-pull script to Node.js for improved functionality and maintainability
  bin/git-pull
  bin/git-pull.cjs
  bin/git-pull.cmd
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs
