Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix, black

feat: permission fixer
  bin/fix-perm
  data/blacklist.conf
Due: none

fix(log_file): validate dirname before create folder
  .husky/hash.txt
  src/func_console.py
Due: black

Update blacklist.conf
  data/blacklist.conf
Due: none

ProxyCheckerReal(log): shift kwargs `ansi_html` to prevent duplicate args
  .husky/hash.txt
  proxyCheckerReal.py
Due: black

fix: decompress response
  .husky/hash.txt
  packages/proxy-hunter-python/proxy_hunter/utils/index_utils.py
  proxyCheckerReal.py
Due: black

feat: always reinstall python dependencies
  .github/workflows/nuitka-debug.yml
  .github/workflows/nuitka.yml
Due: prettier --list-different --write

feat: remove `public/static` before collect static
  fix-django.sh
Due: none

refactor: module ESM
  .eslintrc.cjs
  .gitattributes
  .github/workflows/clean-caches.yml
  .lintstagedrc.json
  github-actions-init.cjs
  package.json
  tsconfig.json
Due: prettier --list-different --write

refactor: convert using ESM
  bin/clear-github-actions-cache
  bin/clear-github-actions-cache.cjs
  bin/clear-github-actions-cache.cmd
  bin/create-file-hashes
  bin/create-file-hashes.cjs
  bin/create-file-hashes.cmd
  bin/git-merge
  bin/git-merge.cjs
  bin/git-merge.cmd
  bin/utils.cjs
Due: none

fix: overridden vscode config when pyproject.toml is used
  .vscode/settings.json
  data/.gitignore
  pyproject.toml
Due: prettier --list-different --write

index LICENSE
  .gitignore
Due: none

ignore py cache
  .gitignore
Due: none

Path conditions:
  eslint --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: (((((((any of: *.html) or (any of: *.json)) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
