Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.cjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.ts": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.jsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.tsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

using `read_file` and `write_file`
  .husky/hash.txt
  src/requests_cache.py
Due: black

fix(update): Operator "+" not supported
  src/SQLiteHelper.py
Due: black

feat: auto journal wal checkpoint keep wal file journal small
  .husky/hash.txt
  src/ProxyDB.py
Due: black

py-clean command only removing all packages
  bin/py-install.cmd
  bin/py-reinstall
  bin/py-reinstall.cmd
Due: none

force update from private
  .vscode/launch.json
  .vscode/settings.json
Due: prettier --list-different --write

using my own middleware for CORS
  .husky/hash.txt
  django_backend/middleware.py
  django_backend/settings.py
  django_backend/wsgi.py
  requirements_base.txt
Due: black

create hash for `cjs`, `mjs` files
  bin/create-file-hashes.cjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: enable module resolution to `node`
  tsconfig.json
Due: prettier --list-different --write

fix(has_credentials): username and password should be string and not empty
  packages/proxy-hunter-python/proxy_hunter/Proxy.py
Due: black

trim `<pre/>` content
  userscripts/universal.user.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

ignore private folder
  .htaccess_nginx.conf
Due: none

update yarn
  .yarn/releases/yarn-4.4.1.cjs
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

get relative path should be varargs string
  src/func.py
Due: black
