Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.cjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.mjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.ts": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.jsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.tsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

fix(checker/getPublicIP): add debug output for cURL response code
  .husky/hash.txt
  src/PhpProxyHunter/checker/getPublicIP.php
Due: composer exec php-cs-fixer fix

feat(core): add project root resolver utility and define root constant
  .husky/hash.txt
  func.php
  src/PhpProxyHunter/utils/path.php
Due: composer exec php-cs-fixer fix

refactor(proxy): move buildCurl function to PhpProxyHunter checker module
  func-proxy.php
  src/PhpProxyHunter/checker/buildCurl.php
  src/PhpProxyHunter/checker/getPublicIP.php
Due: composer exec php-cs-fixer fix

fix(proxy): update CA certificate path and relocate cookie storage to project root
  .husky/hash.txt
  src/PhpProxyHunter/checker/buildCurl.php
  src/PhpProxyHunter/data/cacert.pem
Due: composer exec php-cs-fixer fix

refactor(proxy): move getServerIp to utils and introduce CheckerOptions class
  .husky/hash.txt
  func-proxy.php
  src/PhpProxyHunter/checker/CheckerOptions.php
  src/PhpProxyHunter/checker/buildCurl.php
  src/PhpProxyHunter/utils/getPublicIP.php
  src/PhpProxyHunter/utils/getServerIp.php
Due: composer exec php-cs-fixer fix

feat(checker): add CheckerResult and document CheckerOptions
  .husky/hash.txt
  src/PhpProxyHunter/checker/CheckerOptions.php
  src/PhpProxyHunter/checker/CheckerResult.php
Due: composer exec php-cs-fixer fix

feat(composer): add phpdocumentor as a development dependency
  composer.json
Due: prettier --list-different --write

fix(autoload): add exclusion for autoload.php in filename checks
  .husky/hash.txt
  src/autoload.php
Due: composer exec php-cs-fixer fix

feat(utils): add recursive autoloader and update includes to use it
  .husky/hash.txt
  src/PhpProxyHunter/checker/buildCurl.php
  src/PhpProxyHunter/utils/autoload.php
  src/PhpProxyHunter/utils/getServerIp.php
Due: composer exec php-cs-fixer fix

feat(composer): add symfony/flex to allow-plugins configuration
  composer.json
Due: prettier --list-different --write

refactor(proxy-checker): replace direct file_put_contents calls with write_file utility
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

chore(composer): update autoload configuration for PhpProxyHunter
  composer.json
Due: prettier --list-different --write

chore(cs-fixer): enhance configuration compatibility and exclusions
  .husky/hash.txt
  .php-cs-fixer.dist.php
Due: composer exec php-cs-fixer fix

fix(proxydb): add validation for empty or invalid proxy input in select method
  src/PhpProxyHunter/ProxyDB.php
Due: composer exec php-cs-fixer fix

feat(settings): add GitHub Copilot chat configuration options
  .vscode/settings.json
Due: prettier --list-different --write

feat(proxyChecker): add admin option
  .husky/hash.txt
  artisan/proxyChecker.php
Due: composer exec php-cs-fixer fix

refactor(proxy-checker): modularize proxy checking and add credential normalization
  .husky/hash.txt
  php_backend/proxy-checker.php
  src/PhpProxyHunter/checker/ProxyChecker.php
  src/PhpProxyHunter/checker/ProxyChecker1-test.php
  src/PhpProxyHunter/checker/ProxyChecker1.php
Due: composer exec php-cs-fixer fix

fix(addLog): should be append content
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

refactor(proxy-checker): format functions with PSR-12 style braces and improve readability
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

fix(logs): safely read log files and avoid warnings for missing/unreadable files
  .husky/hash.txt
  php_backend/logs.php
Due: composer exec php-cs-fixer fix

refactor(proxy-list): DRY reCAPTCHA requests and require verification before refresh
  src/react/pages/ProxyList.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(proxylist): randomize proxy selection before slicing and simplify geoIp update scheduling
  src/react/pages/ProxyList.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(proxy-checker, runBashOrBatch): simplify logging and improve runner/output handling
  .husky/hash.txt
  php_backend/proxy-checker.php
  src/utils/process/runBashOrBatch.php
Due: composer exec php-cs-fixer fix

refactor(proxy-checker): update response structure
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

feat(vscode,scripts): add php-cs-fixer support and installer
  .vscode/extensions.json
  .vscode/settings.json
  scripts/php-cs-fixer-installer.js
  scripts/postinstall.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

fix(phpcs): disable brace-on-new-line rule within PSR12 to allow same-line braces for functions, classes, and control structures
  phpcs.xml
Due: none

fix(phpcs): disable PSR2 class brace-on-new-line rule to align with same-line brace style
  phpcs.xml
Due: none

feat(deploy-vps): ensure PHP dependencies are installed on remote server
  bin/deploy-vps.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(composer): update autoload paths for PhpProxyHunter components
  composer.json
Due: prettier --list-different --write

refactor(PhpProxyHunter): simplify autoload mapping and reorganize checker files
  composer.json
  src/PhpProxyHunter/CheckerX/CheckerOptions.php
  src/PhpProxyHunter/CheckerX/CheckerResult.php
  src/PhpProxyHunter/CheckerX/ProxyChecker.php
  src/PhpProxyHunter/CheckerX/ProxyChecker1-test.php
  src/PhpProxyHunter/CheckerX/ProxyChecker1.php
  src/PhpProxyHunter/utils/buildCurl.php
Due: prettier --list-different --write, composer exec php-cs-fixer fix

refactor(PhpProxyHunter): rename CheckerX directory back to Checker
  src/PhpProxyHunter/Checker/CheckerOptions.php
  src/PhpProxyHunter/Checker/CheckerResult.php
  src/PhpProxyHunter/Checker/ProxyChecker.php
  src/PhpProxyHunter/Checker/ProxyChecker1-test.php
  src/PhpProxyHunter/Checker/ProxyChecker1.php
Due: composer exec php-cs-fixer fix

refactor(Checker): centralize autoload inclusion in ProxyChecker
  .husky/hash.txt
  src/PhpProxyHunter/Checker/ProxyChecker.php
  src/PhpProxyHunter/Checker/ProxyChecker1.php
Due: composer exec php-cs-fixer fix

fix(artisan/filterPortsDuplicate): use DB-compatible month check instead of SQLite strftime
  .husky/hash.txt
  artisan/filterPortsDuplicate.php
Due: composer exec php-cs-fixer fix

refactor(autoload): wrap autoload function in a function_exists check to prevent redeclaration
  .husky/hash.txt
  src/PhpProxyHunter/utils/autoload.php
Due: composer exec php-cs-fixer fix

refactor(db): centralize proxy normalization and require extractor
  .husky/hash.txt
  src/PhpProxyHunter/ProxyDB.php
Due: composer exec php-cs-fixer fix

refactor(tests): streamline MySQLHelperTest class structure and update database name
  .husky/hash.txt
  tests/PhpProxyHunter/MySQLHelperTest.php
Due: composer exec php-cs-fixer fix

refactor(utils): consolidate autoloading and clean function guards
  src/PhpProxyHunter/Checker/ProxyChecker.php
  src/PhpProxyHunter/ProxyDB.php
  src/PhpProxyHunter/utils/autoload.php
  src/PhpProxyHunter/utils/buildCurl.php
  src/PhpProxyHunter/utils/extractor.php
  src/PhpProxyHunter/utils/getPublicIP.php
  src/PhpProxyHunter/utils/getServerIp.php
Due: composer exec php-cs-fixer fix

refactor(utils): include hash in runner and log filenames for runBashOrBatch
  .husky/hash.txt
  src/utils/process/runBashOrBatch.php
Due: composer exec php-cs-fixer fix

refactor(process): improve runner hash and enhance PHP 7.0 compatibility
  .husky/hash.txt
  src/utils/process/runBashOrBatch.php
Due: composer exec php-cs-fixer fix

test(utils): add runner file existence check and shorten wait time in runBashOrBatch test
  .husky/hash.txt
  src/utils/process/runBashOrBatch.php
  tests/utils/process/runBashOrBatch.php
Due: composer exec php-cs-fixer fix
