Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.html": "prettier --list-different --write",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix"
}

strict github actions run only for spesific repository
  .github/workflows/php.yml
Due: prettier --list-different --write

set spesific php version
  .github/workflows/php.yml
Due: prettier --list-different --write

using `composer.phar` file
  .github/workflows/php.yml
Due: prettier --list-different --write

run update when composer.lock exist
  .github/workflows/php.yml
Due: prettier --list-different --write

fix: undefined index admin
  proxyChecker.php
Due: composer exec php-cs-fixer fix

fix: undefined variable `$maxx`
  proxyCheckerParallel.php
Due: composer exec php-cs-fixer fix

change SSL certificate file
  func-proxy.php
Due: composer exec php-cs-fixer fix

change SSL version
  func-proxy.php
Due: composer exec php-cs-fixer fix

fix: invalid 30 minutes in seconds
  proxyChecker.php
Due: composer exec php-cs-fixer fix

feat: submodule for storing data
  .gitmodules
Due: none

feat: update submodules and init nodejs
  .github/workflows/php.yml
Due: prettier --list-different --write

add more php extension
  .github/workflows/php.yml
Due: prettier --list-different --write

deploy working proxies into `dimaslanjaka/data`
  .github/workflows/php.yml
Due: prettier --list-different --write
