Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.cjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.mjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.ts": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.jsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.tsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

feat: add Puppeteer configuration and update permission fix script
  .puppeteerrc.cjs
  bin/fix-perm
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: add function to check if the system is a VPS
  src/func_platform.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

docs: add required libraries installation instructions
  readme-nodejs.md
Due: none

feat: enhance proxy check to include latency measurement and update database accordingly
  .husky/hash.txt
  php_backend/check-https-proxy.php
Due: composer exec php-cs-fixer fix

fix: update whatsapp.service to use file output for logs
  assets/systemctl/whatsapp.service
Due: none

feat: add Pyright configuration for type checking and linting
  pyrightconfig.json
Due: prettier --list-different --write

feat: enhance proxy handling by shuffling input and improving error logging
  php_backend/index.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix: update import statements to use 'with' instead of 'assert' for JSON modules
  .env.mjs
  rollup.config.js
  rollup.whatsapp.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix: replace user info null check with error throwing for better error handling
  proxyManager-src.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: add responsive navbar and footer to index.html for improved navigation and layout
  php_backend/index.html
Due: none

feat: implement process locking and improve proxy handling
  .husky/hash.txt
  php_backend/check-https-proxy.php
Due: composer exec php-cs-fixer fix

chore: update dependencies
  package.json
Due: prettier --list-different --write

fix: add importAttributesKeyword option to Babel generator options
  rollup.config.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix: handle fallback for receivedText
  node_backend/Replier.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs
