Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.cjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.mjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.ts": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.jsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.tsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

fix: ensure python-minimal dependencies are installed on remote server during deployment
  bin/deploy-vps.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(dashboard): show only user points and user information
  src/react/pages/dashboard/DashboardContent.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(dashboard): add top-up button and i18n keys
  src/react/locales/en.json
  src/react/locales/id.json
  src/react/pages/dashboard/DashboardContent.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

feat(dashboard): add tabbed UI for user information and activity
  src/react/pages/Dashboard.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

chore(ci): update actions/setup-node to v5 in GitHub workflows
  .github/workflows/checker-php.yml.txt
  .github/workflows/checker.yml.txt
  .github/workflows/clean-caches.yml
  .github/workflows/nuitka-debug.yml.txt
  .github/workflows/nuitka.yml.txt
Due: prettier --list-different --write

refactor(readme): remove Windows production setup instructions
  readme.md
Due: none

fix(package): update chromedriver to version ^141.0.6
  package.json
Due: prettier --list-different --write

fix(proxyFetcher): correct path to proxyFetcherSources.json
  .husky/hash.txt
  proxyFetcher.py
Due: black

fix(py): remove redundant message for existing virtual environment
  bin/py
Due: none

test(PhpProxyHunter/ActivityLogTest): ensure MySQL test DB is created before connecting
  .husky/hash.txt
  tests/PhpProxyHunter/ActivityLogTest.php
Due: composer exec php-cs-fixer fix

feat(activity-log): add update(id, data) method and unit test
  src/PhpProxyHunter/ActivityLog.php
  tests/PhpProxyHunter/ActivityLogTest.php
Due: composer exec php-cs-fixer fix

fix(activity-log,migration): robust update params + ensure PAYMENT/REFUND enum
  .husky/hash.txt
  src/PhpProxyHunter/ActivityLog.php
  src/PhpProxyHunter/ActivityLogMigration.php
Due: composer exec php-cs-fixer fix

chore(deploy): simplify maintenance step in VPS deployment script
  bin/deploy-vps.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

chore(vite): include timestamp and PID in lock file contents
  vite-plugin.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix: update contact email to superuser@webmanajemen.com in multiple files
  django_backend/apps/core/templates/base_generic.html
  index.maintenance.html
  readme.md
  src/react/pages/About.tsx
  src/react/pages/Contact.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix: remove GitHub link from maintenance page and comment out social menu link in Navbar
  index.maintenance.html
  src/react/components/Navbar.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix: update author name to L3n4r0x in About and Contact pages
  src/react/pages/About.tsx
  src/react/pages/Contact.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix: improve teardown logic for ProxyDB connection in tests
  .husky/hash.txt
  tests/ProxyDB_Test.py
Due: black

fix: add check for db existence in test_vacuum function
  tests/ProxyDB_Test.py
Due: black

fix: ensure cursor is closed before closing the database connection
  .husky/hash.txt
  src/ProxyDB.py
  src/SQLiteHelper.py
Due: black

refactor(proxydb): centralize database access with get_db helper method
  .husky/hash.txt
  src/ProxyDB.py
Due: black

fix: add pymysql and python-dotenv to installation in python-minimal scripts
  bin/python-minimal
  bin/python-minimal.cmd
Due: none

fix: remove pymysql from installation in python-minimal scripts
  bin/python-minimal
  bin/python-minimal.cmd
Due: none

feat(mysql): add MySQLHelper class with CRUD utilities and integration tests
  .husky/hash.txt
  src/MySQLHelper.py
  tests/test_mysql_helper.py
Due: black

fix: import build_request in func_proxy_test for cookie handling
  tests/func_proxy_test.py
Due: black

fix(artisan): correct CLI access checks and headers for proxy scripts
  .husky/hash.txt
  artisan/filterPorts.php
  artisan/proxyCollector.php
  artisan/proxyCollector2.php
Due: composer exec php-cs-fixer fix

chore: update Yarn version to 4.10.3 in .yarnrc.yml and package.json
  .yarn/releases/yarn-4.10.3.cjs
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  package.json
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

feat: add mysql-connector-python to requirements
  requirements-base.txt
Due: none

feat(artisan): add CLI proxyChecker to test HTTP/SOCKS proxies and update DB
  .husky/hash.txt
  artisan/proxyChecker.php
Due: composer exec php-cs-fixer fix

feat: add method to retrieve oldest tested proxies
  .husky/hash.txt
  src/PhpProxyHunter/ProxyDB.php
Due: composer exec php-cs-fixer fix

feat(proxyChecker): add lockfile support to prevent concurrent runs
  .husky/hash.txt
  artisan/proxyChecker.php
Due: composer exec php-cs-fixer fix

feat(artisan): add proxyCheckerStarter to spawn background proxy checks
  .husky/hash.txt
  artisan/proxyCheckerStarter.php
Due: composer exec php-cs-fixer fix

fix(proxyCheckerStarter): use correct lock file path for validation
  .husky/hash.txt
  artisan/proxyCheckerStarter.php
Due: composer exec php-cs-fixer fix

refactor(proxyCheckerStarter): replace CORS headers with Server::allowCors method
  .husky/hash.txt
  artisan/proxyCheckerStarter.php
Due: composer exec php-cs-fixer fix

fix(proxyCheckerStarter): skip empty proxies in the checking process
  .husky/hash.txt
  artisan/proxyCheckerStarter.php
Due: composer exec php-cs-fixer fix

fix(get_anonymity): ensure content is valid before returning in case of curl failure
  .husky/hash.txt
  func-proxy.php
Due: composer exec php-cs-fixer fix

refactor(get_anonymity): enhance documentation for proxy connectivity check
  .husky/hash.txt
  func-proxy.php
Due: composer exec php-cs-fixer fix

fix(proxyChecker): handle exceptions during anonymity check and improve error reporting
  .husky/hash.txt
  artisan/proxyChecker.php
Due: composer exec php-cs-fixer fix

feat(react): start background proxy checker from ProxyList every 5 minutes
  src/react/pages/ProxyList.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(artisan): rate-limit proxyCheckerStarter to once per user per 5 minutes
  .husky/hash.txt
  artisan/proxyCheckerStarter.php
Due: composer exec php-cs-fixer fix
