Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

feat(proxy-list): trigger proxyWorking artisan script before fetching working proxies
  src/react/pages/ProxyList.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(process): add execInBackground function for executing commands in background on Windows and Unix
  .husky/hash.txt
  src/utils/process.php
Due: composer exec php-cs-fixer fix

refactor(func.php): expand user ID assignment logic for clarity and flexibility
  .husky/hash.txt
  func.php
Due: composer exec php-cs-fixer fix

fix(utils/process): make `execInBackground` PHP 7.0 compatible
  .husky/hash.txt
  src/utils/process.php
Due: composer exec php-cs-fixer fix

refactor(proxyWorking.php): improve CLI handling and background execution logic
  artisan/proxyWorking.php
Due: composer exec php-cs-fixer fix

refactor(lock): unify and organize user-specific lock file paths
  .husky/hash.txt
  artisan/proxyWorking.php
  php_backend/processes.php
Due: composer exec php-cs-fixer fix

feat(writer): add optional lock-file support and robust file-locking for writing working proxies
  .husky/hash.txt
  artisan/proxyWorking.php
  func-proxy.php
  php_backend/processes.php
Due: composer exec php-cs-fixer fix

fix(process): ensure directory exists before redirecting output in execInBackground
  .husky/hash.txt
  src/utils/process.php
Due: composer exec php-cs-fixer fix

refactor(process): remove unused execInBackground function
  src/utils/process.php
Due: composer exec php-cs-fixer fix

refactor(func-proxy): simplify project root path determination in writing_working_proxies_file function
  .husky/hash.txt
  func-proxy.php
Due: composer exec php-cs-fixer fix

refactor(proxyWorking): improve background execution and logging mechanism
  .husky/hash.txt
  artisan/proxyWorking.php
Due: composer exec php-cs-fixer fix

refactor(bin/cfh): write single parent-folder checksum instead of directory tree
  bin/cfh-old.cjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(proxy-checker): unify lock file variable usage for consistency
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

refactor(file): replace safe_unlink with delete_path for consistency
  .husky/hash.txt
  php_backend/proxy-checker.php
  src/utils/file/index.php
Due: composer exec php-cs-fixer fix

refactor(cmd-here): update CUSTOM_PATH to include Nox directories for improved environment setup
  cmd-here.bat
Due: none

refactor(ProxyList): remove fallback to show recaptcha on fetch error
  src/react/pages/ProxyList.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(proxy): remove unnecessary await to trigger background proxy fetch
  src/react/pages/ProxyList.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(ProxyList): remove setShowModal and simplify proxy fetching
  src/react/pages/ProxyList.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(proxy-checker): include admin-only background process metadata
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

refactor(proxy-checker): replace safe_unlink with delete_path for consistency
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

fix(proxy-checker): correct lock file path variable in error handling
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

fix(AnsiColors): handle undefined format codes and return original text if empty
  .husky/hash.txt
  src/PhpProxyHunter/AnsiColors.php
Due: composer exec php-cs-fixer fix

fix(tests/ProxyDBTest): make test class PHP 7.0 compatible
  .husky/hash.txt
  tests/PhpProxyHunter/ProxyDBTest.php
Due: composer exec php-cs-fixer fix

fix(processes): move CORS allowance to the top for consistency
  .husky/hash.txt
  php_backend/processes.php
Due: composer exec php-cs-fixer fix

feat(ProxyList): add search functionality for filtering proxies
  src/react/pages/ProxyList.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(proxy): add HTTP-only proxy checker script
  .husky/hash.txt
  php_backend/check-http-proxy.php
Due: composer exec php-cs-fixer fix

feat(readme): add comprehensive Frida setup and usage guide
  readme-frida.md
Due: none

feat(proxy-checker): skip recently checked proxies and update DB on failure
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

feat(proxy-checker): auto-select random untested proxy when input is missing
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

fix(utils/file): make `src/utils/file/index.php` PHP 7.0 compatible
  .husky/hash.txt
  src/utils/file/index.php
Due: composer exec php-cs-fixer fix

refactor(utils): move runBashOrBatch function to src/utils/process directory
  func.php
  src/utils/process/runBashOrBatch.php
Due: composer exec php-cs-fixer fix

refactor(process): change runBashOrBatch return shape to {error, message}
  .husky/hash.txt
  src/utils/process/runBashOrBatch.php
Due: composer exec php-cs-fixer fix

feat(utils/process): add runner helper and modernize runBashOrBatch
  .husky/hash.txt
  src/utils/process/runBashOrBatch.php
  tests/utils/process/RunBashOrBatchTest.php
  tests/utils/process/runBashOrBatch.php
  tests/utils/process/sample-error.bat
  tests/utils/process/sample-error.php
  tests/utils/process/windows-execute-in-background.php
Due: composer exec php-cs-fixer fix

fix(proxy-checker): return error message when 'proxy' parameter is missing
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

fix(process): ensure correct platform detection and background execution behavior in runBashOrBatch
  .husky/hash.txt
  src/utils/process/runBashOrBatch.php
Due: composer exec php-cs-fixer fix

refactor(tests): remove redundant realpath call for status file in sample-error.php
  .husky/hash.txt
  tests/utils/process/sample-error.php
Due: composer exec php-cs-fixer fix

fix(utils/process): ensure runBashOrBatch runs in background on Windows and fix quoting
  src/utils/process/runBashOrBatch.php
Due: composer exec php-cs-fixer fix

chore(deps): update dependencies and devDependencies to latest versions
  package.json
Due: prettier --list-different --write

refactor(proxy): move proxy utility files into PhpProxyHunter namespace
  src/PhpProxyHunter/utils/cidr.php
  src/PhpProxyHunter/utils/extractor.php
  src/PhpProxyHunter/utils/ports.php
  src/PhpProxyHunter/utils/validator.php
Due: composer exec php-cs-fixer fix

refactor(proxy): move getPublicIP function to PhpProxyHunter checker module
  .husky/hash.txt
  func-proxy.php
  src/PhpProxyHunter/checker/getPublicIP.php
Due: composer exec php-cs-fixer fix

Path conditions:
  set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
