Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

refactor: remove commented-out runDevelopment task from tasks.json
  .vscode/tasks.json
Due: prettier --list-different --write

chore: prepare migrate frontend using react
  .gitignore
  .husky/hash.txt
  .vscode/settings.json
  index.dev.html
  index.php
  package.json
  postcss.config.js
  public/index.html
  src/react/App.tsx
  src/react/components/Footer.tsx
  src/react/components/Navbar.tsx
  src/react/components/ThemeContext.tsx
  src/react/components/ThemeSwitcher.tsx
  src/react/index.tsx
  src/react/pages/About.tsx
  src/react/pages/Contact.tsx
  src/react/pages/Home.tsx
  tailwind.config.js
  tailwind.input.css
  tsconfig.json
  types/vite-env.d.ts
  vite-plugin.js
  vite.config.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix

feat: add Safelink Converter component for anonymizing external links
  package.json
  src/react/components/Link.tsx
  src/react/components/Navbar.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

feat: ignore auto generated index.html
  .gitignore
Due: none

feat(vite-plugin): add JSDoc comments and enhance dev server index.html handling
  vite-plugin.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: add Outbound redirect page for handling external links
  src/react/pages/Outbound.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: refactor Safelink instance to a shared export for improved reusability
  src/react/components/Link.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: replace anchor tags with Link component for improved routing
  src/react/pages/Home.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: customizable redirect URI
  .husky/hash.txt
  php_backend/google-oauth.php
Due: composer exec php-cs-fixer fix

feat(vite): add env-based host/port config and improve type support
  .env-sample
  tsconfig.json
  types/vite-env.d.ts
  vite.config.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

feat: update UserDB instantiation to use mysql
  .husky/hash.txt
  php_backend/google-oauth.php
  php_backend/list-user.php
  php_backend/login.php
  php_backend/refill-saldo.php
  php_backend/user-info.php
Due: composer exec php-cs-fixer fix

feat: update user role assignment to use integer values for is_staff
  .husky/hash.txt
  php_backend/google-oauth.php
Due: composer exec php-cs-fixer fix

feat: add resetIncrement method to reset AUTO_INCREMENT value for specified table
  .husky/hash.txt
  src/PhpProxyHunter/MySQLHelper.php
Due: composer exec php-cs-fixer fix

feat: change user role fields from BOOL to INTEGER for better compatibility
  src/PhpProxyHunter/assets/sqlite-schema.sql
Due: prettier --list-different --write

feat: update user role fields to use integer values and add normalization method
  .husky/hash.txt
  src/PhpProxyHunter/UserDB.php
Due: composer exec php-cs-fixer fix

feat: add Login and OauthHandler components for user authentication
  src/react/App.tsx
  src/react/components/Link.tsx
  src/react/components/Navbar.tsx
  src/react/components/ThemeSwitcher.tsx
  src/react/pages/Login.tsx
  src/react/pages/OauthHandler.tsx
  src/react/routes.json
  src/react/utils/index.ts
  src/react/utils/url.ts
  src/react/utils/user.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

feat: expand devRoutes in indexHtmlReplacementPlugin for additional routes
  vite-plugin.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: comment out console log in ThemeSwitcher button click handler
  src/react/components/ThemeSwitcher.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: enhance About page with detailed information and navigation components
  src/react/pages/About.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: add Contact page and update routing for contact route
  src/react/App.tsx
  src/react/pages/Contact.tsx
  vite-plugin.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: add Vite configuration for hostname and port in .env-sample
  .env-sample
  types/vite-env.d.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: update body background color in index.dev.html and add disabled class styles in tailwind.input.css
  index.dev.html
  tailwind.input.css
Due: prettier --list-different --write

feat: add Navbar and Footer components to Outbound page layout
  src/react/pages/Outbound.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: add About and Contact links to Navbar component
  src/react/components/Navbar.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: implement user profile management in Settings page
  .husky/hash.txt
  php_backend/user-info.php
  src/react/pages/Settings.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, composer exec php-cs-fixer fix

feat: enhance user profile update functionality and improve CORS handling
  .husky/hash.txt
  php_backend/user-info.php
Due: composer exec php-cs-fixer fix

feat: add PHP code style fixing to lint-staged configuration
  .lintstagedrc.json
Due: prettier --list-different --write

feat: implement Dashboard page with saldo display and transaction history placeholder
  src/react/pages/Dashboard.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: add squizlabs/php_codesniffer as a development dependency
  composer.json
  index.dev.html
Due: prettier --list-different --write

feat: implement git history retrieval and output to JSON file
  public/.gitignore
  src/dev/git-history-to-json.ts
  src/dev/git-history.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix: update tsconfig path for Jest configuration and include test files in compilation
  .vscode/settings.json
  jest.config.ts
  tsconfig.json
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

feat(dev): add options and tests for git history extraction
  src/dev/git-history-to-json.ts
  tests/dev/git-history.test.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix: update Tailwind CSS content paths for improved matching and enable polling in Vite config for reliability
  tailwind.config.js
  vite.config.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: add changelog page with git commit history and update history retrieval
  src/dev/git-history-to-json.ts
  src/dev/git-history.ts
  src/react/App.tsx
  src/react/pages/GitHistory.tsx
  src/react/pages/Home.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix: update tsconfig.json for improved type checking and module resolution
  tsconfig.json
Due: prettier --list-different --write

fix: enable polling in Vite config for improved file watching reliability
  vite.config.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(git-history): improve initial load speed with localStorage cache and loading state
  src/react/pages/GitHistory.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(react): implement React.lazy for route components and add Font Awesome spinner to Suspense fallback
  src/react/App.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

chore(git): rename git-history.ts to git-history.builder.ts and update post-commit hook
  .husky/post-commit
  src/dev/git-history.builder.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(github-pages): add GitHub Actions workflow for deploying to GitHub Pages
  .github/workflows/github-pages.yml
Due: prettier --list-different --write

Path conditions:
  set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
