Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

refactor(proxyCollector): simplify get_added_proxy_files function to use pathlib for recursive file search
  .husky/hash.txt
  artisan/proxyCollector.py
Due: black

refactor(proxyCollector): replace global lock with per-file locks in tmp/locks
  .husky/hash.txt
  artisan/proxyCollector.py
Due: black

refactor(proxyCollector): rename CLI flag --random to --single
  .husky/hash.txt
  artisan/proxyCollector.py
Due: black

feat(proxyCollector): add --shuffle flag and update crontab to use it
  .crontab.sh
  .husky/hash.txt
  artisan/proxyCollector.py
Due: black

feat: add bash and batch scripts to run proxyCollector from project root
  bin/collect-proxies
  bin/collect-proxies.cmd
Due: none

fix(py): normalize OS detection and add MSYS/Windows support
  bin/py
Due: none

feat(process): add count_running_files helper
  .husky/hash.txt
  src/utils/process/count_running_files.py
Due: black

feat(proxyCollector): add --max-instances guard using venv-aware counter
  artisan/proxyCollector.py
Due: black

feat(artisan): add merge_proxies utility and integrate into proxyCollector
  .husky/hash.txt
  artisan/merge_proxies.py
  artisan/proxyCollector.py
Due: black

refactor(artisan/proxyCollector): expose LOCKS_DIR and remove explicit lock-dir creation
  .husky/hash.txt
  artisan/proxyCollector.py
Due: black

feat(artisan): add proxyCollector2 and schedule it in .crontab.sh
  .crontab.sh
  .husky/hash.txt
  artisan/proxyCollector2.py
Due: black

fix(sync-backups): add comparison by size during backup sync
  .husky/hash.txt
  src/vps/menus/sync-backups.py
Due: black

feat(python-minimal): add installation of requirements-base.txt in setup scripts
  bin/python-minimal
  bin/python-minimal.cmd
Due: none

chore: update yarn version to 4.12.0 in .yarnrc.yml
  .yarn/releases/yarn-4.11.0.cjs
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

fix(session): make session folder creation and permissions resilient on Windows
  .husky/hash.txt
  src/PhpProxyHunter/Session.php
Due: composer exec php-cs-fixer fix

feat(webauthn): add WebAuthn registration & authentication (server + client)
  .env.example
  .husky/hash.txt
  composer.json
  package.json
  php_backend/webauthn/auth_options.php
  php_backend/webauthn/auth_verify.php
  php_backend/webauthn/register_options.php
  php_backend/webauthn/register_verify.php
  src/react/locales/en.json
  src/react/locales/id.json
  src/react/pages/Login.tsx
  src/react/pages/Settings.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix

feat(login): simplify auth flows, improve UI and accessibility
  src/react/pages/Login.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(settings): responsive two-column layout, duotone icons, accessibility
  src/react/pages/Settings.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(php_backend): include short 8-char MD5 checksum in proxy filenames
  .husky/hash.txt
  php_backend/check-anonymity-proxy.php
  php_backend/check-http-proxy.php
  php_backend/check-https-proxy.php
  php_backend/check-latency-proxy.php
  php_backend/check-proxy-type.php
Due: composer exec php-cs-fixer fix

feat(auth): merge ADMIN_EMAILS and DJANGO_SUPERUSER_EMAIL for admin checks
  .husky/hash.txt
  php_backend/login.php
Due: composer exec php-cs-fixer fix

feat(auth): normalize authenticated_email and derive admin list from env
  php_backend/webauthn/auth_verify.php
Due: composer exec php-cs-fixer fix

feat(vite): enable output directory cleanup before each build
  vite.config.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(vite-gh-pages): guard against undefined viteConfig.build and use fallback
  vite-gh-pages.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(bin/deploy-vps): improve SFTP/SSH utilities, add JSDoc, and harden error handling
  bin/deploy-vps.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(vite-plugin): normalize error messages and guard req.url
  vite-plugin.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(deploy-vps): add checks for sitemap existence before upload
  bin/deploy-vps.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: allow __init__.py files
  .gitignore
  .husky/hash.txt
  artisan/__init__.py
  src/utils/file/__init__.py
Due: black

feat: add executables module for PHP and Python detection
  .husky/hash.txt
  src/utils/process/__init__.py
  src/utils/process/executables.py
Due: black

fix(backup-db): comment out pip install command for minimal requirements
  bin/backup-db
Due: none

fix(post-merge): remove creation of empty yarn.lock file
  .husky/post-merge
Due: none

refactor: remove unused git merge driver logic from createFileHashesMain
  bin/cfh.cjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix: replace execSync with spawnSync for git add command
  bin/cfh.cjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor: move psutil to minimal requirements
  .husky/hash.txt
  github-actions-init.py
  requirements-minimal.txt
  requirements_install.py
Due: black

fix(crontab): remove redundant check-proxy-type log command from hourly job
  .crontab.sh
Due: none

fix(crontab): update logging for hourly job execution
  .crontab.sh
Due: none

fix(check-old-proxy): set HTTPS status
  .husky/hash.txt
  php_backend/check-old-proxy.php
Due: composer exec php-cs-fixer fix

fix(check-old-proxy): save working protocols and log re-test results
  .husky/hash.txt
  php_backend/check-old-proxy.php
Due: composer exec php-cs-fixer fix

feat(proxyCollector): include project-root `dead.txt` and `proxies.txt` in discovery
  .husky/hash.txt
  artisan/proxyCollector.py
Due: black

feat(geoip): fetch up to 100 proxies from DB (prefer active) and include credentials
  .husky/hash.txt
  geoIp.php
Due: composer exec php-cs-fixer fix

feat(crontab): add geoIp script execution to hourly job for proxy geo information
  .crontab.sh
Due: none

Path conditions:
  set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
