Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

refactor: add user agent and hash to configuration in info.php
  info.php
Due: composer exec php-cs-fixer fix

refactor: limit the number of proxies stored to a maximum of 100 in extractProxies function
  .husky/hash.txt
  func-proxy.php
Due: composer exec php-cs-fixer fix

feat: add timezone configuration and update PATH in .bashrc
  assets/systemctl/.bashrc
  assets/systemctl/timezone.sh
Due: none

feat: PHP SSL Proxy Checker
  .husky/hash.txt
  php_backend/check-https-proxy.php
  php_backend/index.html
  php_backend/index.js
  php_backend/logs.php
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, composer exec php-cs-fixer fix

refactor: update hash filename generation to use current script name
  .husky/hash.txt
  php_backend/check-https-proxy.php
Due: composer exec php-cs-fixer fix

refactor: replace hash generation with user ID retrieval in info.php
  info.php
  src/PhpProxyHunter/SQLiteHelper.php
Due: composer exec php-cs-fixer fix

docs: update Python Proxy Hunter README for clarity and formatting
  readme-python.md
Due: none

feat: git installation for linux
  readme-git.md
Due: none

feat: block access to .git files in .htaccess
  .htaccess
Due: none

feat: extend .htaccess to block additional sensitive file extensions
  .htaccess
Due: none

feat: deny access to the 'packages' directory in .htaccess
  .htaccess
Due: none

fix: installation for apache2
  readme-php.md
Due: none

fix: php-fpm should not configured for apache2
  readme-php.md
Due: none

docs: update readme with nginx installation and configuration instructions
  readme-php.md
Due: none

Path conditions:
  set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
