Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

feat(proxydb): add optional $randomize flag to getAllProxies
  .husky/hash.txt
  src/PhpProxyHunter/ProxyDB.php
Due: composer exec php-cs-fixer fix

feat(db): add OFFSET support and pagination; update select signatures and docs
  .husky/hash.txt
  src/PhpProxyHunter/BaseSQL.php
  src/PhpProxyHunter/CoreDB.php
  src/PhpProxyHunter/MySQLHelper.php
  src/PhpProxyHunter/ProxyDB.php
  src/PhpProxyHunter/SQLiteHelper.php
Due: composer exec php-cs-fixer fix

feat(database): add CLI script to normalize and fix proxy entries in database
  .husky/hash.txt
  artisan/database/fix-db.php
Due: composer exec php-cs-fixer fix

feat(proxy-list): add caching and scope getWorkingProxies inside component
  src/react/pages/ProxyList.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(recaptcha): extract recaptcha helpers to shared util
  src/react/pages/ProxyList.tsx
  src/react/utils/recaptcha.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(MainApp): set default document title to 'PHP Proxy Hunter'
  src/react/index.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(tailwind): hide Google reCAPTCHA badge
  tailwind.input.css
Due: prettier --list-different --write

fix(recaptcha): avoid re-sending same token by caching and deduping in-flight requests
  src/react/utils/recaptcha.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(recaptcha): rename checkRecaptchaStatus -> checkRecaptchaSessionExpired
  src/react/pages/ProxyList.tsx
  src/react/utils/recaptcha.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(recaptcha): mount invisible ReCAPTCHA and auto-run verification
  src/react/index.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(footer): make Footer responsive and prop-driven; hide reCAPTCHA badge
  src/react/components/Footer.tsx
  tailwind.input.css
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

fix(recaptcha): invert session-expired logic so backend success means verified
  src/react/utils/recaptcha.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

chore(cs-fixer): improve parallel detection and enforce array indentation
  .husky/hash.txt
  .php-cs-fixer.dist.php
Due: composer exec php-cs-fixer fix

fix(embed): adjust CORS handling and add cache-control headers for specific files
  .husky/hash.txt
  .php-cs-fixer.dist.php
  embed.php
Due: composer exec php-cs-fixer fix

fix(deploy): set COMPOSER_ALLOW_SUPERUSER environment variable for composer execution
  bin/deploy-vps.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(deploy): add remote script execution to fix file permissions after upload
  bin/deploy-vps.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(number-utils): add toNumber function for safe numeric conversion
  src/utils/string/number_utils.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(build): skip redundant install/build steps and forward CLI args during deploy
  bin/build-project.mjs
  bin/deploy-vps.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(permissions): handle permission and ownership changes without exiting on failure
  bin/fix-perm
Due: none

feat(checker): add anonymity & latency to CheckerResult; return CheckerResult from ProxyChecker1
  .husky/hash.txt
  src/PhpProxyHunter/Checker/CheckerResult.php
  src/PhpProxyHunter/Checker/ProxyChecker1.php
Due: composer exec php-cs-fixer fix

chore(checker): make CheckerResult and ProxyChecker1 PHP 7.0 compatible
  .husky/hash.txt
  src/PhpProxyHunter/Checker/CheckerResult.php
  src/PhpProxyHunter/Checker/ProxyChecker1.php
Due: composer exec php-cs-fixer fix

refactor(checker): improve log colorization and correct anonymity classification
  .husky/hash.txt
  src/PhpProxyHunter/Checker/ProxyChecker1.php
Due: composer exec php-cs-fixer fix

fix(proxy-checker): initialize runner path and record latency/anonymity in DB
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

chore(phpcs): disable three PHPCS sniffs (multiline-brace / scope-closing-brace / same-line-statements)
  phpcs.xml
Due: none

chore(php): make PHP 7.0 compatible
  .husky/hash.txt
  src/PhpProxyHunter/Checker/CheckerOptions.php
  src/PhpProxyHunter/ExecutionTimer.php
  src/PhpProxyHunter/Proxy.php
  src/PhpProxyHunter/Scheduler.php
  src/PhpProxyHunter/Server.php
  src/utils/server/postdata.php
Due: composer exec php-cs-fixer fix

feat(proxy-checker): log message when writing working proxies file on shutdown
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

fix(proxy-working): correct script path reference and improve exit function formatting
  .husky/hash.txt
  artisan/proxyWorking.php
Due: composer exec php-cs-fixer fix

refactor(proxyWorking): remove user-specific lock file paths and simplify lock handling
  .husky/hash.txt
  artisan/proxyWorking.php
  php_backend/processes.php
Due: composer exec php-cs-fixer fix

feat(tmp): enhance tmp function to create directory and set permissions with detailed documentation
  .husky/hash.txt
  src/utils/file/index.php
Due: composer exec php-cs-fixer fix

feat(checker): add HTTP-only checker and support socks4a/socks5h
  .husky/hash.txt
  src/PhpProxyHunter/Checker/CheckerOptions.php
  src/PhpProxyHunter/Checker/ProxyChecker-test.php
  src/PhpProxyHunter/Checker/ProxyChecker1-test.php
  src/PhpProxyHunter/Checker/ProxyCheckerHttpOnly.php
Due: composer exec php-cs-fixer fix

feat(core): add Symfony Mbstring polyfill and apply code style cleanup
  .husky/hash.txt
  composer.json
  func.php
Due: prettier --list-different --write, composer exec php-cs-fixer fix

feat(checker): add Google checker and normalize workingTypes to lowercase
  .husky/hash.txt
  src/PhpProxyHunter/Checker/ProxyChecker-test.php
  src/PhpProxyHunter/Checker/ProxyChecker1.php
  src/PhpProxyHunter/Checker/ProxyCheckerGoogle.php
Due: composer exec php-cs-fixer fix

refactor(check-http-proxy): delegate HTTP checks to ProxyCheckerHttpOnly
  .husky/hash.txt
  php_backend/check-http-proxy.php
Due: composer exec php-cs-fixer fix

chore(devops): add cloudflared tunnel config for Vite dev server and documentation
  cloudflared.config.yaml
  package.json
  readme-nodejs.md
Due: prettier --list-different --write

chore(cloudflared): add ingress rule for Laragon PHP backend
  cloudflared.config.yaml
Due: prettier --list-different --write

fix(url): update origin construction to use dynamic protocol for backend hostname
  src/react/utils/url.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(auth): protect Settings page with auth guard and loading state
  src/react/pages/Settings.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(logs): add index signature to LogsResponse and LogEntry interfaces
  types/php_backend/logs.d.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

style(tables): improve responsiveness and word wrapping
  src/react/pages/admin/LogsSection.tsx
  src/react/pages/dashboard/UserActivityCard.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(logs): align sticky header and preserve horizontal scrolling
  src/react/pages/admin/LogsSection.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

Path conditions:
  set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
