Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.cjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.mjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.ts": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.jsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.tsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

set fixed version for `timezonefinder`
  requirements_base.txt
  tests/py/get_timezones_by_lat_lon.py
Due: black

force using numpy v2.1.0
  requirements_base.txt
Due: none

update yarn
  .yarn/releases/yarn-4.5.0.cjs
  .yarn/releases/yarn-4.5.1.cjs
  .yarnrc.yml
  package.json
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

refactor: separate test `get_geo_ip2`
  .husky/hash.txt
  src/geoPlugin.py
  tests/py/get_geo_ip2.py
Due: black

chore(node): update dependencies
  index.js
  package.json
  proxyManager.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

temporary drop CI
  .github/workflows/checker-php.yml.backup
  .github/workflows/checker-python.yml.backup
Due: none

feat(write_file): optional arguments
  .github/workflows/checker-php.yml
  .github/workflows/checker-python.yml
  .husky/hash.txt
  packages/proxy-hunter-python/proxy_hunter/utils/file.py
Due: prettier --list-different --write, black

feat: dont reupload same proxy
  .vscode/settings.json
  packages/proxy-hunter-python/proxy_hunter/utils/file.py
  packages/proxy-hunter-python/proxy_hunter/utils/index_utils.py
  proxyWorking.py
Due: prettier --list-different --write, black

feat: dont remove sqlite journal files
  .husky/hash.txt
  cleaner.py
Due: black

feat: dont remove sqlite journal files
  .husky/hash.txt
  cleaner.php
Due: composer exec php-cs-fixer fix

feat: server restarter
  bin/restart-server
Due: none

optimize get connections
  django_backend/apps/proxy/utils.py
Due: black

feat: UNIX python runner
  bin/py
Due: none

feat: Ensure pip
  bin/py-install
Due: none
