Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

refactor(utils): import isViteDevServer from utils and simplify test mocks
  src/react/i18n.ts
  tests/react/utils/url.vitest.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(i18n): persist selected language in localStorage and reuse across app
  src/react/components/LanguageSwitcher.tsx
  src/react/i18n.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(i18n): replace i18next-browser-languagedetector with custom language detection
  package.json
  src/react/components/LanguageSwitcher.tsx
  src/react/i18n.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

feat(fonts): add JetBrains Mono, Helvetica Neue, and Ubuntu font support
  assets/fonts/index.scss
  assets/fonts/ubuntu/stylesheet.css
  src/react/fonts.scss
  src/react/index.tsx
  tailwind.input.css
  vite-plugin.js
  vite.config.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

feat(fonts): add system font stack for input placeholders and small text
  src/react/fonts.scss
Due: prettier --list-different --write

style(fonts): refine font usage for placeholders, small text, and buttons
  src/react/fonts.scss
Due: prettier --list-different --write

refactor(admin): move password hint from Admin page to EditPasswordForm
  src/react/pages/Admin.tsx
  src/react/pages/admin/EditPasswordForm.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(Navbar): make navbar fixed at the top
  src/react/components/Navbar.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(changelog): improve commit list and pagination UI
  src/react/pages/Changelog.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

ci(github-pages): add environment variables for build and deploy
  .github/workflows/github-pages.yml
Due: prettier --list-different --write

feat(github-pages): add debug info for backend hostname environment variables
  .github/workflows/github-pages.yml
Due: prettier --list-different --write

feat(github-pages): enhance VITE secrets check with conditional logging
  .github/workflows/github-pages.yml
Due: prettier --list-different --write

feat(github-pages): add environment variables for VITE backend hostnames in build steps
  .github/workflows/github-pages.yml
Due: prettier --list-different --write

fix(github-pages): update cache path for node_modules to ensure proper caching
  .github/workflows/github-pages.yml
Due: prettier --list-different --write

fix(url): handle missing backend hostname in GitHub Pages by falling back to current hostname
  src/react/utils/url.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(github-pages): add step to clean dist and tmp directories before installation
  .github/workflows/github-pages.yml
Due: prettier --list-different --write

fix(github-pages): include yarn.lock in cache paths for improved dependency management
  .github/workflows/github-pages.yml
Due: prettier --list-different --write

fix(github-pages): add verification for build output and handle missing assets directory
  vite-gh-pages.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(dependencies): update various package versions for improved stability and performance
  package.json
Due: prettier --list-different --write

fix(vite.config): conditionally add legacy plugin for non-GitHub CI environments
  vite.config.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(ci): improve GitHub Actions dependency setup and add checksum-based install
  .github/workflows/github-pages.yml
  github-actions-init.cjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

refactor(workflows): replace github-actions-init.cjs with setup.js
  .github/workflows/clean-caches.yml
  .github/workflows/github-pages.yml
  github-actions-init.cjs
  setup.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

feat(submodules): add proxies-grabber submodule for enhanced proxy management
  .gitmodules
Due: none

feat(gitignore): add .gitignore file to exclude unnecessary files and directories
  public/.gitignore
Due: none

feat(github-pages): include public directory in cache paths for GitHub Actions
  .github/workflows/github-pages.yml
Due: prettier --list-different --write

feat(sqlite-installer): add script to auto-download and extract SQLite binaries
  .gitignore
  scripts/sqlite-installer.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(phpmyadmin-installer): add script to auto-download and extract phpMyAdmin with Node.js
  .gitignore
  scripts/phpmyadmin-installer.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(package): update sbg-utility and resolutions for binary-collections and git-command-helper
  package.json
Due: prettier --list-different --write

chore(deps): bump dependencies in package.json
  package.json
Due: prettier --list-different --write

docs(readme-nodejs): add system-wide nvm setup and node symlink instructions
  readme-nodejs.md
Due: none

feat(scripts): enhance clear-caches script with extended cleanup tasks
  bin/clear-caches
Due: none

feat(requirements): improve Python executable detection for pip installs
  .husky/hash.txt
  requirements_install.py
Due: black

fix(clear-caches): remove 'env' from virtualenv cleanup
  bin/clear-caches
Due: none

feat(set-timezone): add script to set system timezone with argument support
  bin/set-timezone
Due: none

feat(Taskfile): add echo statement for Python package installation
  Taskfile.yml
Due: prettier --list-different --write

refactor(requirements_install): replace requests with urllib for mirror checking
  .husky/hash.txt
  requirements_install.py
Due: black

refactor(requirements_install): inline is_docker function and remove external import
  .husky/hash.txt
  requirements_install.py
Due: black

feat(install_package): enhance installation logging with detailed package names and arguments
  .husky/hash.txt
  requirements_install.py
Due: black

fix(settings): update PATH variable to include local NVM and Git binaries
  .vscode/settings.json
Due: prettier --list-different --write

feat(installer): add unzipper-based extraction with progress for phpmyadmin and sqlite
  package.json
  scripts/phpmyadmin-installer.js
  scripts/sqlite-installer.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

Path conditions:
  set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
