Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.cjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.mjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.ts": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.jsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.tsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

feat(utils): enhance get_binary_path and add get_python_path
  .husky/hash.txt
  src/utils/file.py
Due: black

feat(husky): improve pre-commit hook compatibility and robustness
  .husky/pre-commit
Due: none

fix(func): ensure all arguments are converted to strings in resolve_relative_path
  .husky/hash.txt
  src/func.py
Due: black

chore: remove php.code-workspace configuration file
  php.code-workspace
Due: none

fix(settings): update NUITKA_CACHE_DIR path separator for consistency
  .vscode/settings.json
Due: prettier --list-different --write

feat(device): add WSL version detection and improve import organization
  .husky/hash.txt
  src/utils/device.py
Due: black

feat(string): add escapeshellarg function to safely escape shell arguments
  src/utils/string.py
Due: black

feat(c): add functions to check for MSVC and MinGW installations
  src/utils/c.py
Due: black

Enhance MSVC detection to check common Visual Studio directories
  src/utils/c.py
Due: black

fix(py): ensure virtual environment creation checks for activation file
  bin/py
Due: none

fix(requirements): update Django version constraint to allow minor updates
  requirements-base.txt
Due: none

feat(requirements): dynamically check and update working PyPI mirrors
  requirements_install.py
Due: black

feat: isort config
  .vscode/settings.json
Due: prettier --list-different --write

fix(Taskfile): use requirements_install.py
  Taskfile.yml
Due: prettier --list-different --write

fix: missing 'requests' for requirements_install.py
  Taskfile.yml
Due: prettier --list-different --write

feat(pip): skip mirror URLs when installing packages from GitHub
  requirements_install.py
Due: black

feat(utils): add Docker, GitHub Actions, and Codespaces environment detection functions
  src/utils/device.py
Due: black

fix: adjust Django version handling for Docker environments
  requirements-base.txt
  requirements_install.py
Due: black

refactor(requirements): move numpy from requirements-base.txt to platform-specific installation in requirements_install.py
  requirements-base.txt
  requirements_install.py
Due: black

initial commit
  .gitignore
  package.json
Due: prettier --list-different --write

feat: add gh-pages-builder package with multi-format config support
  gh-pages-builder.config.js
  package.json
  packages/gh-pages-builder/.gitignore
  packages/gh-pages-builder/.prettierrc.json
  packages/gh-pages-builder/bin/build-gh-pages.js
  packages/gh-pages-builder/eslint.config.mjs
  packages/gh-pages-builder/jest.config.js
  packages/gh-pages-builder/package.json
  packages/gh-pages-builder/readme.md
  packages/gh-pages-builder/rollup.config.js
  packages/gh-pages-builder/src/build-gh-pages.js
  packages/gh-pages-builder/src/config.js
  packages/gh-pages-builder/src/index.js
  packages/gh-pages-builder/test/config.test.js
  packages/gh-pages-builder/test/env.cjs
  packages/gh-pages-builder/test/fixtures/.gitignore
  packages/gh-pages-builder/test/fixtures/async-config.cjs
  packages/gh-pages-builder/test/fixtures/async-config.js
  packages/gh-pages-builder/test/fixtures/generate-markdowns.js
  packages/gh-pages-builder/test/fixtures/object-config.cjs
  packages/gh-pages-builder/test/fixtures/object-config.js
  packages/gh-pages-builder/test/fixtures/package.json
  packages/gh-pages-builder/test/fixtures/sync-config.cjs
  packages/gh-pages-builder/test/fixtures/sync-config.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

fix(config): throw error if no config file is found instead of logging
  packages/gh-pages-builder/src/config.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor: separate build/clean tasks and build before every test
  packages/gh-pages-builder/package.json
Due: prettier --list-different --write

refactor: migrate gh-pages-builder package to TypeScript
  packages/gh-pages-builder/package.json
  packages/gh-pages-builder/rollup.config.js
  packages/gh-pages-builder/src/build-gh-pages.ts
  packages/gh-pages-builder/src/config.ts
  packages/gh-pages-builder/src/index.ts
  packages/gh-pages-builder/src/template-render.ts
  packages/gh-pages-builder/tsconfig.json
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

feat: add nunjucks support and improve Rollup config
  packages/gh-pages-builder/package.json
  packages/gh-pages-builder/rollup.config.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

fix: update binary-collections resolution URL and add gh-pages-builder config to .gitignore
  package.json
  packages/gh-pages-builder/test/fixtures/.gitignore
Due: prettier --list-different --write

fix(loadConfigWithDefaults): ensure outputDir is an object
  packages/gh-pages-builder/src/config.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor: remove loadConfigUniversal function from config module
  packages/gh-pages-builder/src/config.ts
  packages/gh-pages-builder/src/index.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(config): standardize outputDir structure to object format
  packages/gh-pages-builder/test/fixtures/async-config.cjs
  packages/gh-pages-builder/test/fixtures/async-config.js
  packages/gh-pages-builder/test/fixtures/object-config.cjs
  packages/gh-pages-builder/test/fixtures/object-config.js
  packages/gh-pages-builder/test/fixtures/sync-config.cjs
  packages/gh-pages-builder/test/fixtures/sync-config.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(build): clear existing output directory before processing markdown files
  packages/gh-pages-builder/src/build-gh-pages.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(build): rename README to index.md if not already named index
  packages/gh-pages-builder/src/build-gh-pages.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(build): replace fs.writeFileSync with sbg-utility's writefile for improved file handling
  packages/gh-pages-builder/package.json
  packages/gh-pages-builder/rollup.config.js
  packages/gh-pages-builder/src/build-gh-pages.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

feat(config): add `processing` and `theme` options to config schema
  packages/gh-pages-builder/src/config.ts
  packages/gh-pages-builder/test/fixtures/async-config.cjs
  packages/gh-pages-builder/test/fixtures/async-config.js
  packages/gh-pages-builder/test/fixtures/object-config.cjs
  packages/gh-pages-builder/test/fixtures/object-config.js
  packages/gh-pages-builder/test/fixtures/sync-config.cjs
  packages/gh-pages-builder/test/fixtures/sync-config.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(build): remove output directory clearing before processing markdown files
  packages/gh-pages-builder/src/build-gh-pages.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(logging): add Logger class for improved logging functionality
  packages/gh-pages-builder/src/build-gh-pages.ts
  packages/gh-pages-builder/src/config.ts
  packages/gh-pages-builder/src/init.ts
  packages/gh-pages-builder/src/logger.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor: move printDirectory to utils and write output to file
  packages/gh-pages-builder/src/build-gh-pages.ts
  packages/gh-pages-builder/src/utils.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: add nodeConsole export and log directory structure writes
  packages/gh-pages-builder/src/logger.ts
  packages/gh-pages-builder/src/utils.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(utils): improve printDirectory formatting and logging
  packages/gh-pages-builder/src/utils.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: improve README to index renaming logic
  packages/gh-pages-builder/src/build-gh-pages.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(config): complete Config interface in all fixture files
  packages/gh-pages-builder/test/fixtures/async-config.cjs
  packages/gh-pages-builder/test/fixtures/object-config.cjs
  packages/gh-pages-builder/test/fixtures/sync-config.cjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs
