Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.cjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.mjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.ts": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.jsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.tsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

fix(.crontab.sh): add cleanup for old log files older than 30 days
  .crontab.sh
Due: none

fix(.crontab.sh): add database backup and cleanup script execution for daily job
  .crontab.sh
Due: none

fix(cleaner.php): add checks to skip specific files and patterns during cleanup
  .husky/hash.txt
  artisan/cleaner.php
Due: composer exec php-cs-fixer fix

refactor(artisan): make cleaner.php iterate nested subdirectories recursively
  .husky/hash.txt
  artisan/cleaner.php
Due: composer exec php-cs-fixer fix

fix(cleaner.php): suppress errors during file removal in cleanup process
  .husky/hash.txt
  artisan/cleaner.php
Due: composer exec php-cs-fixer fix

fix(.crontab.sh): log output of php cleaner script to a log file
  .crontab.sh
Due: none

fix(cleaner.php): update file exclusion logic to allow specific patterns while continuing deletion for others
  .husky/hash.txt
  artisan/cleaner.php
Due: composer exec php-cs-fixer fix

fix: update runner script extension to .sh for Unix systems
  .husky/hash.txt
  artisan/filterPortsBackground.php
  artisan/proxyWorking.php
  artisan/proxyWorkingBackground.php
  cidr-information/checkPorts.php
  php_backend/check-http-proxy.php
  php_backend/check-https-proxy.php
  proxyCheckerBackground.php
  proxyRespawner.php
  scanPorts.php
Due: composer exec php-cs-fixer fix

feat(check-https-proxy): add detailed failure reasons to proxy dead logs
  .husky/hash.txt
  php_backend/check-https-proxy.php
Due: composer exec php-cs-fixer fix

feat: add ProxyCheckerHttpsOnly class and refactor HTTPS proxy checking
  .husky/hash.txt
  php_backend/check-https-proxy.php
  src/PhpProxyHunter/Checker/ProxyChecker-test.php
  src/PhpProxyHunter/Checker/ProxyCheckerHttpsOnly.php
Due: composer exec php-cs-fixer fix

fix(ProxyCheckerGoogle): correct log message format for proxy checks
  .husky/hash.txt
  src/PhpProxyHunter/Checker/ProxyCheckerGoogle.php
Due: composer exec php-cs-fixer fix

feat: add proxy type detection backend and improve proxy checker
  .husky/hash.txt
  php_backend/check-proxy-type.php
  src/PhpProxyHunter/Checker/ProxyTypeDetector.php
  src/utils/process/php_exec.php
Due: composer exec php-cs-fixer fix

refactor: separate proxy check functions and add type detection
  src/react/utils/proxy.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix: update log messages to reflect proxy type detection
  .husky/hash.txt
  php_backend/check-proxy-type.php
Due: composer exec php-cs-fixer fix

fix: unify lock file management across all proxy checker endpoints
  .husky/hash.txt
  php_backend/check-http-proxy.php
  php_backend/check-https-proxy.php
  php_backend/check-proxy-type.php
Due: composer exec php-cs-fixer fix

feat(LogViewer): add proxy type detection tab with polling support
  src/react/pages/ProxyList/LogViewer.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(crontab): support fractional hours and improve sh compatibility
  .crontab.sh
Due: none

feat: add Facebook App ID and secret to environment configuration
  .env.example
Due: none

fix: update shell script execution settings in code runner configuration
  .vscode/settings.json
Due: prettier --list-different --write

fix(crontab): enhance logging for scheduled jobs in crontab script
  .crontab.sh
Due: none

refactor(crontab): run log_command in background with improved logging
  .crontab.sh
Due: none

fix(filterPorts): update lock file naming to include user ID for uniqueness
  .husky/hash.txt
  artisan/filterPorts.php
Due: composer exec php-cs-fixer fix

refactor(artisan/filterPorts.php): optimize and ensure PHP 7.0 compatibility
  .husky/hash.txt
  artisan/filterPorts.php
Due: composer exec php-cs-fixer fix

refactor(artisan/filterPortsDuplicate.php): optimize and ensure PHP 7.0 compatibility
  .husky/hash.txt
  artisan/filterPortsDuplicate.php
Due: composer exec php-cs-fixer fix

feat(crontab): add logging for filterPorts and filterPortsDuplicate in hourly job
  .crontab.sh
Due: none

refactor(artisan/proxyChecker.php): optimize and ensure PHP 7.0 compatibility
  .husky/hash.txt
  artisan/proxyChecker.php
Due: composer exec php-cs-fixer fix

feat(.crontab.sh, php_backend/*): add proxy checker scripts to hourly cron job and improve documentation
  .crontab.sh
  .husky/hash.txt
  php_backend/check-http-proxy.php
  php_backend/check-https-proxy.php
  php_backend/check-proxy-type.php
Due: composer exec php-cs-fixer fix

feat(crontab): update hourly job commands to include new parameters for enhanced functionality
  .crontab.sh
Due: none

refactor(artisan/proxyCollector.php): optimize and remove restart logic
  .husky/hash.txt
  artisan/proxyCollector.php
Due: composer exec php-cs-fixer fix

fix(php_backend): remove unused variable and fix hash prefix in http proxy log
  .husky/hash.txt
  php_backend/check-http-proxy.php
Due: composer exec php-cs-fixer fix

fix(ProxyDB): implement chunked pagination in iterateAllProxies to prevent memory exhaustion
  .husky/hash.txt
  src/PhpProxyHunter/ProxyDB.php
Due: composer exec php-cs-fixer fix

refactor(auth): prioritize email over user_id and simplify CLI user ID parsing
  .husky/hash.txt
  func.php
Due: composer exec php-cs-fixer fix

fix(func.php): streamline CLI user ID validation by using empty check
  .husky/hash.txt
  func.php
Due: composer exec php-cs-fixer fix

fix(php_backend): align hash filename extraction with check-proxy-type.php
  .husky/hash.txt
  php_backend/check-http-proxy.php
Due: composer exec php-cs-fixer fix

refactor: move reTestProxy to checker-runner and add port retest logic
  .husky/hash.txt
  php_backend/check-http-proxy.php
  php_backend/check-proxy-type.php
  php_backend/checker-runner.php
Due: composer exec php-cs-fixer fix

refactor: remove duplicate reTestProxy from check-https-proxy.php
  .husky/hash.txt
  php_backend/check-https-proxy.php
Due: composer exec php-cs-fixer fix

ci(composer): ensure autoloader regeneration on every workflow run
  .github/workflows/checker-php.yml
Due: prettier --list-different --write

fix(waConnect): generate smaller QR code for better display
  node_backend/waConnect.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor: replace hardcoded paths with FOLDER_CONFIG constant in node_backend files
  node_backend/test/testConnection.ts
  node_backend/waConnect3.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor: use getPhpExecutable function to determine PHP binary for cross-platform compatibility
  .husky/hash.txt
  artisan/proxyWorking.php
Due: composer exec php-cs-fixer fix
