Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

feat(CoreDB): initialize user_db instance in MySQL and SQLite constructors
  .husky/hash.txt
  src/PhpProxyHunter/CoreDB.php
Due: composer exec php-cs-fixer fix

refactor(coredb): remove PHP 8+ type hints for PHP 7 compatibility
  .husky/hash.txt
  src/PhpProxyHunter/CoreDB.php
Due: composer exec php-cs-fixer fix

chore(phpcs): disable specific PSR-12 rules for CoreDBTest.php
  phpcs.xml
Due: none

test(CoreDB): add unit tests for CoreDB class with MySQL and SQLite support
  tests/PhpProxyHunter/CoreDBTest.php
Due: composer exec php-cs-fixer fix

refactor(CoreDBTest): simplify database cleanup by removing unnecessary truncation
  tests/PhpProxyHunter/CoreDBTest.php
Due: composer exec php-cs-fixer fix

test: clean up related user_discount rows before deleting test users in UserDBTest
  tests/PhpProxyHunter/UserDBTest.php
Due: composer exec php-cs-fixer fix

refactor(coredb): make constructor parameters public fields and remove getters
  .husky/hash.txt
  src/PhpProxyHunter/CoreDB.php
Due: composer exec php-cs-fixer fix

chore(post-commit): add commit history builder execution to post-commit hook
  .husky/post-commit
Due: none

refactor(json): add no-cache headers to oboe request options
  src/react/utils/json.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(Changelog): replace oboe streaming with native fetch for git-history.json
  src/react/pages/Changelog.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(changelog): show placeholder when no files changed in commit
  src/react/pages/Changelog.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(Changelog): add timestamp to URL in development to prevent caching issues
  src/react/pages/Changelog.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(changelog): simplify fetch logic and cache-busting in dev mode
  src/react/pages/Changelog.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(modal): add reusable Modal component for displaying dialogs and confirmations and custom content
  src/react/components/Modal.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(userdb): make class PHP 7 compatible and improve phpdoc
  .husky/hash.txt
  src/PhpProxyHunter/UserDB.php
Due: composer exec php-cs-fixer fix

refactor(core): allow UserDB to accept existing DB helper instance
  .husky/hash.txt
  src/PhpProxyHunter/CoreDB.php
  src/PhpProxyHunter/UserDB.php
Due: composer exec php-cs-fixer fix

fix(phpcs): disable break indent error in switch-case
  phpcs.xml
Due: none

refactor(php_backend): centralize DB initialization in shared.php
  .husky/hash.txt
  php_backend/check-https-proxy.php
  php_backend/google-oauth.php
  php_backend/list-user.php
  php_backend/login.php
  php_backend/refill-saldo.php
  php_backend/shared.php
  php_backend/user-info.php
Due: composer exec php-cs-fixer fix

refactor(google-oauth): make PHP 7 compatible and improve phpdoc
  .husky/hash.txt
  php_backend/google-oauth.php
Due: composer exec php-cs-fixer fix

refactor(shared): unify database initialization and dotenv loading
  .husky/hash.txt
  php_backend/shared.php
Due: composer exec php-cs-fixer fix

fix(phpcs): disable inline control structure rule with severity 0
  phpcs.xml
Due: none

refactor(proxydb): make ProxyDB compatible with PHP 7 by removing nullable and strict type hints
  .husky/hash.txt
  src/PhpProxyHunter/ProxyDB.php
Due: composer exec php-cs-fixer fix

refactor(ProxyDB): optimize constructor to support helper instances and improve readability
  .husky/hash.txt
  src/PhpProxyHunter/ProxyDB.php
Due: composer exec php-cs-fixer fix

refactor(core): move ProxyDB initialization into CoreDB
  .husky/hash.txt
  php_backend/shared.php
  src/PhpProxyHunter/CoreDB.php
Due: composer exec php-cs-fixer fix

refactor(tests): update UserDBTest to use getenv for database credentials
  .husky/hash.txt
  tests/PhpProxyHunter/UserDBTest.php
Due: composer exec php-cs-fixer fix

feat(db): add MySQL support to ProxyDB and update tests
  .husky/hash.txt
  src/PhpProxyHunter/ProxyDB.php
  tests/PhpProxyHunter/ProxyDBTest.php
Due: composer exec php-cs-fixer fix

feat(modal): add scrollable option and support for larger sizes
  src/react/components/Modal.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: add prepare:react script and automatic build steps in vite-plugin.js
  package.json
  vite-plugin.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

refactor(debug): extract debug device check into is_debug_device and simplify is_debug logic
  .husky/hash.txt
  func.php
Due: composer exec php-cs-fixer fix

feat(db): use is_debug_device to load environment-specific DB credentials
  .husky/hash.txt
  php_backend/shared.php
Due: composer exec php-cs-fixer fix

docs(CoreDB): enhance constructor docblock with additional parameters for MySQL connection
  .husky/hash.txt
  src/PhpProxyHunter/CoreDB.php
Due: composer exec php-cs-fixer fix

fix(tailwind): ensure all buttons have pointer cursor for better UX
  tailwind.input.css
Due: prettier --list-different --write

chore(UI): rename saldo to point
  src/react/locales/en.json
  src/react/locales/id.json
  src/react/pages/Dashboard.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

refactor: remove toRupiah formatting for saldo in Dashboard, AddSaldoForm, and EditSaldoForm
  src/react/pages/Dashboard.tsx
  src/react/pages/admin/AddSaldoForm.tsx
  src/react/pages/admin/EditSaldoForm.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(i18n): migrate saldo to point terminology and enhance package translations
  src/react/locales/en.json
  src/react/locales/id.json
  src/react/pages/admin/AddSaldoForm.tsx
  src/react/pages/admin/EditSaldoForm.tsx
  src/react/pages/admin/SaldoManager.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

fix(PHP_CodeSniffer): disable trailing comma rule severity in phpcs.xml
  phpcs.xml
Due: none

chore(vscode): add recommended extensions in extensions.json
  .vscode/extensions.json
Due: prettier --list-different --write

refactor(sqlite-installer): improve platform binary selection and error handling
  scripts/sqlite-installer.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(bin): rename create-file-hashes scripts to cfh
  .gitattributes
  .husky/pre-commit
  .husky/pre-merge-commit
  bin/cfh
  bin/cfh.cjs
  bin/cfh.cmd
  bin/git-pull.cjs
  readme.md
  setup.sh
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(deploy): add deploy-vps script for remote deployment and git pull functionality
  bin/deploy-vps.cmd
  bin/deploy-vps.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

Path conditions:
  set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
