Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.cjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.mjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.ts": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.jsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.tsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

refactor: update proxy check URL
  .husky/hash.txt
  php_backend/check-https-proxy.php
Due: composer exec php-cs-fixer fix

refactor: move dotenv loading inside secret key check
  .husky/hash.txt
  src/hashers/CustomPasswordHasher.php
Due: composer exec php-cs-fixer fix

feat: implement user addition with validation and default values
  .husky/hash.txt
  src/PhpProxyHunter/UserDB.php
Due: composer exec php-cs-fixer fix

feat: enhance proxy scraping functionality with new scrapers and improved configuration
  .husky/hash.txt
  packages/proxy-hunter-python/.gitignore
  packages/proxy-hunter-python/.vscode/settings.json
  packages/proxy-hunter-python/proxy_hunter/curl/proxyChecker.py
  packages/proxy-hunter-python/proxy_hunter/proxyhunter.py
  packages/proxy-hunter-python/proxy_hunter/scrappers/__init__.py
  packages/proxy-hunter-python/proxy_hunter/scrappers/direct.test.py
  packages/proxy-hunter-python/proxy_hunter/scrappers/github.py
  packages/proxy-hunter-python/proxy_hunter/scrappers/html_parser.py
  packages/proxy-hunter-python/proxy_hunter/scrappers/others.py
  packages/proxy-hunter-python/proxy_hunter/scrappers/scrapper.py
  packages/proxy-hunter-python/proxy_hunter/scrappers/scrapper_base.py
  packages/proxy-hunter-python/proxy_hunter/scrappers/spysme.py
  packages/proxy-hunter-python/proxy_hunter/utils/index_utils.py
  packages/proxy-hunter-python/readme.md
  packages/proxy-hunter-python/setup.py
Due: prettier --list-different --write, black

feat: add 'welcome_back' translation for English and Indonesian languages
  translations/messages.en.yaml
  translations/messages.id.yaml
  views/_partials/login.twig
Due: prettier --list-different --write

feat: add controllers for checking and listing duplicate proxies with CLI support
  .husky/hash.txt
  composer.json
  controllers/CheckDuplicateProxyController.php
  controllers/ListDuplicateProxyController.php
  controllers/autoload.php
  index.php
  src/mvc/BaseController.php
Due: prettier --list-different --write, composer exec php-cs-fixer fix

feat: update project configuration by adding new source folders and include paths
  .idea/htdocs.iml
  .idea/php.xml
  .idea/phpspec.xml
Due: none

feat: enhance CheckDuplicateProxyController to delete invalid proxies and add new view for listing duplicates
  .husky/hash.txt
  controllers/CheckDuplicateProxyController.php
  views/list-duplicate-proxy/index.twig
Due: composer exec php-cs-fixer fix

feat: add ExecutionTimer class and corresponding test for managing script execution time
  .husky/hash.txt
  src/PhpProxyHunter/ExecutionTimer.php
  tests/ExecutionTimerTest.php
Due: composer exec php-cs-fixer fix

feat: integrate ExecutionTimer for graceful exit in CheckDuplicateProxyController and refine logging for proxy deletion
  .husky/hash.txt
  controllers/CheckDuplicateProxyController.php
Due: composer exec php-cs-fixer fix

fix: correct CLI execution check and remove redundant code in CheckDuplicateProxyController and ListDuplicateProxyController
  .husky/hash.txt
  controllers/CheckDuplicateProxyController.php
  controllers/ListDuplicateProxyController.php
Due: composer exec php-cs-fixer fix

feat: update autoloading configuration and enhance PHPUnit settings for improved test organization
  .husky/hash.txt
  composer.json
  phpunit.xml
Due: prettier --list-different --write

feat: split file utility functions for file management and operations
  .husky/hash.txt
  .idea/htdocs.iml
  composer.json
  func.php
  src/utils/file.php
Due: prettier --list-different --write, composer exec php-cs-fixer fix

refactor: enhance BaseController structure and improve lock file handling
  .husky/hash.txt
  src/mvc/BaseController.php
Due: composer exec php-cs-fixer fix

feat: implement FileLockHelper class for file locking mechanism and add PHPUnit tests
  .husky/hash.txt
  src/PhpProxyHunter/FileLockHelper.php
  tests/PhpProxyHunter/FileLockHelperTest.php
Due: composer exec php-cs-fixer fix

feat: move append_content_with_lock function for safe file content appending
  .husky/hash.txt
  func.php
  src/utils/file.php
Due: composer exec php-cs-fixer fix

feat: update autoload files in composer.json and add autoload.php for dynamic file loading
  .husky/hash.txt
  composer.json
  src/utils/autoload.php
Due: prettier --list-different --write, composer exec php-cs-fixer fix

feat: add stringify function for converting values to human-readable strings
  .husky/hash.txt
  src/utils/string.php
Due: composer exec php-cs-fixer fix

feat: add log file path handling and implement logging functionality in BaseController
  src/mvc/BaseController.php
Due: composer exec php-cs-fixer fix

feat: update cookie file path to use tmp() function for dynamic directory handling
  send_curl.php
Due: composer exec php-cs-fixer fix
