Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.html": "prettier --list-different --write",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

feat: import build_requests
  packages/proxy-hunter-python/proxy_hunter/__init__.py
  packages/proxy-hunter-python/proxy_hunter/curl/__init__.py
Due: black

fix: sort file path by alphabetic
  .husky/hash.txt
  bin/create-file-hashes
Due: none

feat: ignore dist folder
  bin/create-file-hashes
Due: none

fix: eslint cannot find config file
  .husky/hash.txt
  .lintstagedrc.json
Due: prettier --list-different --write

feat: create file hashes using javascript
  bin/create-file-hashes
  bin/create-file-hashes.cmd
  bin/create-file-hashes.js
  bin/utils.js
Due: eslint --fix

feat: set `ESLINT_USE_FLAT_CONFIG` to false
  .lintstagedrc.json
  .vscode/settings.json
Due: prettier --list-different --write

feat: ignore `.vscode` directory
  bin/create-file-hashes.js
Due: eslint --fix

feat: update ignore list
  bin/create-file-hashes.js
Due: eslint --fix

feat: filter non empty item
  bin/create-file-hashes.js
Due: eslint --fix

feat: undo all staged files helper
  bin/undo-commit.cmd
  bin/undo-staged.cmd
Due: none

update package information
  packages/proxy-hunter-python/setup.py
Due: black

feat: package updater
  bin/py-update
  bin/py-update.cmd
Due: none

feat: implement test unit
  packages/proxy-hunter-python/.gitignore
  packages/proxy-hunter-python/.vscode/settings.json
  packages/proxy-hunter-python/Makefile
  packages/proxy-hunter-python/Manifest.in
  packages/proxy-hunter-python/proxy_hunter/curl/__init__.py
  packages/proxy-hunter-python/proxy_hunter/curl/func_useragent.py
  packages/proxy-hunter-python/proxy_hunter/curl/request_helper.py
  packages/proxy-hunter-python/proxy_hunter/test/__init.py
  packages/proxy-hunter-python/pytest.ini
  packages/proxy-hunter-python/setup.py
  packages/proxy-hunter-python/tests/__init__.py
  packages/proxy-hunter-python/tests/build_requests.py
Due: prettier --list-different --write, black

suppress urllib warnings
  packages/proxy-hunter-python/proxy_hunter/curl/request_helper.py
Due: black
