Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.cjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.mjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.ts": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.jsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.tsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

fix(geoIp): use shared database instance and pass db parameter to extractProxies
  .husky/hash.txt
  geoIp.php
Due: composer exec php-cs-fixer fix

feat(proxyRespawner): use shared database and add multi-database support
  .husky/hash.txt
  proxyRespawner.php
Due: composer exec php-cs-fixer fix

fix(database): enhance select method with ORDER BY and LIMIT support
  .husky/hash.txt
  src/PhpProxyHunter/BaseSQL.php
  src/PhpProxyHunter/MySQLHelper.php
  src/PhpProxyHunter/ProxyDB.php
  src/PhpProxyHunter/SQLiteHelper.php
Due: composer exec php-cs-fixer fix

refactor(artisan): update filterPorts.php to use shared database and project root
  artisan/filterPorts.php
Due: composer exec php-cs-fixer fix

refactor(proxy-checker): migrate to shared database and strict types
  proxyCheckerParallel-func.php
  proxyCheckerParallel.php
Due: composer exec php-cs-fixer fix

fix(database): add cross-database compatibility to filterPortsDuplicate
  .husky/hash.txt
  artisan/filterPortsDuplicate.php
Due: composer exec php-cs-fixer fix

fix(database): resolve undefined variable error in mergeDB script
  .husky/hash.txt
  mergeDB.php
  proxyManager.php
Due: composer exec php-cs-fixer fix

feat(mergeDB): add proxy authentication support for database operations
  .husky/hash.txt
  mergeDB.php
Due: composer exec php-cs-fixer fix

feat(react): add Google Analytics 4 tracking integration
  package.json
  src/react/index.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

feat(crontab): add proxyCollector script execution to hourly job
  .crontab.sh
Due: none

refactor: move mergeDB.php to artisan directory and update paths
  artisan/mergeDB.php
Due: composer exec php-cs-fixer fix

fix(crontab): remove redundant php command from hourly job
  .crontab.sh
Due: none

fix(crontab): comment out send_curl.php execution in hourly job
  .crontab.sh
Due: none

feat(husky): add crontab application for VPS in post-merge hook
  .husky/post-merge
Due: none

fix: update title assignment in pageview tracking to default to 'N/A'
  src/react/index.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(routes): update titles for admin and dashboard pages to reflect new branding
  src/react/routes.json
Due: prettier --list-different --write

feat(auth): add client-side auth guard + loading state to Admin and Dashboard
  src/react/pages/Admin.tsx
  src/react/pages/Dashboard.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(auth): use getUserInfo helper for auth checks in Dashboard and Admin
  src/react/pages/Admin.tsx
  src/react/pages/Dashboard.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(admin): require admin role for Admin page
  src/react/pages/Admin.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(logs): include entries targeting user in user logs
  .husky/hash.txt
  php_backend/logs.php
Due: composer exec php-cs-fixer fix

feat(dashboard): add manual refresh to user activity and shorten title
  src/react/locales/en.json
  src/react/locales/id.json
  src/react/pages/dashboard/UserActivityCard.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

feat(dashboard/user-activity): make header responsive and show icon-only controls on mobile
  src/react/pages/dashboard/UserActivityCard.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(dev/git-history): limit git log output and increase buffer to prevent overflow
  src/dev/git-history-to-json.ts
  src/dev/git-history.builder.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(git-history): increase default commit limit from 100 to 1000 to prevent buffer issues
  src/dev/git-history.builder.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(proxy/extractor): remove unused extractProxiesFromFile helper
  src/proxy/extractor.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(utils/number): add fixPhoneNumber and comprehensive tests
  src/utils/number.js
  tests/utils/fixPhoneNumber.test.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(server): resolve public IP when REMOTE_ADDR is localhost and cache results
  .husky/hash.txt
  src/PhpProxyHunter/Server.php
Due: composer exec php-cs-fixer fix

feat(components): add reusable DetailsCell and wire into logs views
  src/react/components/DetailsCell.tsx
  src/react/pages/admin/LogsSection.tsx
  src/react/pages/dashboard/UserActivityCard.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(admin-logs,user-activity): remove auto-polling, add explicit fetch handlers and helper for total extraction
  src/react/pages/admin/LogsSection.tsx
  src/react/pages/dashboard/UserActivityCard.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(details): make DetailsCell preview/copy configurable and use for user_agent
  src/react/components/DetailsCell.tsx
  src/react/pages/admin/LogsSection.tsx
  src/react/pages/dashboard/UserActivityCard.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(env): add PHPDoc and return types for is_cli and is_admin
  .husky/hash.txt
  src/database/env.php
Due: composer exec php-cs-fixer fix

feat(admin): add unauthenticated/unauthorized UI, dark-mode spinner and debug logs
  src/react/pages/Admin.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(func): make runBashOrBatch output redirection opt-in
  .husky/hash.txt
  func.php
Due: composer exec php-cs-fixer fix

fix(husky): require git-lfs only when repository uses LFS
  .husky/pre-commit
Due: none

fix(husky): run composer only when composer.json or PHP files changed
  .husky/post-merge
Due: none

fix(proxyCollector): improve blacklist removal query compatibility for SQLite and MySQL
  .husky/hash.txt
  artisan/proxyCollector.php
Due: composer exec php-cs-fixer fix

refactor(db): make insert() return bool and handle failures gracefully
  .husky/hash.txt
  src/PhpProxyHunter/BaseSQL.php
  src/PhpProxyHunter/MySQLHelper.php
  src/PhpProxyHunter/SQLiteHelper.php
  tests/is-valid-proxy.php
Due: composer exec php-cs-fixer fix

feat(db): mark proxy as added only when insert succeeds; remove $force param
  .husky/hash.txt
  src/PhpProxyHunter/ProxyDB.php
Due: composer exec php-cs-fixer fix

feat(extractor): add ignore_validation parameter to extractProxies
  .husky/hash.txt
  src/utils/proxy/extractor.php
Due: composer exec php-cs-fixer fix

feat(artisan): add proxyCollector2 and wire into crontab
  .crontab.sh
  artisan/proxyCollector2.php
Due: composer exec php-cs-fixer fix
