Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.cjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.mjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.ts": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.jsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.tsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

feat(php_backend): return logFile URL for HTTP/HTTPS proxy checks
  .husky/hash.txt
  php_backend/check-http-proxy.php
  php_backend/check-https-proxy.php
Due: composer exec php-cs-fixer fix

refactor(ProxySubmission): remove log and status URL handling for cleaner UI
  src/react/pages/ProxyList/ProxySubmission.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(proxy-check): include logFile in error response for better debugging
  src/react/utils/proxy.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(proxy-submission): simplify proxy submission flow and integrate ReactFormSaver onRestore
  src/react/pages/ProxyList/ProxySubmission.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(snackbar): preserve newlines & notify on proxy submission
  src/react/components/Snackbar.tsx
  src/react/pages/ProxyList/ProxySubmission.tsx
  src/react/utils/proxy.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

docs(instructions): clarify project setup and emphasize modern PHP practices
  .github/instructions/php.instructions.md
Due: none

fix(proxy-list): distinguish socks4a and socks5h badges with unique colors
  src/react/pages/ProxyList/index.tsx
  tailwind.config.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: enhance proxy checking with additional protocols and authentication support
  .husky/hash.txt
  php_backend/check-http-proxy.php
  src/PhpProxyHunter/Checker/ProxyCheckerHttpOnly.php
  src/PhpProxyHunter/utils/buildCurl.php
Due: composer exec php-cs-fixer fix

refactor: update reTestProxy to use object parameter and improve compatibility
  .husky/hash.txt
  php_backend/check-http-proxy.php
Due: composer exec php-cs-fixer fix

feat(react): refactor proxy type badge colors and add Tailwind color palettes
  src/react/pages/ProxyList/index.tsx
  src/react/utils/proxyTypeColors.ts
  tailwind.config.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(proxyTypeColors): add missing HTTPS color class mapping
  src/react/utils/proxyTypeColors.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(proxy): improve error handling and message construction in checkProxy function
  src/react/utils/proxy.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(proxy): enhance error messages with log file URLs for concurrent process checks
  .husky/hash.txt
  php_backend/check-http-proxy.php
  php_backend/check-https-proxy.php
Due: composer exec php-cs-fixer fix

fix(proxy): remove user ID setting from request parsing for improved security
  .husky/hash.txt
  php_backend/check-http-proxy.php
  php_backend/check-https-proxy.php
Due: composer exec php-cs-fixer fix

refactor(proxy): remove list.php for codebase cleanup and improved maintainability
  list.php
Due: composer exec php-cs-fixer fix

feat: enhance user session management with email-based identification
  .husky/hash.txt
  func.php
  php_backend/google-oauth.php
  src/utils/string/validator.php
Due: composer exec php-cs-fixer fix

feat: add authentication and authorization utilities
  .husky/hash.txt
  src/database/env.php
  tests/run-python.php
Due: composer exec php-cs-fixer fix

fix(proxy): remove captcha session check for improved access control
  .husky/hash.txt
  php_backend/check-http-proxy.php
  php_backend/check-https-proxy.php
Due: composer exec php-cs-fixer fix

feat: add maxRequests setting for GitHub Copilot chat agent
  .vscode/settings.json
Due: prettier --list-different --write

refactor: implement centralized captcha verification system
  .husky/hash.txt
  artisan/filterPortsBackground.php
  artisan/proxyCheckerStarter.php
  artisan/proxyWorkingBackground.php
  cidr-information/checkPorts.php
  geoIpBackground.php
  proxyCheckerBackground.php
  proxyRespawner.php
  src/database/env.php
Due: composer exec php-cs-fixer fix

feat(php): add return type declarations for PHP 7.0+ compatibility
  .husky/hash.txt
  src/FileSessionHandler.php
  src/PhpProxyHunter/FileLockHelper.php
  src/PhpProxyHunter/ProxyDB.php
  src/PhpProxyHunter/Server.php
  src/database/env.php
  src/utils/file/index.php
  src/utils/file/mkdir.php
  src/utils/file/path.php
  src/utils/file/reader.php
  src/utils/file/sanitizer.php
  src/utils/server/respond.php
  src/utils/string/index.php
Due: composer exec php-cs-fixer fix

fix(instructions): remove guideline against using global variables
  .github/instructions/php.instructions.md
Due: none

refactor: remove FileSessionHandler class
  src/FileSessionHandler.php
Due: composer exec php-cs-fixer fix

refactor: rename is_session_started method to isSessionStarted
  .husky/hash.txt
  src/PhpProxyHunter/Session.php
Due: composer exec php-cs-fixer fix

fix(session): improve session folder permission handling
  .husky/hash.txt
  src/PhpProxyHunter/Session.php
Due: composer exec php-cs-fixer fix

refactor(session): centralize logout logic using Session::clearSessions and improve cookie clearing
  .husky/hash.txt
  logout.php
  php_backend/logout.php
  src/PhpProxyHunter/Session.php
Due: composer exec php-cs-fixer fix

fix(hideArrayData): remove type hints and list unpacking for PHP 7.0 compatibility
  .husky/hash.txt
  src/utils/data/hideArrayData.php
Due: composer exec php-cs-fixer fix

fix(scheduler): remove type hint for callable in register method for compatibility
  .husky/hash.txt
  src/PhpProxyHunter/Scheduler.php
Due: composer exec php-cs-fixer fix

fix(instructions): update compatibility guidelines for PHP 7.0 regarding type hints
  .github/instructions/php.instructions.md
Due: none

fix(MySQLHelper): add automatic connection loss detection and recovery
  .husky/hash.txt
  src/PhpProxyHunter/MySQLHelper.php
Due: composer exec php-cs-fixer fix

fix(composer): change minimum stability from beta to dev
  composer.json
Due: prettier --list-different --write

fix(crontab): add skipping messages for scheduled jobs and reorder 6-hour job
  .crontab.sh
Due: none

fix: improve shell compatibility in .crontab.sh script
  .crontab.sh
Due: none

fix(crontab): clarify helper function description for job scheduling
  .crontab.sh
Due: none

feat(.crontab.sh): add logging and error suppression for cron jobs
  .crontab.sh
Due: none

fix(ProxyCheckerHttpOnly): correct protocol formatting in log message
  .husky/hash.txt
  src/PhpProxyHunter/Checker/ProxyCheckerHttpOnly.php
Due: composer exec php-cs-fixer fix

fix(crontab): update schedule for custom crontab script to run every 30 minutes
  .crontab.txt
Due: none

fix(.crontab.sh): update 30-minute job to include proxyCollector calls and comment out logging for python jobs
  .crontab.sh
Due: none

fix(proxyCollector): remove unnecessary require statement for func-proxy.php
  .husky/hash.txt
  artisan/proxyCollector.php
Due: composer exec php-cs-fixer fix

fix(clear-caches): remove obsolete tmp logs cleanup section
  bin/clear-caches
Due: none
