Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.cjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.mjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.ts": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.jsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.tsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

fix: ensure default host value is set correctly in google-oauth.php
  .husky/hash.txt
  php_backend/google-oauth.php
Due: composer exec php-cs-fixer fix

feat: enable terminal shell integration and adjust suggestion settings
  .vscode/settings.json
Due: prettier --list-different --write

feat(login): add Facebook login support
  package.json
  src/react/pages/Login.tsx
  types/vite-env.d.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

feat(proxy-checker): geolocate active proxies missing country
  .husky/hash.txt
  python_app/proxyCheckerGui.py
Due: black

feat(PortFinder): implement port scanning GUI
  .husky/hash.txt
  python_app/PortFinderGui.py
Due: black

feat(launch): add configurations for Proxy Checker and Port Finder GUIs
  .vscode/launch.json
Due: prettier --list-different --write

feat(portfinder): add abort control, "show only open" option, and textual progress
  .husky/hash.txt
  python_app/PortFinderGui.py
Due: black

refactor(portfinder): use extractor.extract_ips for direct IP parsing
  .husky/hash.txt
  python_app/PortFinderGui.py
Due: black

feat(portfinder): add Range/Custom tab input and custom port parsing
  .husky/hash.txt
  python_app/PortFinderGui.py
Due: black

fix(portfinder): tighten tab layout spacing and cap tab height
  .husky/hash.txt
  python_app/PortFinderGui.py
Due: black

refactor(proxydb): rename `type_` to `proxy_type` and add kwargs support for type fields
  .husky/hash.txt
  src/ProxyDB.py
Due: black

feat(PortFinderGui): integrate ProxyDB for persistent open port storage
  .husky/hash.txt
  python_app/PortFinderGui.py
Due: black

feat(proxy): expand untested proxy query to include port-open statuses
  .husky/hash.txt
  src/ProxyDB.py
Due: black

feat(ui): add tabbed interface for proxy checker with database fetch buttons
  python_app/proxyCheckerGui.py
Due: black

feat(ui): add tabbed proxy input with progress tracking and stop button
  .husky/hash.txt
  python_app/proxyCheckerGui.py
Due: black

refactor(proxyCheckerGui): implement sequential proxy checking with QThread
  .husky/hash.txt
  python_app/proxyCheckerGui.py
Due: black

feat(proxyChecker): emit status updates during proxy checking
  .husky/hash.txt
  python_app/proxyCheckerGui.py
Due: black

feat(PortFinderGui): add tabbed input interface for proxy management
  .husky/hash.txt
  python_app/PortFinderGui.py
Due: black

fix(proxyHandler): ensure replier is optional in help command response
  node_backend/whatsapp_handlers/proxy.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor: use shared.py init_db() for database initialization in GUI modules
  .husky/hash.txt
  python_app/PortFinderGui.py
  python_app/proxyCheckerGui.py
Due: black

refactor(geo): remove MMDB downloader from GeoPlugin implementations
  .husky/hash.txt
  src/PhpProxyHunter/GeoPlugin2.php
  src/geoPlugin.py
Due: composer exec php-cs-fixer fix, black

fix(settings): clean up exclude patterns in VSCode settings
  .vscode/settings.json
Due: prettier --list-different --write

feat(dependencies): add cpy package for file copying functionality
  package.json
Due: prettier --list-different --write

refactor(geo): only uses GeoLite2-City database file near executable folder
  .husky/hash.txt
  src/geoPlugin.py
Due: black

feat(python_app): add full Nuitka build pipeline and Python path resolver
  python_app/PortFinderGui-build.js
  python_app/build.js
  python_app/config.js
  python_app/install.js
  python_app/prepare.js
  python_app/proxyCheckerGui-build.js
  python_app/pythonFinder.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(time): extract time_ago into reusable util and reuse in templatetag
  .husky/hash.txt
  django_backend/apps/core/templatetags/time_filters.py
  src/utils/date/timeAgo.py
  tests/utils/date/timeAgo_test.py
Due: black

feat(proxyListGui): implement ProxyList GUI for managing proxies with status filtering
  .husky/hash.txt
  python_app/proxyListGui.py
Due: black

feat(proxyListGui): adjust table column behavior for better width management
  .husky/hash.txt
  python_app/proxyListGui.py
Due: black

feat(proxyListGui): add buttons to open Proxy Checker and Port Finder
  .husky/hash.txt
  python_app/proxyListGui.py
Due: black

feat(bin/backup-db): prefer project-root env and secure MySQL backups
  bin/backup-db
Due: none

feat(backup-db): add .htaccess and index.html for backup directory protection
  bin/backup-db
Due: none

feat(backup-db): ensure backup directory creation with proper permissions
  bin/backup-db
Due: none

refactor(utils/curl): remove unnecessary promisify calls for tough-cookie v4+
  src/utils/curl.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(bin): make `bin/kills` robust and cross-platform
  bin/kills
Due: none

chore(crontab): remove obsolete flags from proxy and port filtering jobs
  .crontab.sh
Due: none

feat(buildCurl): ensure unique HTTP headers by name in cURL requests
  .husky/hash.txt
  src/PhpProxyHunter/utils/buildCurl.php
Due: composer exec php-cs-fixer fix

feat(curl): add executeCurl function for executing cURL requests with latency measurement
  .husky/hash.txt
  src/PhpProxyHunter/utils/buildCurl.php
Due: composer exec php-cs-fixer fix

feat(proxy): record latency for HTTP and HTTPS checks
  .husky/hash.txt
  php_backend/check-http-proxy.php
  php_backend/check-old-proxy.php
Due: composer exec php-cs-fixer fix

fix(settings): update PHP version for Intelephense environment to 7.0
  .vscode/settings.json
Due: prettier --list-different --write

feat(proxy): record latency during proxy checks when available
  .husky/hash.txt
  php_backend/check-proxy-type.php
Due: composer exec php-cs-fixer fix
