Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

skip get type=None from status=port-open
  django_backend/apps/proxy/tasks_unit/real_check_proxy.py
Due: none

feat: filter duplicate ips
  django_backend/apps/proxy/statics/checker_result.js
  django_backend/apps/proxy/statics/proxy_index.js
  django_backend/apps/proxy/tasks.py
  django_backend/apps/proxy/tasks_unit/filter_ports_proxy.py
  django_backend/apps/proxy/tasks_unit/real_check_proxy.py
  django_backend/apps/proxy/templates/checker_result.html
  django_backend/apps/proxy/templates/index.html
  django_backend/apps/proxy/urls.py
  django_backend/apps/proxy/views.py
  src/func_console.py
Due: eslint --fix, prettier --list-different --write

fix: date string parameter is None
  django_backend/apps/core/templatetags/time_filters.py
Due: none

optimize imports
  django_backend/apps/proxy/tasks_unit/filter_ports_proxy.py
Due: none

fix: proxy checker limitations
  django_backend/apps/proxy/views.py
Due: none

update check proxy after filter duplicated ips
  django_backend/apps/core/management/commands/check_proxy_real.py
  django_backend/apps/proxy/tasks_unit/filter_ports_proxy.py
  django_backend/apps/proxy/tasks_unit/real_check_proxy.py
Due: none

fix: missing logging folder
  django_backend/settings.py
Due: none

fix: collect static files (to sync with nginx config)
  .gitignore
  .htaccess_nginx.conf
  django_backend/settings.py
  fix-nginx-perm.sh
Due: none

reset log file every restart
  django_backend/settings.py
Due: none

pass request to template
  django_backend/apps/proxy/views.py
Due: none

rename file templates
  django_backend/apps/proxy/templates/proxy_checker_result.html
  django_backend/apps/proxy/templates/proxy_list_index.html
  django_backend/apps/proxy/views.py
Due: prettier --list-different --write

skip django confirmation while collecting static files
  fix-nginx-perm.sh
Due: none

update proxy status views
  django_backend/apps/proxy/statics/checker_result.js
  django_backend/apps/proxy/templates/proxy_checker_result.html
  django_backend/apps/proxy/templates/proxy_list_index.html
  django_backend/apps/proxy/templates/proxy_status.html
  django_backend/apps/proxy/views.py
Due: eslint --fix, prettier --list-different --write

fix: latency value
  django_backend/apps/proxy/tasks_unit/filter_ports_proxy.py
Due: none

Path conditions:
  eslint --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.html) or (any of: *.json)) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)
  composer exec php-cs-fixer fix: any of: *.php
