Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.cjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.mjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.ts": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.jsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.tsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

fix(settings): remove PHP executor mapping from code-runner configuration
  .vscode/settings.json
Due: prettier --list-different --write

fix(google-oauth): remove database path from UserDB instantiation
  .husky/hash.txt
  php_backend/google-oauth.php
Due: composer exec php-cs-fixer fix

feat(profile): implement profile editing functionality with validation and user feedback
  controllers/ProfileController.php
  views/assets/js/edit-profile.js
  views/profile/edit.twig
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, composer exec php-cs-fixer fix

refactor(php): modularize google-oauth handler and cleanup logic
  .husky/hash.txt
  php_backend/google-oauth.php
Due: composer exec php-cs-fixer fix

fix(user): add saldo property to UserListData interface
  types/user.d.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(logout): implement LogoutController for session clearing and redirection
  controllers/LogoutController.php
Due: composer exec php-cs-fixer fix

fix(profile-card): correct edit profile link in profile card component
  views/_partials/profile-card.twig
Due: none

fix(userdb): support update by id, email, or username
  .husky/hash.txt
  src/PhpProxyHunter/UserDB.php
  tests/PhpProxyHunter/UserDBTest.php
Due: composer exec php-cs-fixer fix

fix(profile): validate update result before returning success
  controllers/ProfileController.php
Due: composer exec php-cs-fixer fix

refactor(user-info): simplify header handling and user data fetch
  .husky/hash.txt
  php_backend/user-info.php
Due: composer exec php-cs-fixer fix

refactor(google-oauth): unify and extend CORS and cache control headers
  .husky/hash.txt
  php_backend/google-oauth.php
Due: composer exec php-cs-fixer fix

feat(template): add Font Awesome icons for navigation links
  views/template.twig
Due: none

fix(list-user): prevent unauthorized access to user list
  php_backend/list-user.php
Due: composer exec php-cs-fixer fix

fix(languages): align language icon vertically in the dropdown fix(template): add margin-top to the container for better spacing
  views/_widgets/languages.twig
  views/template.twig
Due: none

fix(refill-saldo): improve user selection handling and error management
  .husky/hash.txt
  php_backend/refill-saldo.php
  views/assets/js/refill-saldo.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, composer exec php-cs-fixer fix

feat(post-merge): add support for composer, yarn, and rollup commands
  .husky/post-merge
Due: none

fix(package.json): update prepare script to use npx for husky
  package.json
Due: prettier --list-different --write

refactor(post-merge): run composer, yarn, and rollup commands execution before fix permission
  .husky/post-merge
Due: none

feat(navbar): toggle login/logout links based on authentication
  views/assets/js/template.js
  views/template.twig
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(edit-profile): update dark mode background color for form
  views/profile/edit.twig
Due: none

fix(template): wrap body block in a section for improved layout
  views/template.twig
Due: none

feat(dashboard-menu): add dashboard menu to multiple views for consistent navigation
  views/_widgets/dashboard-menu.twig
  views/admin/index.twig
  views/dashboard/index.twig
  views/profile/edit.twig
  views/user/logs.twig
Due: none

feat(recaptcha): integrate Google reCAPTCHA v2 and v3 dynamically
  package.json
  views/assets/js/template.js
  views/template.twig
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

chore(eslint): update config and add typings for window.clipboardData
  eslint.config.mjs
  types/window-shim.d.ts
  views/assets/js/template.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(widget): migrate dashboard menu to JSON-driven dynamic rendering
  views/_widgets/dashboard-menu.twig
  views/assets/js/_widget/dashboard-menu.js
  views/assets/json/dashboard-menu.json
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

refactor(dashboard): migrate menu source to JSONC and parse client-side
  package.json
  rollup.php.js
  views/assets/js/_widget/dashboard-menu.js
  views/assets/json/dashboard-menu.jsonc
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

fix(dashboard-menu): ensure dashboard menu element exists before processing menu data
  views/assets/js/_widget/dashboard-menu.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(package): update package resolutions for various dependencies
  package.json
Due: prettier --list-different --write

refactor(cleaner): move cleaner script to artisan/ and fix relative paths
  artisan/cleaner.php
Due: composer exec php-cs-fixer fix

refactor: documentation
  packages/proxy-hunter-python/readme.md
Due: none

feat(php): add MySQL support alongside SQLite
  .husky/hash.txt
  src/PhpProxyHunter/MySQLHelper.php
  src/PhpProxyHunter/UserDB.php
  src/PhpProxyHunter/assets/mysql-schema.sql
  src/PhpProxyHunter/assets/sqlite-re-order-proxies.sql
  src/PhpProxyHunter/assets/sqlite-schema.sql
  tests/PhpProxyHunter/UserDBTest.php
Due: prettier --list-different --write, composer exec php-cs-fixer fix

test: load .env before running PHPUnit tests
  .husky/hash.txt
  phpunit.xml
  tests/bootstrap.php
Due: composer exec php-cs-fixer fix

feat: add saldo arithmetic tests for SQLite and MySQL
  .env-sample
  tests/PhpProxyHunter/UserDBSaldoArithmeticTest.php
  tests/bootstrap.php
Due: composer exec php-cs-fixer fix

fix: update package resolutions for various dependencies
  package.json
Due: prettier --list-different --write

fix: update TypeScript configuration to include ES2022 library
  tsconfig.json
Due: prettier --list-different --write

test: enhance UserDBSaldoArithmeticTest with MySQL database lifecycle management
  .husky/hash.txt
  tests/PhpProxyHunter/UserDBSaldoArithmeticTest.php
Due: composer exec php-cs-fixer fix

fix: handle missing saldo records gracefully in UserDB
  src/PhpProxyHunter/UserDB.php
Due: composer exec php-cs-fixer fix

feat: enhance MySQLHelper to create database if it doesn't exist on connection
  .husky/hash.txt
  src/PhpProxyHunter/MySQLHelper.php
Due: composer exec php-cs-fixer fix

feat: add ESLint configuration with TypeScript and Prettier integration
  eslint.config.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix: remove redundant backup instructions from project guidelines
  .github/instructions/all.instructions.md
Due: none
