Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.html": "prettier --list-different --write",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix"
}

feat(extractPorts): only capture port length > 1
  func-proxy.php
Due: composer exec php-cs-fixer fix

feat: apply single lock file by ip user
  cidr-information/checkPorts.php
  func-proxy.php
Due: composer exec php-cs-fixer fix

feat: print user IP
  info.php
Due: composer exec php-cs-fixer fix

feat: word-wrap pre code tag
  data/azenv.php
Due: composer exec php-cs-fixer fix

feat: working sites and change button color
  userscripts/universal.user.js
Due: eslint --fix

feat: free.proxy-sale.com parser
  userscripts/universal.user.js
Due: eslint --fix

feat: working site
  userscripts/universal.user.js
Due: eslint --fix

update locked thread log
  filterPorts.php
  filterPortsBackground.php
  filterPortsDuplicate.php
Due: composer exec php-cs-fixer fix

change lock file
  filterPorts.php
  filterPortsBackground.php
  filterPortsDuplicate.php
Due: composer exec php-cs-fixer fix

run autopep8 using lint-staged
  .husky/post-commit
  .lintstagedrc.json
Due: prettier --list-different --write

feat: python proxy checker and hunter
  .vscode/settings.json
  bin/py-install.cmd
  data/webgl.py
  packages/proxy-hunter-python/.gitignore
  packages/proxy-hunter-python/LICENSE
  packages/proxy-hunter-python/proxy_hunter/__init__.py
  packages/proxy-hunter-python/proxy_hunter/ip_ranges_US.txt
  packages/proxy-hunter-python/proxy_hunter/prox_check.py
  packages/proxy-hunter-python/proxy_hunter/proxyhunter.py
  packages/proxy-hunter-python/readme.md
  packages/proxy-hunter-python/setup.py
  requirements.txt
  src/Proxy.py
  src/ProxyDB.py
  src/SQLiteHelper.py
  src/func.py
  src/func_certificate.py
  src/func_console.py
  src/func_date.py
  src/func_proxy.py
  src/func_threading.py
  src/func_useragent.py
  src/geoPlugin.py
  src/scheduler.py
Due: prettier --list-different --write
