Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

update terminal settings
  .vscode/settings.json
Due: prettier --list-different --write

update phpseclib
  composer.json
Due: prettier --list-different --write

update php-cs-fixer
  composer.json
Due: prettier --list-different --write

feat(buildCurl): custom request method support
  func-proxy.php
  tests/buildCurl.php
Due: composer exec php-cs-fixer fix

update certificates feat: converted python certificate generator
  data/cacert.pem
  data/curlhaxx_cacert.pem
  data/get-ca.py
  data/get-ca.sh
Due: none

feat(buildCurl): ssl version configurable
  func-proxy.php
Due: composer exec php-cs-fixer fix

fix: return CurlHandle class
  func-proxy.php
Due: composer exec php-cs-fixer fix

force using phpseclib v3
  composer.json
Due: prettier --list-different --write

check if CURL_SSLVERSION_MAX_DEFAULT settled
  func-proxy.php
Due: composer exec php-cs-fixer fix

feat: python installation on ubuntu
  readme.md
Due: none

fix: missing write last week run timestamp
  .github/workflows/checker.yml
Due: prettier --list-different --write

install pyside6 only for windows
  requirements_base.txt
  requirements_install.py
Due: none

feat: virtual env python
  readme.md
Due: none

remove auto generated file
  .gitignore
  requirements.txt
Due: none

Path conditions:
  eslint --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.html) or (any of: *.json)) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)
  composer exec php-cs-fixer fix: any of: *.php
