Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

feat: enhance README with detailed features
  packages/gh-pages-builder/readme.md
Due: none

feat: remove dependencies section from README
  packages/gh-pages-builder/readme.md
Due: none

feat: update build commands in README to use npm
  packages/gh-pages-builder/readme.md
Due: none

feat: remove git-diff scripts for cleanup
  bin/git-diff
  bin/git-diff.cmd
Due: none

feat: streamline installation of required tools in CI workflows
  .github/workflows/checker-php.yml
  .github/workflows/checker-python.yml
Due: prettier --list-different --write

feat: add Node.js coding standards and preferences instructions
  packages/gh-pages-builder/.github/instructions/nodejs.instructions.md
Due: none

fix: improve success message formatting in buildGitHubPages function
  packages/gh-pages-builder/src/build-gh-pages.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix: check for existing target directory before cloning repository
  packages/gh-pages-builder/test/fixtures/generate-markdowns.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(test): refactor markdown population and test config handling
  packages/gh-pages-builder/test/config.test.js
  packages/gh-pages-builder/test/env.cjs
  packages/gh-pages-builder/test/fixtures/generate-markdowns.js
  packages/gh-pages-builder/test/utils.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: update rollup config and fixtures ignore, remove old test configs
  packages/gh-pages-builder/rollup.config.js
  packages/gh-pages-builder/test/fixtures/.gitignore
  packages/gh-pages-builder/test/fixtures/async-config.cjs
  packages/gh-pages-builder/test/fixtures/object-config.cjs
  packages/gh-pages-builder/test/fixtures/sync-config.cjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: update ignore patterns to include 'tmp' directory in configuration files
  packages/gh-pages-builder/readme.md
  packages/gh-pages-builder/src/config.ts
  packages/gh-pages-builder/test/fixtures/async-config.js
  packages/gh-pages-builder/test/fixtures/object-config.js
  packages/gh-pages-builder/test/fixtures/sync-config.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: add function to find all template files using glob
  packages/gh-pages-builder/src/config.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: refactor markdown build logic into build-markdown module
  packages/gh-pages-builder/src/build-gh-pages.ts
  packages/gh-pages-builder/src/build-markdown.ts
  packages/gh-pages-builder/src/template-render.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

move github pages builder to their own repository
  packages/gh-pages-builder/.github/instructions/nodejs.instructions.md
  packages/gh-pages-builder/.gitignore
  packages/gh-pages-builder/.prettierrc.json
  packages/gh-pages-builder/bin/build-gh-pages.js
  packages/gh-pages-builder/eslint.config.mjs
  packages/gh-pages-builder/jest.config.js
  packages/gh-pages-builder/package.json
  packages/gh-pages-builder/readme.md
  packages/gh-pages-builder/rollup.config.js
  packages/gh-pages-builder/src/build-gh-pages.ts
  packages/gh-pages-builder/src/build-markdown.ts
  packages/gh-pages-builder/src/config.ts
  packages/gh-pages-builder/src/index.ts
  packages/gh-pages-builder/src/init.ts
  packages/gh-pages-builder/src/logger.ts
  packages/gh-pages-builder/src/template-render.ts
  packages/gh-pages-builder/src/utils.ts
  packages/gh-pages-builder/test/config.test.js
  packages/gh-pages-builder/test/env.cjs
  packages/gh-pages-builder/test/fixtures/.gitignore
  packages/gh-pages-builder/test/fixtures/async-config.js
  packages/gh-pages-builder/test/fixtures/object-config.js
  packages/gh-pages-builder/test/fixtures/package.json
  packages/gh-pages-builder/test/fixtures/sync-config.js
  packages/gh-pages-builder/test/utils.js
  packages/gh-pages-builder/tsconfig.json
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

feat: re-add github pages builder
  .gitmodules
Due: none

feat: rename string util
  src/utils/string_utils.py
Due: black

feat: add VPS management scripts with SFTP/SSH support and backup download
  .husky/hash.txt
  bin/vps-mgr.cmd
  requirements-base.txt
  src/vps/menus/download-backups.py
  src/vps/readme.md
  src/vps/vps_connector.py
  src/vps/vps_manager.py
Due: black

feat: add Node.js and Python configuration loader instructions
  .github/instructions/nodejs.instructions.md
  .github/instructions/python.instructions.md
Due: none

feat: add PHP coding standards and guidelines
  .github/instructions/php.instructions.md
Due: none

feat: update PHP coding standards and guidelines
  .github/instructions/php.instructions.md
Due: none

feat: add initial implementation of PHP SQLite Sync API with authentication and CRUD operations
  .env-sample
  .husky/hash.txt
  cloud_sqlite/.gitignore
  cloud_sqlite/config.php
  cloud_sqlite/delete.php
  cloud_sqlite/fetch-updated.php
  cloud_sqlite/fetch.php
  cloud_sqlite/init.php
  cloud_sqlite/readme.md
  cloud_sqlite/sync.php
Due: composer exec php-cs-fixer fix

docs: update README to clarify authentication token usage and setup instructions
  cloud_sqlite/readme.md
Due: none

docs: update setup instructions in README for environment file naming
  cloud_sqlite/readme.md
Due: none

refactor(file): rename delete method, add local deletion with progress
  .husky/hash.txt
  src/vps/vps_connector.py
Due: black

feat(sftp): improve feedback, error handling, and delete robustness
  .husky/hash.txt
  src/vps/vps_connector.py
Due: black

test: add checks for empty file reads in func_console_test.py
  .husky/hash.txt
  tests/func_console_test.py
Due: black

docs(readme): improve setup instructions and add SQLite extension guidance
  cloud_sqlite/readme.md
Due: none

feat(python): configure pytest as the testing framework
  .husky/hash.txt
  .vscode/settings.json
  pyproject.toml
  requirements-dev.txt
  tests/ProxyDB_Test.py
Due: prettier --list-different --write, black

chore(settings): update VSCode settings for improved development experience
  .vscode/settings.json
Due: prettier --list-different --write

feat(venv): prefer .venv over venv for virtual environment path
  bin/py
  bin/py.cmd
Due: none

feat(tests): add coverage configuration and update pytest options
  .gitignore
  pyproject.toml
  requirements-dev.txt
Due: none

fix(proxydb): ensure self.db is always defined in the ProxyDB constructor
  .husky/hash.txt
  src/ProxyDB.py
Due: black

fix(create-file-hashes): normalize file paths to use forward slashes in hash output
  .husky/hash.txt
  bin/create-file-hashes.cjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(create-file-hashes): enhance file hashing by processing unique files and including special files
  .husky/hash.txt
  bin/create-file-hashes.cjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor: add remote_path and local_path to VPSConnector, update usage, and add tests
  src/vps/vps_connector.py
  src/vps/vps_manager.py
  tests/vps/test_vps_connector.py
Due: black

feat: add recursive directory download support to VPSConnector
  .husky/hash.txt
  src/vps/vps_connector.py
Due: black

feat(vps_connector): add download progress indication for file transfers
  .husky/hash.txt
  src/vps/vps_connector.py
Due: black

refactor: modularize VPS connector into SSH, SFTP, and config modules
  .husky/hash.txt
  src/vps/config.py
  src/vps/sftp_client.py
  src/vps/ssh_client.py
  src/vps/vps_connector.py
Due: black

refactor: update .gitignore to streamline ignored files and enhance organization
  .gitignore
Due: none

refactor: reorganize .gitignore for improved clarity and structure
  .gitignore
Due: none

Path conditions:
  set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
