Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.cjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.mjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.ts": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.jsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.tsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

feat(proxy-checker): enhance shutdown function to write additional proxy details and status
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

feat(proxy-checker): enhance proxy status logging and add non-SSL testing for public IP detection
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

feat(AnsiColors): add ANSI colorization and HTML conversion functionality
  .husky/hash.txt
  src/PhpProxyHunter/AnsiColors.php
  tests/console/color.php
Due: composer exec php-cs-fixer fix

refactor(proxy-checker): extract helpers and reduce duplicated proxy check logic
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

feat(proxy-checker): enhance IP detection logic to compare detected IP with current client IP
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

refactor: revert f40fb9af39eb2882bd8b967139939319dc808a95
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

refactor(php7): make Proxy class compatible with PHP 7
  .husky/hash.txt
  src/PhpProxyHunter/Proxy.php
Due: composer exec php-cs-fixer fix

feat(log-viewer): render log output as HTML
  src/react/pages/ProxyList/LogViewer.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(getServerIp): delete cached IP file if older than 5 minutes on debug devices
  .husky/hash.txt
  func-proxy.php
Due: composer exec php-cs-fixer fix

fix(proxydb): filter out null, false, and empty values before updating record in proxies table
  .husky/hash.txt
  src/PhpProxyHunter/ProxyDB.php
Due: composer exec php-cs-fixer fix

refactor(proxy-checker): extract proxyChecker function and improve type validation
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

fix(proxy-checker): correct error message and align database field name
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

refactor(log-viewer): extract user proxy log URL fetch into helper
  src/react/pages/ProxyList/LogViewer.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(log-viewer): export getUserProxyLogUrl function for external usage
  src/react/pages/ProxyList/LogViewer.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(proxy): move validation functions into dedicated validator module
  src/proxy/extractor.js
  src/proxy/hunter.js
  src/proxy/proxyWorking.js
  src/proxy/utils.js
  src/proxy/validator.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(info): resolve public IP when request IP is localhost
  .husky/hash.txt
  info.php
Due: composer exec php-cs-fixer fix

feat(proxy-checker): resolve external IP when server IP is local network
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

feat(proxy-checker): enhance local IP detection to include localhost addresses
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

feat(proxy): add ProxyData class for managing proxy table data
  src/proxy/ProxyData.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(proxy): update ProxyData constructor to handle null values for proxy parameter
  src/proxy/ProxyData.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(proxy-checker): set username and password to null if empty
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

fix(vite-plugin): only remove dev server lock file on exit if running in dev mode
  vite-plugin.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(proxy): add toJson method for JSON representation of Proxy object
  .husky/hash.txt
  src/PhpProxyHunter/Proxy.php
Due: composer exec php-cs-fixer fix

feat(proxy): enhance toJson method to filter empty properties
  .husky/hash.txt
  src/PhpProxyHunter/Proxy.php
Due: composer exec php-cs-fixer fix

refactor(proxy): improve proxy extraction logic and add comprehensive tests
  .husky/hash.txt
  src/utils/proxy/extractor.php
  tests/utils/proxy/ExtractProxiesTest.php
Due: composer exec php-cs-fixer fix

docs(proxyChecker): enhance function documentation with detailed parameter descriptions and usage
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

refactor(env): use environment variable for debug device detection
  .husky/hash.txt
  func.php
Due: composer exec php-cs-fixer fix

refactor(env): move is_debug_device function from func.php to src/database/env.php
  .husky/hash.txt
  func.php
  src/database/env.php
Due: composer exec php-cs-fixer fix

feat(env): load dotenv from project root and sync variables to getenv
  .husky/hash.txt
  src/database/env.php
Due: composer exec php-cs-fixer fix

refactor: move getPublicIP to func-proxy.php and improve getServerIp resolution
  .husky/hash.txt
  func-proxy.php
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

refactor: move file helper functions to utils
  .husky/hash.txt
  php_backend/proxy-checker.php
  src/utils/file/index.php
Due: composer exec php-cs-fixer fix

refactor(Scheduler): ensure $shutdown_functions is initialized as an array in execute method
  .husky/hash.txt
  src/PhpProxyHunter/Scheduler.php
  tests/hashers/CustomPasswordHasherTest.php
Due: composer exec php-cs-fixer fix

refactor(Scheduler): correct method name from rand_str to randStr for consistency
  .husky/hash.txt
  src/PhpProxyHunter/Scheduler.php
Due: composer exec php-cs-fixer fix

refactor(composer): remove CustomPasswordHasher.php from autoload files
  composer.json
Due: prettier --list-different --write

refactor(autoload): replace str_replace with preg_replace for file path normalization
  .husky/hash.txt
  src/autoload.php
Due: composer exec php-cs-fixer fix

refactor(autoload): optimize file loading by checking for previously loaded files
  .husky/hash.txt
  src/autoload.php
Due: composer exec php-cs-fixer fix

refactor(autoload): add check for AUTOLOADER_INCLUDED to prevent multiple inclusions
  .husky/hash.txt
  src/autoload.php
Due: composer exec php-cs-fixer fix

refactor: move request parsing helpers to utils and add autoload checks
  .husky/hash.txt
  func.php
  src/autoload.php
  src/utils/server/postdata.php
Due: composer exec php-cs-fixer fix

refactor: move str_starts_with shim to utils
  .husky/hash.txt
  func.php
  src/utils/shim/string.php
Due: composer exec php-cs-fixer fix

refactor(autoload): initialize $loadedFiles with get_included_files for better tracking of loaded files
  .husky/hash.txt
  src/autoload.php
Due: composer exec php-cs-fixer fix
