Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

docs: update installation and build instructions for the project
  readme.md
Due: none

refactor: improve pagination logic and URL parameter handling
  proxyManager-src.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix: set static file cache for 1 day
  .htaccess_nginx.conf
Due: none

fix: always log request data
  .husky/hash.txt
  php_backend/get_sms.php
Due: composer exec php-cs-fixer fix

fix: ensure database directory is created if it does not exist
  src/PhpProxyHunter/ProxyDB.php
Due: composer exec php-cs-fixer fix

fix: enhance superuser command help text and improve code formatting
  .husky/hash.txt
  django_backend/apps/core/management/commands/create_superuser.py
Due: black

fix: update manage services and improve directory handling
  bin/stop-server
Due: none

fix: improve server restart script to handle starting services if not active
  bin/restart-server
Due: none

feat: add php_exec function to execute shell commands with fallback options
  .husky/hash.txt
  func.php
Due: composer exec php-cs-fixer fix

fix: exclude additional folder from project configuration
  .idea/htdocs.iml
Due: none

fix: update UserBalance model to use Decimal for saldo default value
  .husky/hash.txt
  django_backend/apps/authentication/models.py
Due: black

fix: enhance AdminOnlyPermission to ensure user attribute checks before permission validation
  django_backend/apps/authentication/permissions.py
Due: black

feat: implement custom UserManager for user creation and management
  django_backend/apps/authentication/managers.py
Due: black

feat: refactor UserBalance to UserFields with additional phone field and update related admin and utility functions
  django_backend/apps/authentication/admin.py
  django_backend/apps/authentication/migrations/0004_userfields_delete_userbalance.py
  django_backend/apps/authentication/models.py
  django_backend/apps/authentication/utils.py
  django_backend/apps/core/management/commands/list_users.py
  django_backend/settings.py
  requirements_base.txt
Due: black

Path conditions:
  set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
