Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

update sync proxies between databases including active proxies
  django_backend/apps/core/management/commands/import_proxies.py
  django_backend/apps/core/management/commands/sync_proxies.py
Due: none

feat: sync proxies between php and django python databases
  fix-nginx-perm.sh
Due: none

fix: python web server should be https
  readme.md
Due: none

rename nav title
  django_backend/apps/core/templates/base_generic.html
  proxyManager.html
Due: prettier --list-different --write

rename badge https to SSL
  django_backend/apps/proxy/templatetags/proxy_filters.py
  proxyManager.js
Due: eslint --fix

using INSERT OR REPLACE query
  django_backend/apps/core/management/commands/sync_proxies.py
Due: none

fix: matching proxy username and password
  packages/proxy-hunter-python/proxy_hunter/extract_proxies.py
  packages/proxy-hunter-python/proxy_hunter/proxyhunter.py
Due: none

feat: indexing proxies
  django_backend/apps/core/management/commands/sync_proxies.py
Due: none

fix: is should be `==`
  packages/proxy-hunter-python/proxy_hunter/prox_check.py
Due: none

update miss logs for commands
  django_backend/apps/core/management/commands/list_users.py
  django_backend/apps/core/management/commands/sync_proxies.py
Due: none

feat(django): login with google
  .env_sample
  django_backend/apps/authentication/services/google_views.py
  django_backend/apps/authentication/templates/login.html
  django_backend/apps/authentication/urls.py
  django_backend/apps/authentication/views.py
  django_backend/apps/core/templates/login.html
  django_backend/settings.py
  requirements_base.txt
Due: prettier --list-different --write

delay recaptcha
  proxyManager.html
Due: prettier --list-different --write

increase duplicate ips count to filter
  django_backend/apps/proxy/tasks_unit/filter_ports_proxy.py
Due: none

fix: hidden recaptcha v3
  proxyManager.html
Due: prettier --list-different --write

Path conditions:
  eslint --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.html) or (any of: *.json)) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)
  composer exec php-cs-fixer fix: any of: *.php
