Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, python -m black, cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix(settings): downgrade intelephense PHP version from 8.2.0 to 8.0.0
  .vscode/settings.json
Due: prettier --list-different --write

fix(proxydb): unify untested-proxy selection across JS and Python
  .husky/hash.txt
  src/ProxyDB.js
  src/ProxyDB.py
Due: eslint --fix, python -m black

feat(artisan): add --admin CLI flag and ParseArgs dataclass
  artisan/proxy_getter.py
Due: python -m black

refactor(cli): move CLI parser to src/utils and update imports
  artisan/filter_open_port.py
  artisan/geoIp.py
  artisan/proxy_getter.py
  artisan/proxy_socks5_checker.py
  artisan/proxy_ssl_test.py
  artisan/proxy_tun2socks_checker.py
  artisan/proxy_tun2socks_stability.py
  src/utils/parse_args.py
Due: python -m black

fix(real_check): handle case where soup.title is None or empty
  django_backend/apps/core/management/commands/check_proxies.py
Due: python -m black

feat(cli): add `--max` alias for `--limit` and fallback logic
  src/utils/parse_args.py
Due: python -m black

refactor(cli): use shared parse_args in proxyChecker and add description param
  proxyChecker.py
  src/utils/parse_args.py
Due: python -m black

refactor(proxyChecker): use shared anonymity helper and parser, fix finally return
  proxyCheckerReal.py
Due: python -m black

fix(hooks): use PROJECT_DIR for git-history builder and migrations
  .husky/post-commit
  .husky/post-merge
Due: none

fix(executor): show command only to admins and append PATH on Windows
  .husky/hash.txt
  php_backend/executor.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix(executor): restrict command to admins and expose runner PATH to admins
  .husky/hash.txt
  php_backend/executor.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

feat(executor): list both artisan .php/.py and disambiguate duplicates in UI
  .husky/hash.txt
  php_backend/executor.php
  src/react/pages/ProxyList/ProxySubmission.tsx
Due: eslint --fix, cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix(geoIp): update proxy location message to use 'OK' instead of '✓'
  .husky/hash.txt
  artisan/geoIp.py
Due: python -m black

feat(tests): add orange color output to color function test
  tests/color-function-test.py
Due: python -m black

refactor(prox_check): remove unnecessary colorama initialization
  packages/proxy-hunter-python/proxy_hunter/curl/prox_check.py
Due: python -m black

feat(proxy-submission): persist selected executor between visits
  src/react/pages/ProxyList/ProxySubmission.tsx
Due: eslint --fix

fix(artisan/geoIp): treat --file CLI input as file source
  .husky/hash.txt
  artisan/geoIp.py
Due: python -m black

fix(extract_proxies): robustly parse noisy host:port strings and preserve credentials
  .husky/hash.txt
  packages/proxy-hunter-python/proxy_hunter/utils/extractor/proxies/extract_proxies.py
  packages/proxy-hunter-python/tests/proxy_extractor.py
Due: python -m black

fix(proxy-submission): include credentials in fetch requests
  src/react/pages/ProxyList/ProxySubmission.tsx
Due: eslint --fix

feat(executor,proxy-submission,utils): use axios helper (send credentials) and include role in executor logs
  .husky/hash.txt
  php_backend/executor.php
  src/react/pages/ProxyList/ProxySubmission.tsx
  src/react/utils/ajax-helper.ts
Due: eslint --fix, cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

docs(copilot): refine React instructions and add centralized AJAX helper guidelines
  .github/instructions/react.instructions.md
Due: none

feat(http): replace direct fetch calls with centralized ajax helper
  src/react/pages/Changelog.tsx
  src/react/pages/ProxyList/LogViewer.tsx
  src/react/pages/admin/LogsSection.tsx
  src/react/pages/dashboard/CrontabLogs.tsx
  src/react/utils/proxy.ts
Due: eslint --fix

chore(deps): move unzipper to dependencies
  package.json
Due: prettier --list-different --write

feat(settings): add PUPPETEER_SKIP_DOWNLOAD environment variable
  .vscode/settings.json
Due: prettier --list-different --write

fix(executor): respect explicit filename extensions in executorFiles
  .husky/hash.txt
  package.json
  php_backend/executor.php
Due: prettier --list-different --write, cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix(executor): accept explicit filename keys and sanitize long --str/--proxy args
  .husky/hash.txt
  php_backend/executor.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix(proxy-submission): avoid sending credentials when fetching third-party proxy lists
  .husky/hash.txt
  php_backend/proxy.php
  src/react/pages/ProxyList/ProxySubmission.tsx
Due: eslint --fix, cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

feat(proxy): add caller-origin whitelist and move origin helper to Server
  .husky/hash.txt
  php_backend/proxy.php
  src/PhpProxyHunter/Server.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

feat(artisan/geoIp): integrate SQLiteMarker to deduplicate and mark processed proxies
  .husky/hash.txt
  artisan/geoIp.py
Due: python -m black

style(executor): normalize command header quoting and add admin log spacing
  .husky/hash.txt
  php_backend/executor.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix(artisan/proxy_tun2socks_stability): mark file-loaded sources for cleanup
  .husky/hash.txt
  artisan/proxy_tun2socks_stability.py
Due: python -m black

fix(artisan/proxy_socks5_checker): mark file-loaded sources for cleanup
  .husky/hash.txt
  artisan/proxy_socks5_checker.py
Due: python -m black

refactor(filter_duplicate_ips): use shared parse_args and always include untested
  .husky/hash.txt
  artisan/filter_duplicate_ips.py
Due: python -m black

feat(cli): add dynamic args support and generic attr() in parse_args
  .husky/hash.txt
  artisan/proxy_checker_httpx.py
  src/utils/parse_args.py
Due: python -m black

test: add comprehensive tests for proxy extraction functionality
  packages/proxy-hunter-python/tests/test_proxy_extractor.py
Due: python -m black

test: add additional invalid proxy formats to extraction tests
  .husky/hash.txt
  packages/proxy-hunter-python/tests/test_proxy_extractor.py
Due: python -m black

feat(proxy): add count_by_status method to retrieve proxy counts by status
  .husky/hash.txt
  src/ProxyDB.py
Due: python -m black

fix: set directory permissions for cache directory creation
  src/proxy/filter.js
Due: eslint --fix

Path conditions:
  eslint --fix: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  python -m black: any of: *.py
  cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php: any of: *.php
