Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

update response format for text content type
  list.php
Due: composer exec php-cs-fixer fix

check_proxy: surround library check proxy with try-catch
  src/func_proxy.py
Due: none

validate country code not null
  func-proxy.php
Due: composer exec php-cs-fixer fix

fix: missing protocols when saving to database
  proxyCheckerReal.py
Due: none

feat: real proxy checker django
  django_backend/apps/core/management/commands/check_proxy_async.py
  django_backend/apps/core/management/commands/check_proxy_real.py
Due: none

update last_check column
  django_backend/apps/core/management/commands/check_proxy_real.py
Due: none

skip database deletion
  configCleaner.php
Due: composer exec php-cs-fixer fix

feat: ip validator
  src/func_proxy.py
Due: none

feat: filter duplicate ports python version
  filterPortsDuplicate.php
  filterPortsDuplicate.py
Due: composer exec php-cs-fixer fix

Update blacklist.conf
  data/blacklist.conf
Due: none

using python formatter with black formatter
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --list-different --write

feat: check proxy by status = 'port-open'
  filterPortsDuplicate.py
  proxyCheckerReal.py
Due: none

surround with try-except on worker
  filterPortsDuplicate.py
Due: none

specify user www-data for the service
  assets/systemctl/php7.4-fpm.service
Due: none

Path conditions:
  eslint --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.html) or (any of: *.json)) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)
  composer exec php-cs-fixer fix: any of: *.php
