Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, python -m black, cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

refactor(geoIp): remove unused status file handling and simplify scheduler registration
  .husky/hash.txt
  artisan/geoIp.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

refactor(get_project_root): use variadic args for path building
  .husky/hash.txt
  src/database/user_session.php
  src/utils/file/temp.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix(artisan): add file locking to proxyFetcher to prevent concurrent runs
  .husky/hash.txt
  artisan/proxyFetcher.py
Due: python -m black

fix(check-https-proxy): include $proxy_db in global scope for proper access
  .husky/hash.txt
  php_backend/check-https-proxy.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix(geo-ip): initialize $isAdmin and create runner/log output for background geo lookup
  php_backend/geo-ip.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

refactor(php): replace global $isAdmin with is_admin() assignments
  .husky/hash.txt
  artisan/proxyWorking.php
  php_backend/executor.php
  php_backend/get_sms.php
  php_backend/logs.php
  php_backend/processes.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix(geo-ip): normalize runner and log handling to match check-https-proxy
  .husky/hash.txt
  php_backend/geo-ip.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix(geo-plugin): rename locate_recursive to locateRecursive
  .husky/hash.txt
  src/PhpProxyHunter/GeoIpHelper.php
  src/PhpProxyHunter/GeoPlugin.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

feat(geo-ip): refactor IP handling, add caching, and improve CLI/background execution flow
  .husky/hash.txt
  php_backend/geo-ip.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

refactor(artisan): move to_proxy_rows and normalize_proxy_value to proxy_getter.py
  .husky/hash.txt
  artisan/proxy_getter.py
  artisan/proxy_socks5_checker.py
Due: python -m black

fix(proxyCheckerParallel): avoid filectime stat warnings and normalize tmp runners path
  .husky/hash.txt
  proxyCheckerParallel-func.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix(proxySocks5Checker): load untested proxies from the database if no proxies are provided
  .husky/hash.txt
  artisan/proxy_socks5_checker.py
Due: python -m black

fix(func_date): handle missing/empty timestamp in is_date_rfc3339_older_than
  .husky/hash.txt
  src/func_date.py
Due: python -m black

feat(artisan/proxy_getter): add reusable `retrieve_proxies` and `ProxyRetrievalResult`
  artisan/proxy_getter.py
  artisan/proxy_socks5_checker.py
Due: python -m black

refactor(artisan/proxy_getter): simplify DB fallback when retrieving untested proxies
  .husky/hash.txt
  artisan/proxy_getter.py
Due: python -m black

fix(artisan/proxy_getter): ensure DB fetch returns enough candidates for filtering
  .husky/hash.txt
  artisan/proxy_getter.py
Due: python -m black

feat(console): add ANSI rainbow text helper using colorsys
  .husky/hash.txt
  src/func_console.py
  tests/color-meter.py
Due: python -m black

feat(executor): add private checker and use hashed executor cache filename
  .husky/hash.txt
  php_backend/executor.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

feat(proxy): add artisan/proxy_private_checker.py to detect private proxies
  .husky/hash.txt
  artisan/proxy_private_checker.py
Due: python -m black

fix(crontab): change default ensure_run_daily to False in should_run_job
  .crontab.py
  .husky/hash.txt
Due: python -m black

refactor(crontab): remove empty no-op schedule blocks (4h, 6h, 1-w)
  .crontab.py
Due: python -m black

feat(crontab): capture system usage JSON output via subprocess with stdout/stderr redirection
  .crontab.py
Due: python -m black

feat(AnsiColors): add removeAnsi method to strip ANSI escape sequences from strings
  .husky/hash.txt
  src/PhpProxyHunter/AnsiColors.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

feat(logs): respond with JSON for JSON log files (strip ANSI)
  .husky/hash.txt
  php_backend/logs.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix(artisan/proxy_private_checker): include file-loaded proxies missing last_check
  .husky/hash.txt
  artisan/proxy_private_checker.py
Due: python -m black

feat(react): add FloatingScrollButton component and render in MainApp
  src/react/components/FloatingScrollButton.tsx
  src/react/index.tsx
Due: eslint --fix

fix(react/pages/ProxyList): persist executor limit across reloads
  src/react/pages/ProxyList/ProxySubmission.tsx
Due: eslint --fix

fix(artisan/proxy_private_checker): mark proxies as seen for 1 day to avoid permanent exclusion
  .husky/hash.txt
  artisan/proxy_private_checker.py
Due: python -m black

fix(curl): initialize `response` and add post-loop check
  .husky/hash.txt
  packages/proxy-hunter-python/proxy_hunter/curl/request_helper.py
Due: python -m black

fix(proxy_private_checker): only mark/remove proxies actually tested
  .husky/hash.txt
  artisan/proxy_private_checker.py
Due: python -m black

fix(proxy_socks5_checker): mark/remove only actually tested proxies
  .husky/hash.txt
  artisan/proxy_socks5_checker.py
Due: python -m black

fix(proxy_checker): remove marker functionality and deduplicate proxy candidates
  .husky/hash.txt
  artisan/proxy_private_checker.py
  artisan/proxy_socks5_checker.py
Due: python -m black

feat(curl): add certificate generation & expose merged bundle path
  .husky/hash.txt
  packages/proxy-hunter-python/proxy_hunter/curl/__init__.py
  packages/proxy-hunter-python/proxy_hunter/curl/certificates.py
Due: python -m black

test(build_request): update tests to include proxy authentication and verify response
  tests/build_request.py
Due: python -m black

fix(curl): infer proxy type from proxy URL and use merged cert bundle
  packages/proxy-hunter-python/proxy_hunter/curl/request_helper.py
  packages/proxy-hunter-python/tests/build_request_direct.py
Due: python -m black

refactor(proxy_getter): use regex to strip proxy schemes
  artisan/proxy_getter.py
Due: python -m black

refactor(proxy_tun2socks): centralize proxy retrieval and remove SQLiteMarker
  .husky/hash.txt
  artisan/proxy_tun2socks_stability.py
Due: python -m black

feat(artisan): preserve proxy credentials and mark private proxies
  .husky/hash.txt
  artisan/proxy_getter.py
  artisan/proxy_private_checker.py
Due: python -m black

refactor(artisan/proxy_socks5_checker): use extract_proxies, improve logging, and harden file removal
  .husky/hash.txt
  artisan/proxy_socks5_checker.py
Due: python -m black

chore(certs): refresh CA bundles (data/cacert.pem, data/curlhaxx_cacert.pem)
  data/cacert.pem
  data/curlhaxx_cacert.pem
Due: none

Path conditions:
  eslint --fix: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  python -m black: any of: *.py
  cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php: any of: *.php
