Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.cjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.mjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.ts": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.jsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.tsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

feat: add limit parameter to extractProxies function for configurable result size
  .husky/hash.txt
  func-proxy.php
Due: composer exec php-cs-fixer fix

feat: improve sender identification
  node_backend/Replier.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: add launch configuration for WhatsApp bot in VSCode
  .vscode/launch.json
Due: prettier --list-different --write

feat: refactor Rollup configuration and add separate build script for WhatsApp bot
  rollup.config.js
  rollup.whatsapp.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: update TypeScript configuration to include and exclude additional directories
  tsconfig.whatsapp.json
Due: prettier --list-different --write

feat: update dotenv configuration to use specific .env file path
  .env.cjs
  .env.mjs
  .vscode/settings.json
  bin/build-project.cmd
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

feat: export loaded variables
  .env.cjs
  .env.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: add environment configuration generation for build process
  .gitignore
  bin/build-project.cjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: add support for dynamic loading of WhatsApp handlers
  rollup.whatsapp.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: remove .env.cjs and update .gitignore for environment files
  .env.cjs
  .gitignore
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: integrate production environment variables for project directory resolution
  .env.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: add JSON plugin support to Rollup configuration files
  rollup.config.js
  rollup.php.js
  rollup.whatsapp.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: update dependencies to specific commit versions
  requirements_base.txt
Due: none

feat: enhance for crossplatform compatibility
  setup.sh
Due: none
