Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.html": "prettier --list-different --write",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix"
}

feat(real_check_proxy_async): is_existing_proxies indicator
  django_backend/apps/proxy/tasks_unit/real_check_proxy.py
Due: none

replace nuitka builder with workflow calls
  .github/workflows/dl-traffic-windows.yml
  .github/workflows/nuitka.yml
Due: prettier --list-different --write

chore(log_proxy): using log_file
  src/func_console.py
Due: none

fix: latency should be milliseconds
  proxyCheckerReal.py
Due: none

drop reusable workflow
  .github/workflows/dl-traffic-windows.yml
Due: prettier --list-different --write

update from branch python
  .vscode/settings.json
Due: prettier --list-different --write

restore nuitka builder
  .github/workflows/nuitka.yml
Due: prettier --list-different --write

update conditional
  .github/workflows/nuitka.yml
Due: prettier --list-different --write

feat: trigger on push
  .github/workflows/nuitka.yml
Due: prettier --list-different --write

feat: prepare required directory
  .github/workflows/checker.yml
Due: prettier --list-different --write

clear github actions cache using nodejs
  bin/.gitignore
  bin/clear-github-actions-cache
  bin/clear-github-actions-cache.cmd
  bin/clear-github-actions-cache.cmd.txt
  bin/clear-github-actions-cache.js
Due: eslint --fix

chore: using fixed package version
  requirements_install.py
Due: none

feat: repository utility
  bin/fix-repo
  bin/git-push-private
Due: none

update from private
  bin/fix-db
Due: none
