Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, python -m black, cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.cjs": "eslint --fix",
  "*.mjs": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.sql": "prettier --list-different --write",
  "*.py": "python -m black",
  "*.php": "cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php"
}

feat: add IP address to spam blacklist
  data/blacklist.conf
Due: none

feat: prevent screen timeout in MainActivity and WorkingProxyListActivity
  android_app/app/src/main/java/com/dimaslanjaka/proxyhunter/MainActivity.kt
  android_app/app/src/main/java/com/dimaslanjaka/proxyhunter/WorkingProxyListActivity.kt
Due: none

feat(checker): migrate results to SQLite and keep screen on
  android_app/app/src/main/java/com/dimaslanjaka/proxyhunter/ProxyCheckerActivity.kt
  android_app/app/src/main/java/com/dimaslanjaka/proxyhunter/data/ProxyManager.kt
  android_app/app/src/main/java/com/dimaslanjaka/proxyhunter/data/SQLiteHelper.kt
Due: none

feat(checker): enhance real-time UI reactivity and add auto-scroll
  android_app/app/src/main/java/com/dimaslanjaka/proxyhunter/ProxyCheckerActivity.kt
  android_app/app/src/main/java/com/dimaslanjaka/proxyhunter/service/ProxyCheckService.kt
Due: none

build: add Sonatype, JitPack, and Mozilla repositories to settings.gradle.kts
  android_app/settings.gradle.kts
Due: none

build: implement automated versioning and expand dependency catalog
  android_app/app/build.gradle.kts
  android_app/build.gradle.kts
  android_app/gradle.properties
  android_app/gradle/libs.versions.toml
  android_app/gradle/versioning.gradle
  android_app/settings.gradle.kts
  android_app/version.properties
Due: none

refactor(proxy-list): remove unused variables and redundant filter
  .husky/hash.txt
  php_backend/proxy-list.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

feat(auth): add API token support, validation, and UI display
  .husky/hash.txt
  php_backend/user-info.php
  src/PhpProxyHunter/UserDB.php
  src/PhpProxyHunter/UserDBMigration.php
  src/PhpProxyHunter/const.php
  src/database/env.php
  src/react/locales/en.json
  src/react/locales/id.json
  src/react/pages/Settings.tsx
  types/php_backend/user.d.ts
Due: eslint --fix, prettier --list-different --write, cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

chore(vscode): disable auto-format-on-save and intelephense formatting
  .vscode/settings.json
Due: prettier --list-different --write

fix(dependencies): update URLs for hexo, binary-collections, git-command-helper, hexo-util, and sbg-utility resolutions
  package.json
Due: prettier --list-different --write

feat(api): add proxy-delete endpoint with aggregated deletion errors
  .husky/hash.txt
  php_backend/proxy-delete.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

feat(blacklist): extract blacklist helpers, add is_blacklist and tests
  .husky/hash.txt
  .vscode/settings.json
  artisan/proxyCollector.php
  data/blacklist.conf
  src/blacklist.php
  tests/proxy/BlacklistTest.php
Due: prettier --list-different --write, cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

feat(blacklist): allow custom blacklist config path for is_blacklist
  .husky/hash.txt
  src/blacklist.php
  tests/proxy/BlacklistTest.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

feat(db): add ProxyDB migration for tun2socks column
  .husky/hash.txt
  src/PhpProxyHunter/ProxyDB.php
  src/PhpProxyHunter/ProxyDBMigration.php
  src/PhpProxyHunter/const.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix(migrations): clear meta keys when migration execution fails
  .husky/hash.txt
  src/PhpProxyHunter/ActivityLogMigration.php
  src/PhpProxyHunter/Meta.php
  src/PhpProxyHunter/ProxyDBMigration.php
  src/PhpProxyHunter/UserDBMigration.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix(auth): regenerate session ID after successful login
  .husky/hash.txt
  php_backend/google-oauth.php
  php_backend/login.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

refactor(session): make session checks static and add session rotation
  .husky/hash.txt
  src/PhpProxyHunter/Session.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix(session): preserve existing session id and avoid premature rotation
  .husky/hash.txt
  src/PhpProxyHunter/Session.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix(ServerSide): improve error handling for fetch response and display user-friendly messages
  src/react/pages/ProxyList/ServerSide.tsx
Due: eslint --fix

fix(session): stabilize session persistence and harden rotation behavior
  .husky/hash.txt
  src/PhpProxyHunter/Server.php
  src/PhpProxyHunter/Session.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix(ServerSide): implement debounced search to optimize data fetching
  src/react/pages/ProxyList/ServerSide.tsx
Due: eslint --fix

feat(proxy-list): add unique IP view with server endpoint and advanced filtering
  .husky/hash.txt
  php_backend/proxy-list-unique-ip.php
  src/react/pages/ProxyList/UniqueIpList.tsx
  src/react/pages/ProxyList/index.tsx
Due: eslint --fix, cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

feat(proxy-list): add displayed-proxy recheck and normalize auth proxy formatting
  src/react/pages/ProxyList/ServerSide.tsx
  src/react/pages/ProxyList/UniqueIpList.tsx
Due: eslint --fix

feat(UniqueIpList): implement user info fetching and background GeoIP scheduling for missing locations proxies
  src/react/pages/ProxyList/UniqueIpList.tsx
Due: eslint --fix

refactor(session): unify session ID rotation with Session::rotateNow
  .husky/hash.txt
  php_backend/google-oauth.php
  php_backend/login.php
  src/PhpProxyHunter/Session.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

Replace specific IP with CIDR range in blacklist
  data/blacklist.conf
Due: none

Add private DNS entry to blacklist.conf
  data/blacklist.conf
Due: none

feat(blacklist): implement functions for loading, checking, and removing blacklisted IPs
  src/blacklist/blacklist.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

refactor(cidr): migrate CIDR utilities to namespaced static class
  .husky/hash.txt
  cidr-information/CIDR-ranges.php
  src/PhpProxyHunter/CIDR.php
  src/PhpProxyHunter/utils/cidr.php
  tests/cidr-random-proxy.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

refactor(blacklist): stream blacklist parsing and cap CIDR expansion
  .husky/hash.txt
  src/blacklist/blacklist.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix(devcontainer): align Node.js to v22 and harden postCreateCommand
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: prettier --list-different --write

ci: skip browser downloads for Puppeteer/Playwright installs
  .devcontainer/devcontainer.json
  .github/workflows/checker-php.yml
  .github/workflows/checker-python.yml
  Taskfile.yml
Due: prettier --list-different --write

fix: disable global Yarn cache and set cache folder
  .github/workflows/checker-php.yml
  .github/workflows/checker-python.yml
  Taskfile.yml
Due: prettier --list-different --write

fix: missing pycountry entry from requirements
  requirements-minimal.txt
Due: none

fix: update PHP version to 8.1 in workflow configuration
  .github/workflows/checker-php.yml
Due: prettier --list-different --write

fix: enable inline builds for Yarn in cache workflow
  .github/workflows/clean-caches.yml
Due: prettier --list-different --write

fix: add resolution for libsignal dependency
  package.json
Due: prettier --list-different --write

docs(php): add PHP 8.1 docs and align version guidance
  .github/instructions/php.instructions.md
  docs/readme-old-php-7.4.md
  docs/readme-php8.1.md
  readme.md
Due: none

fix(scripts): improve sqlite installer platform/arch matching
  scripts/sqlite-installer.js
Due: eslint --fix

chore: update Yarn version to 4.13.0
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.13.0.cjs
  .yarnrc.yml
  package.json
Due: eslint --fix, prettier --list-different --write
