Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.html": "prettier --list-different --write",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix"
}

feat: model custom saver, force encoding UTF-8
  django_backend/apps/authentication/models.py
  django_backend/apps/proxy/models.py
  django_backend/settings.py
Due: none

feat(ProxyCheckResult): additional property
  src/func_proxy.py
Due: none

chore(django): Update proxy checker and proxy result UI
  django_backend/apps/proxy/statics/checker_result.js
  django_backend/apps/proxy/statics/proxy_result.css
  django_backend/apps/proxy/tasks.py
  django_backend/apps/proxy/templates/checker_result.html
  django_backend/apps/proxy/views.py
Due: eslint --fix, prettier --list-different --write

change log filename based on current date
  django_backend/settings.py
Due: none

fix: auto scroll
  django_backend/apps/proxy/statics/checker_result.js
Due: eslint --fix

fix: force property type to lowercase
  django_backend/apps/proxy/templatetags/proxy_filters.py
Due: none

fix: unique property type after split
  django_backend/apps/proxy/templatetags/proxy_filters.py
Due: none

fix: try-except
  django_backend/apps/proxy/tasks.py
Due: none

Update navigation proxy list index
  django_backend/apps/proxy/tasks.py
  django_backend/apps/proxy/templates/checker_result.html
  django_backend/apps/proxy/templates/index.html
  django_backend/apps/proxy/views.py
Due: prettier --list-different --write

check if proxy exist in database model
  django_backend/apps/proxy/tasks.py
Due: none

feat: proxy search
  django_backend/apps/proxy/statics/checker_result.js
  django_backend/apps/proxy/templates/index.html
  django_backend/apps/proxy/views.py
Due: eslint --fix, prettier --list-different --write

update time ago filters
  django_backend/apps/core/templates/base_generic.html
  django_backend/apps/core/templatetags/__init__.py
  django_backend/apps/core/templatetags/custom_filters.py
  django_backend/apps/core/templatetags/time_filters.py
  django_backend/apps/proxy/templates/checker_result.html
  django_backend/apps/proxy/templates/index.html
Due: prettier --list-different --write

split proxy checker task
  django_backend/apps/proxy/tasks.py
  django_backend/apps/proxy/tasks_unit/real_check_proxy.py
Due: none

skip get type=None from status=port-open
  django_backend/apps/proxy/tasks_unit/real_check_proxy.py
Due: none
