Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

feat: include Node.js setup instructions and build commands
  readme-nodejs.md
  readme.md
Due: none

refactor: disable nuitka build
  .github/workflows/nuitka-debug.yml.txt
  .github/workflows/nuitka.yml.txt
Due: none

feat: migrate build script to ESM
  bin/build-project
  bin/build-project.cmd
  bin/build-project.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

chore: ignore auto generated files
  .gitignore
  proxyManager.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix: update sender name reference and use PROJECT_DIR for handler paths
  node_backend/index.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: add asset database copying during WhatsApp build process
  .vscode/settings.json
  rollup.whatsapp.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

refactor: update file handling to use fs-extra and upath, and introduce getWhatsappFile utility
  node_backend/Function.ts
  node_backend/index.ts
  node_backend/whatsapp_handlers/proxy.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix: ensure .env.build.json is created if missing during build process
  bin/build-project
Due: none

fix: create .env.build.json if it does not exist during build process
  bin/build-project.cmd
Due: none

fix: improve NVM directory detection
  assets/systemctl/start_whatsapp.sh
  bin/start-whatsapp
Due: none

docs: update installation NodeJS for all users
  readme-nodejs.md
Due: none

feat: add status check for whatsapp service after starting
  bin/start-whatsapp
Due: none

fix: enhance whatsapp.service logging and error handling
  assets/systemctl/whatsapp.service
Due: none

feat: add Puppeteer configuration and update permission fix script
  .puppeteerrc.cjs
  bin/fix-perm
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

Path conditions:
  set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
