Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.html": "prettier --list-different --write",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

optimize imports
  .husky/hash.txt
  django_backend/apps/authentication/test_unit/admin.py
  django_backend/apps/proxy/tasks_unit/geolocation.py
  django_backend/apps/proxy/tasks_unit/real_check_proxy.py
  django_backend/apps/proxy/views_unit/geolocation.py
  proxyCheckerReal.py
  src/ProxyDB.py
  src/func_proxy.py
  tests/build_request.py
  tests/cloudflare-cdn-trace.py
Due: black

update imports
  packages/proxy-hunter-python/proxy_hunter/__init__.py
  packages/proxy-hunter-python/proxy_hunter/extractor.py
  packages/proxy-hunter-python/proxy_hunter/utils/__init__.py
Due: black

optimize imports
  django_backend/apps/core/management/commands/sync_proxies.py
Due: black

update packages
  packages/proxy-hunter-python/proxy_hunter/test/__init.py
  packages/proxy-hunter-python/setup.py
Due: black

feat: py project config
  .husky/hash.txt
  pyproject.toml
Due: none

feat: delete temp folders
  github-actions-init.py
Due: black

fix: optimize imports
  django_backend/settings.py
Due: black

fix: python rules
  .gitattributes
  pyproject.toml
Due: none

fix: missing imports on VSCode
  .vscode/settings.json
  pyproject.toml
Due: prettier --list-different --write

fix: auto fix .husky/hash.txt while merging
  .gitattributes
  bin/create-file-hashes
  bin/create-file-hashes.cmd
Due: none

feat(get_working_proxies): auto fix indicator
  .husky/hash.txt
  src/ProxyDB.py
Due: black

feat: filter only working proxies checked more than 4 hours first
  .husky/hash.txt
  proxyCheckerReal.py
Due: black

update endpoint to check
  .husky/hash.txt
  proxyCheckerReal.py
Due: black

fix(update): skip update last_check when status not 'untested'
  .husky/hash.txt
  src/ProxyDB.py
Due: black
