Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

drop import files
  packages/proxy-hunter-python/proxy_hunter/__init__.py
Due: none

Retrieves database connections, ensuring that Django connections are only accessed when Django is fully initialized.
  django_backend/apps/proxy/utils.py
Due: none

custom command using only check proxy real
  .gitignore
  django_backend/apps/core/management/commands/check_proxies.py
  django_backend/apps/core/management/commands/check_proxy_async.py.txt
  django_backend/apps/core/management/commands/check_proxy_real.py
Due: none

optimize imports
  django_backend/apps/proxy/tasks_unit/filter_ports_proxy.py
Due: none

drop threading
  django_backend/apps/core/management/commands/check_proxies.py
Due: none

try fixing js not executed
  proxyManager.html
  proxyManager.js
Due: eslint --fix, prettier --list-different --write

feat: run proxy checker parallel
  .crontab.sh
Due: none

django run server expose to local network port 8000
  .vscode/launch.json
  django_backend/settings.py
Due: prettier --list-different --write

fix: force dark mode
  django_backend/apps/core/templates/base_generic.html
  proxyManager.html
Due: prettier --list-different --write

fix: install flowbite
  django_backend/apps/core/templates/base_generic.html
Due: prettier --list-different --write

custom command all using from django_backend.apps.proxy.tasks_unit
  django_backend/apps/core/management/commands/check_proxies.py
  django_backend/apps/proxy/tasks_unit/real_check_proxy.py
Due: none

feat: django cache cleaner
  django_backend/apps/core/views/__init.py
  django_backend/apps/core/views/clear_caches.py
Due: none

view_status: disable cache
  django_backend/apps/proxy/views.py
Due: none

feat: configurable limit proxy check in settings.py
  django_backend/apps/proxy/tasks_unit/filter_ports_proxy.py
  django_backend/apps/proxy/tasks_unit/real_check_proxy.py
  django_backend/settings.py
Due: none

Path conditions:
  eslint --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.html) or (any of: *.json)) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)
  composer exec php-cs-fixer fix: any of: *.php
