Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.html": "prettier --list-different --write",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix"
}

ignore php-cs-fixer cache
  .gitignore
Due: none

update php-cs-fixer rules
  .php-cs-fixer.dist.php
  proxyChecker.php
  proxyCheckerParallel.php
  src/Server.php
Due: composer exec php-cs-fixer fix

change cache location
  .php-cs-fixer.dist.php
Due: composer exec php-cs-fixer fix

php-cs-fixer enable parallel
  .php-cs-fixer.dist.php
Due: composer exec php-cs-fixer fix

feat(parsePostData): parse multipart/form-data
  func.php
Due: composer exec php-cs-fixer fix

ignore locking thread on debug device
  proxyCheckerParallel.php
Due: composer exec php-cs-fixer fix

add direct proxy checker and curl builder
  proxyManager.html
  proxyManager.js
Due: eslint --fix, prettier --list-different --write

missing body key
  proxyManager.js
Due: eslint --fix

implement live echo
  proxyCheckerParallel.php
Due: composer exec php-cs-fixer fix

update pre code text color
  proxyManager.js
Due: eslint --fix

scroll to proxy checker result after submit checking proxy
  proxyManager.html
  proxyManager.js
Due: eslint --fix, prettier --list-different --write

optimize code
  func.php
Due: composer exec php-cs-fixer fix
