Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.cjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.mjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.ts": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.jsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.tsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

refactor(date): centralize timeAgo utility
  proxyManager-src.js
  src/react/pages/ProxyList.tsx
  src/utils/date.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(ProxyList): simplify timeAgo import statement
  src/react/pages/ProxyList.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(auth): add support for configurable admin emails via .env
  .env.example
  .husky/hash.txt
  php_backend/google-oauth.php
Due: composer exec php-cs-fixer fix

feat(CoreDB): add showCreationTable method for retrieving table creation SQL
  .husky/hash.txt
  src/PhpProxyHunter/CoreDB.php
Due: composer exec php-cs-fixer fix

feat(logs): add filtering by user_id and package_id to getLogsFromDb
  .husky/hash.txt
  src/PhpProxyHunter/LogsRepository.php
Due: composer exec php-cs-fixer fix

feat(logs): add endpoint to fetch authenticated user's logs and update admin logs query
  .husky/hash.txt
  php_backend/logs.php
Due: composer exec php-cs-fixer fix

feat(vite): add dev server lock file handling and prepareVitePlugins integration
  vite-plugin.js
  vite.config.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(post-merge): conditionally run build script based on dev server lock file presence
  .husky/post-merge
Due: none

chore(tmp): move cache, build, and state files into tmp/locks directory
  .husky/hash.txt
  .php-cs-fixer.dist.php
  artisan/cleaner.php
  bin/build-project.mjs
  func-proxy.php
  setup.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, composer exec php-cs-fixer fix

feat(CoreDB): ensure proper closure of database connections in destructor
  .husky/hash.txt
  src/PhpProxyHunter/CoreDB.php
Due: composer exec php-cs-fixer fix

feat(logs): include payment logs and add log_table field to all log types
  src/PhpProxyHunter/LogsRepository.php
Due: composer exec php-cs-fixer fix

fix(user): handle optional id on user insert
  src/PhpProxyHunter/UserDB.php
Due: composer exec php-cs-fixer fix

fix(logs): improve user authentication error handling in logs retrieval
  php_backend/logs.php
Due: composer exec php-cs-fixer fix

fix(UserDB): enhance log action messages for saldo updates based on conditions
  .husky/hash.txt
  src/PhpProxyHunter/UserDB.php
Due: composer exec php-cs-fixer fix

feat(LogsSection): implement periodic log fetching every 30 seconds
  src/react/pages/admin/LogsSection.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(admin/logs): ensure unique React keys for log rows and prevent concurrent fetches
  src/react/pages/admin/LogsSection.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(LogsSection): prevent duplicate log entries by checking previous logs before updating state
  src/react/pages/admin/LogsSection.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor!: remove LogsRepository and user_logs table
  .husky/hash.txt
  assets/database/create.sql
  php_backend/logs.php
  src/PhpProxyHunter/CoreDB.php
  src/PhpProxyHunter/LogsRepository.php
  src/PhpProxyHunter/LogsRepositoryMigrations.php
  src/PhpProxyHunter/UserDB.php
  src/PhpProxyHunter/assets/mysql-schema.sql
  src/PhpProxyHunter/assets/sqlite-schema.sql
  tests/PhpProxyHunter/UserDBSaldoArithmeticTest.php
  tests/database/LogsRepositoryTest.php
Due: prettier --list-different --write, composer exec php-cs-fixer fix

refactor(BaseSQL): change close method to abstract for consistency in subclasses
  .husky/hash.txt
  src/PhpProxyHunter/BaseSQL.php
Due: composer exec php-cs-fixer fix

feat(ActivityLog): implement activity logging with structured database table and methods
  src/PhpProxyHunter/ActivityLog.php
Due: composer exec php-cs-fixer fix

feat(ActivityLog): add SQLite schema for activity log table and update constructor to ensure table creation
  .husky/hash.txt
  src/PhpProxyHunter/ActivityLog.php
Due: composer exec php-cs-fixer fix

feat(ActivityLogTest): add unit tests for ActivityLog class with SQLite and MySQL support
  .husky/hash.txt
  tests/PhpProxyHunter/ActivityLogTest.php
Due: composer exec php-cs-fixer fix

fix(ProxyDB, UserDB): ensure safe closure of database connections in close and destructor methods
  src/PhpProxyHunter/ProxyDB.php
  src/PhpProxyHunter/UserDB.php
Due: composer exec php-cs-fixer fix

feat(ActivityLog): enhance constructor to support SQLiteHelper and MySQLHelper, and improve error handling
  .husky/hash.txt
  src/PhpProxyHunter/ActivityLog.php
Due: composer exec php-cs-fixer fix

refactor(ActivityLog): make class PHP 7 compatible
  .husky/hash.txt
  src/PhpProxyHunter/ActivityLog.php
Due: composer exec php-cs-fixer fix

refactor(ActivityLog): optimize constructor to reduce redundancy
  .husky/hash.txt
  src/PhpProxyHunter/ActivityLog.php
Due: composer exec php-cs-fixer fix

refactor(ActivityLog): remove redundant comments in constructor and method definitions
  .husky/hash.txt
  src/PhpProxyHunter/ActivityLog.php
Due: composer exec php-cs-fixer fix

feat(CoreDB): add ActivityLog instance to CoreDB
  .husky/hash.txt
  php_backend/shared.php
  src/PhpProxyHunter/CoreDB.php
Due: composer exec php-cs-fixer fix

refactor(Server): rename methods to use camelCase convention
  .husky/hash.txt
  src/PhpProxyHunter/Server.php
Due: composer exec php-cs-fixer fix

feat(ActivityLog): auto-detect IP and user agent in log method if not provided
  .husky/hash.txt
  src/PhpProxyHunter/ActivityLog.php
Due: composer exec php-cs-fixer fix

feat(login): integrate logging of successful login attempts with IP and user agent
  .husky/hash.txt
  php_backend/google-oauth.php
  php_backend/login.php
Due: composer exec php-cs-fixer fix

feat(ActivityLog): enhance recent logs method to support pagination
  .husky/hash.txt
  src/PhpProxyHunter/ActivityLog.php
Due: composer exec php-cs-fixer fix

feat(logs): update user log retrieval and add pagination support for admin logs
  .husky/hash.txt
  php_backend/logs.php
Due: composer exec php-cs-fixer fix

fix(logs): prevent unauthenticated access to own logs with JSON error response
  .husky/hash.txt
  php_backend/logs.php
Due: composer exec php-cs-fixer fix

refactor(user): move UserInfo interface to a separate type definition file
  src/react/utils/user.ts
  types/php_backend/user.d.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(user): add getUserLogs function with pagination support
  src/react/utils/user.ts
  types/php_backend/logs.d.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(user-activity-card): move component to dashboard directory
  src/react/pages/Dashboard.tsx
  src/react/pages/dashboard/UserActivityCard.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(instructions): add GitHub Copilot guidelines for React components with Tailwind and Flowbite
  .github/instructions/react.instruction.md
Due: none

feat(instructions): add i18next framework details for internationalization
  .github/instructions/react.instruction.md
Due: none

feat(ui): add pagination and localization to UserActivityCard
  src/react/locales/en.json
  src/react/locales/id.json
  src/react/pages/dashboard/UserActivityCard.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write
