Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.html": "prettier --list-different --write",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix"
}

development using src/database.sqlite without running php
  django_backend/settings.py
Due: none

always check when execute with --delete=true
  filterPortsDuplicate.php
Due: composer exec php-cs-fixer fix

feat: django manager shortcut
  bin/djm
  bin/djm.cmd
Due: none

feat: public static file
  django_backend/apps/authentication/tests.py
  django_backend/settings.py
  django_backend/urls.py
  fix-nginx-perm.sh
  public/index.html
Due: prettier --list-different --write

feat: admin tests - logout
  django_backend/apps/authentication/tests.py
  django_backend/apps/authentication/urls.py
  django_backend/apps/authentication/views.py
Due: none

disable error html of django rest framework
  django_backend/settings.py
Due: none

move unit test to sub folder
  django_backend/apps/authentication/test_unit/AdminLoginTests.py
  django_backend/apps/authentication/tests.py
Due: none

feat: user creator helper
  django_backend/apps/core/management/commands/create_user.py
Due: none

feat: simple auth for development
  django_backend/apps/authentication/urls.py
Due: none

feat: user deletion
  django_backend/apps/authentication/serializers.py
  django_backend/apps/authentication/test_unit/admin.py
  django_backend/apps/authentication/test_unit/user.py
  django_backend/apps/authentication/tests.py
  django_backend/apps/authentication/urls.py
  django_backend/apps/authentication/views.py
  django_backend/apps/core/management/commands/create_user.py
  django_backend/settings.py
Due: none

feat: run filter ports
  fix-nginx-perm.sh
Due: none

simplify php runner
  fix-nginx-perm.sh
Due: none

fix: debug backtrace (undefined offset)
  func.php
Due: composer exec php-cs-fixer fix

chore: nullable `$ip` - ip_in_range - _cloudflare_CheckIP
  src/PhpProxyHunter/Server.php
Due: composer exec php-cs-fixer fix
