Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, python -m black, cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.cjs": "eslint --fix",
  "*.mjs": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.sql": "prettier --list-different --write",
  "*.py": "python -m black",
  "*.php": "cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php"
}

feat(db.select): add support for parameterized limit in select method
  .husky/hash.txt
  src/MySQLHelper.py
  src/SQLiteHelper.py
Due: python -m black

feat(proxy-asn-lookup): fetch unclassified active proxies from DB with limit
  .husky/hash.txt
  artisan/proxy-asn-lookup.py
Due: python -m black

refactor(php-backend): safely handle non-string input
  .husky/hash.txt
  php_backend/check-https-proxy.php
  php_backend/checker-runner.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix(GeoPlugin): deprecation nullable php 8.4
  .husky/hash.txt
  src/PhpProxyHunter/GeoPlugin.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

feat(crontab): run proxy fetcher in background for 4-hour job
  .crontab.sh
Due: none

feat(classification): add badge color classes for proxy classifications in ServerSide component
  src/react/pages/ProxyList/ServerSide.tsx
Due: eslint --fix

fix(ServerSide): update unknown protocol display in proxy list
  src/react/pages/ProxyList/ServerSide.tsx
Due: eslint --fix

fix(check-old-proxy): guard strtotime against null input
  .husky/hash.txt
  php_backend/check-old-proxy.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix(CheckerResult): add private property
  .husky/hash.txt
  src/PhpProxyHunter/Checker/CheckerResult.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

feat(PrivateProxyDetection): add class to identify private proxy titles with regex patterns
  .husky/hash.txt
  src/PhpProxyHunter/Checker/CheckerOptions.php
  src/PhpProxyHunter/Checker/PrivateProxyDetection.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

feat(ProxyCheckers): add private proxy detection in check methods
  .husky/hash.txt
  src/PhpProxyHunter/Checker/ProxyCheckerGoogle.php
  src/PhpProxyHunter/Checker/ProxyCheckerHttpOnly.php
  src/PhpProxyHunter/Checker/ProxyCheckerHttpsOnly.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

feat(check-proxy): update private flag in check methods for HTTP and HTTPS proxies
  .husky/hash.txt
  php_backend/check-http-proxy.php
  php_backend/check-https-proxy.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

feat(proxy-asn-lookup): file locking mechanism
  .husky/hash.txt
  artisan/proxy-asn-lookup.py
Due: python -m black

feat(proxy-classifier-lookup): add proxy classification and ASN lookup functionality
  artisan/proxy-classifier-lookup.py
Due: python -m black

fix(proxy-checker-httpx): replace init_readonly_db with init_db for database initialization
  .husky/hash.txt
  artisan/proxy-checker-httpx.py
Due: python -m black

feat(crontab): add job for proxy classifier and checker scripts
  .crontab.sh
Due: none

fix(init-db): update database initialization to respect debug mode
  .husky/hash.txt
  artisan/proxy-checker-httpx.py
  artisan/proxy-classifier-lookup.py
  src/dev/backup-proxies.py
  src/migrations/migrate.py
Due: python -m black

feat(init-db): add custom database name support for initialization
  .husky/hash.txt
  src/shared.py
Due: python -m black

refactor(db): remove explicit production flag from MySQL initialization
  .husky/hash.txt
  artisan/proxy-checker-httpx.py
  artisan/proxy-classifier-lookup.py
  src/dev/backup-proxies.py
  src/migrations/migrate.py
  src/shared.py
Due: python -m black

feat(proxy-checker): detect private/auth-required proxies
  .husky/hash.txt
  artisan/proxy-checker-httpx.py
Due: python -m black

refactor(artisan): rename proxy-checker-httpx.py to proxy_checker_httpx.py
  .crontab.sh
  artisan/proxy_checker_httpx.py
Due: python -m black

feat(utils): add hostname validation function and update proxy validation
  .husky/hash.txt
  packages/proxy-hunter-python/proxy_hunter/__init__.py
  packages/proxy-hunter-python/proxy_hunter/utils/__init__.py
  packages/proxy-hunter-python/proxy_hunter/utils/index_utils.py
Due: python -m black

feat(extractor): support hostname:port with credentials in proxy extraction
  packages/proxy-hunter-python/proxy_hunter/extractor.py
  packages/proxy-hunter-python/tests/proxy_extractor.py
  packages/proxy-hunter-python/tests/proxy_extractor_direct.py
Due: python -m black

refactor(proxy-extractor): move proxy extraction to dedicated module with regex match
  packages/proxy-hunter-python/proxy_hunter/__init__.py
  packages/proxy-hunter-python/proxy_hunter/extractor.py
  packages/proxy-hunter-python/proxy_hunter/utils/extractor/__init__.py
  packages/proxy-hunter-python/proxy_hunter/utils/extractor/proxies/__init__.py
  packages/proxy-hunter-python/proxy_hunter/utils/extractor/proxies/extract_proxies.py
  packages/proxy-hunter-python/proxy_hunter/utils/extractor/proxies/extract_proxies_from_file.py
  packages/proxy-hunter-python/proxy_hunter/utils/extractor/proxies/regex_match.py
  packages/proxy-hunter-python/tests/proxy_extractor.py
  packages/proxy-hunter-python/tests/proxy_extractor_direct.py
Due: python -m black

feat(proxy-checker): add HTTPX proxy authentication support and improve latency handling
  .husky/hash.txt
  artisan/proxy_checker_httpx.py
  tests/proxy/proxy-checker-httpx.py
Due: python -m black

chore(composer): remove brightnucleus/country-codes dependency and related config
  composer.json
Due: prettier --list-different --write

chore(husky): run yarn only when JS/TS or package.json changed
  .husky/post-merge
Due: none

fix(bin/deploy-vps): treat --frontend / --frontend-only as UI-only flags
  bin/deploy-vps.mjs
Due: eslint --fix

fix(build): refine Rollup manualChunks in vite.config.js
  vite.config.js
Due: eslint --fix

fix(crontab): ensure proxy-classifier-lookup job runs every 5 minutes
  .crontab.sh
Due: none

feat(mysql): add service handling for MySQL/MariaDB in restart and stop scripts
  bin/restart-server
  bin/stop-server
Due: none

fix(requirements): restrict numpy version for compatibility
  .husky/hash.txt
  bin/python-minimal
  requirements_install.py
Due: python -m black

fix(locking): use dynamic filename for lock files in proxy-classifier-lookup and proxy_checker_httpx
  .husky/hash.txt
  artisan/proxy-classifier-lookup.py
  artisan/proxy_checker_httpx.py
Due: python -m black

feat(db): add execute_query_fetch to MySQLHelper and SQLiteHelper
  .husky/hash.txt
  artisan/filterPortsDuplicate.php
  src/MySQLHelper.py
  src/SQLiteHelper.py
Due: python -m black, cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

feat(proxy-hunter): add TCP connectivity checker and reorganize public exports
  .husky/hash.txt
  packages/proxy-hunter-python/proxy_hunter/__init__.py
  packages/proxy-hunter-python/proxy_hunter/check_host.py
Due: python -m black

feat(cron,proxies): replace duplicate IP cleanup with new Python script and remove legacy tool
  .crontab.sh
  .husky/hash.txt
  artisan/filter_duplicate_ips.py
  filterPortsDuplicate.py
Due: python -m black

refactor(cron): reschedule proxy collectors and move duplicate IP cleanup to 3h job
  .crontab.sh
Due: none

chore(cron): run duplicate IP filter in 5-min job and redirect logs explicitly
  .crontab.sh
Due: none

refactor(artisan/filter_duplicate_ips): delete duplicate proxies by proxy string using ProxyDB.remove
  .husky/hash.txt
  artisan/filter_duplicate_ips.py
Due: python -m black

chore(cron): normalize shell formatting and extend duplicate-IP cleanup options
  .crontab.sh
Due: none
