Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, python -m black, cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.cjs": "eslint --fix",
  "*.mjs": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.sql": "prettier --list-different --write",
  "*.py": "python -m black",
  "*.php": "cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php"
}

feat(mcp): add Ollama AI MCP server integration
  .env.example
  .vscode/mcp.json
  .vscode/settings.json
  cmd-here.bat
  mcp-server/ollama.js
Due: eslint --fix, prettier --list-different --write

feat(proxy-list): allow request-provided cache hash for proxy list caching
  .husky/hash.txt
  php_backend/proxy-list.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

refactor(proxy-list): streamline proxy refresh flow and remove unused background jobs/UI
  src/react/pages/ProxyList/WorkingJson.tsx
Due: eslint --fix

fix(proxy_https_checker): simplify error message format in proxy check
  .husky/hash.txt
  artisan/proxy_https_checker.py
Due: python -m black

feat(proxy-list): add Working JSON tab and refactor tab rendering logic
  src/react/pages/ProxyList/index.tsx
Due: eslint --fix

fix(processes): enhance rate limiting by excluding debug devices
  php_backend/processes.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix(processes): initialize proxy_db variable correctly in processes.php
  .husky/hash.txt
  php_backend/processes.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

style(proxy-list): refactor proxy list pages to gradient card layouts
  src/react/pages/ProxyList/ServerSide.tsx
  src/react/pages/ProxyList/WorkingJson.tsx
  tailwind.config.js
Due: eslint --fix

fix(proxyWorking): use hash-based upload markers and avoid mutating proxy list
  .husky/hash.txt
  proxyWorking.py
Due: python -m black

feat(proxy-list): add Tun2Socks column and normalize latency/tun2socks display
  src/react/pages/ProxyList/WorkingJson.tsx
Due: eslint --fix

fix(processes): remove per-session rate limiting for non-admin users
  .husky/hash.txt
  php_backend/processes.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

feat(processes): display CPU and RAM usage per process
  .husky/hash.txt
  php_backend/processes.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

feat(proxy-tools): add live process monitor with colored usage meters
  .husky/hash.txt
  php_backend/processes.php
  src/PhpProxyHunter/AnsiColors.php
  src/react/components/ProcessMonitor.tsx
  src/react/pages/ProxyTools/index.tsx
Due: eslint --fix, cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

feat(proxy-list): update table headers to include 'Last Checked' and remove duplicate 'Last Check'
  src/react/pages/ProxyList/UniqueIpList.tsx
Due: eslint --fix

fix(proxy-list): update listTab restore selection on user return
  src/react/pages/ProxyList/index.tsx
Due: eslint --fix

refactor(php): move embed endpoint into php_backend and update references
  php_backend/embed.php
  php_backend/index.js
  src/react/pages/ProxyList/WorkingJson.tsx
Due: eslint --fix, cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix(proxy-tools): move ProcessMonitor component to render outside of ProxySubmission
  src/react/pages/ProxyTools/index.tsx
Due: eslint --fix

feat(ProxyDB): add JSON export capability to getWorkingProxies
  .husky/hash.txt
  src/PhpProxyHunter/ProxyDB.php
  src/ProxyDB.js
  src/ProxyDB.py
Due: eslint --fix, python -m black, cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

feat(proxy-checkers): add functionality to save working proxies to JSON file
  .husky/hash.txt
  artisan/proxy_https_checker.py
  artisan/proxy_private_checker.py
  artisan/proxy_socks5_checker.py
Due: python -m black

fix(robots.txt): update Disallow rule for embed.php to specify full path
  robots.txt
Due: none

refactor(proxy): remove deprecated proxyWorking background flow
  artisan/proxyWorking.php
  artisan/proxyWorkingBackground.php
  bin/check-proxy.cmd
  bin/loop-check-proxy.cmd
  src/react/pages/ProxyList/WorkingJson.tsx
Due: eslint --fix, cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

fix: normalize proxy latency to milliseconds and clean up proxy checks
  .husky/hash.txt
  php_backend/check-http-proxy.php
  php_backend/check-https-proxy.php
  php_backend/check-latency-proxy.php
  php_backend/check-old-proxy.php
  php_backend/check-proxy-type.php
  src/PhpProxyHunter/Checker/ProxyChecker-test.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

feat(proxy): add logging for proxy checks in filter_test_socks5_proxies
  .husky/hash.txt
  artisan/proxy_socks5_checker.py
Due: python -m black

feat(vite): add serveDistAssetsPlugin to serve pre-built dist assets
  vite-plugin.js
  vite.config.js
Due: eslint --fix

refactor(proxy_ssl_test): remove unused imports to clean up the code
  .husky/hash.txt
  artisan/proxy_ssl_test.py
Due: python -m black

refactor(db): split database initialization into dedicated mysql/sqlite helpers
  .husky/hash.txt
  artisan/blacklist_remover.py
  artisan/cleaner.py
  artisan/filter_duplicate_ips.py
  artisan/filter_open_port.py
  artisan/proxy-classifier-lookup.py
  artisan/proxyCollector.py
  artisan/proxy_https_checker.py
  artisan/proxy_private_checker.py
  artisan/proxy_socks5_checker.py
  artisan/proxy_ssl_test.py
  artisan/proxy_tun2socks_checker.py
  artisan/proxy_tun2socks_stability.py
  src/migrations/migrate.py
  src/shared.py
Due: python -m black

feat(mcp): enhance Ollama MCP server stability and configuration
  mcp-server/ollama.js
Due: eslint --fix

feat(proxy-list): improve cache invalidation with data checksum
  .husky/hash.txt
  php_backend/proxy-list.php
Due: cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

feat(proxy-db): add checksum method for table and column validation
  .husky/hash.txt
  src/PhpProxyHunter/ProxyDB.php
  src/ProxyDB.py
Due: python -m black, cross-env PHP_CS_FIXER_IGNORE_ENV=1 php-cs-fixer fix --config=.php-cs-fixer.dist.php

feat(mcp): add configuration for Ollama server and allowed models
  .vscode/settings.json
Due: prettier --list-different --write

refactor(mcp): move Ollama model configuration to environment file
  .env.example
  .vscode/mcp.json
Due: prettier --list-different --write

fix(cmd-here): add missing path for Microsoft VS Code in custom PATH variable
  cmd-here.bat
Due: none

refactor(artisan): streamline proxy custom filters
  .husky/hash.txt
  artisan/proxy_https_checker.py
  artisan/proxy_private_checker.py
  artisan/proxy_socks5_checker.py
  artisan/proxy_tun2socks_stability.py
Due: python -m black

refactor(check-proxy): update Python path to use custom script
  bin/check-proxy.cmd
Due: none

fix(bin): centralize python environment handling via shared wrapper scripts
  bin/check-proxy-parallel
  bin/check-proxy-parallel.cmd
Due: none

refactor(artisan): prioritize --proxy_file in retrieve_proxies
  .husky/hash.txt
  artisan/proxy_getter.py
Due: python -m black

fix(proxy-hunter-python): reject malformed IPv4-like proxy hosts in is_valid_proxy
  .husky/hash.txt
  packages/proxy-hunter-python/proxy_hunter/utils/index_utils.py
  packages/proxy-hunter-python/tests/is_valid_proxy.py
Due: python -m black

refactor: remove invalid proxy cleanup from cleaner scripts
  .husky/hash.txt
  artisan/cleaner.py
  artisan/proxyCollector.py
Due: python -m black

feat(crontab): batch daily maintenance commands and add invalid proxy cleaner
  .crontab.py
  .husky/hash.txt
  artisan/clean_invalid_proxies.py
Due: python -m black

fix(clean_invalid_proxies): add error handling for database updates
  .husky/hash.txt
  artisan/clean_invalid_proxies.py
Due: python -m black
