Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

feat: windows package importer
  src/func_platform.py
Due: none

feat: install selenium support
  .github/workflows/checker-parallel.yml
  .github/workflows/checker.yml
  .github/workflows/upload-proxies.yml
Due: prettier --list-different --write

feat: init chrome driver
  .github/workflows/checker-parallel.yml
  .github/workflows/checker.yml
  .github/workflows/upload-proxies.yml
  github-actions-init.py
Due: prettier --list-different --write

change cache location path
  src/func_useragent.py
Due: none

fix: skip admin lock verification
  filterPortsDuplicate.php
Due: composer exec php-cs-fixer fix

rename cache step
  .github/workflows/checker-parallel.yml
  .github/workflows/checker.yml
  .github/workflows/upload-proxies.yml
Due: prettier --list-different --write

feat: run php as admin
  fix-nginx-perm.sh
Due: none

feat: log last run status
  .github/workflows/upload-proxies.yml
Due: prettier --list-different --write

extract src/database.rar when no data
  .github/workflows/upload-proxies.yml
Due: prettier --list-different --write

simplify
  .github/workflows/.gitignore
  .github/workflows/checker.yml
  .github/workflows/checker.yml.txt
  .github/workflows/upload-proxies.yml
Due: prettier --list-different --write

try extract using 7z
  .github/workflows/checker.yml
  .github/workflows/upload-proxies.yml
Due: prettier --list-different --write

full overwrite
  .github/workflows/checker.yml
  .github/workflows/upload-proxies.yml
Due: prettier --list-different --write

update database rar
  src/database.rar
Due: none

test extract
  .github/workflows/checker.yml
  .github/workflows/upload-proxies.yml
Due: prettier --list-different --write

Path conditions:
  eslint --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.html) or (any of: *.json)) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)
  composer exec php-cs-fixer fix: any of: *.php
