Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

fix(FileLockHelper): improve directory creation and locking logic to handle errors gracefully
  .husky/hash.txt
  src/PhpProxyHunter/FileLockHelper.php
Due: composer exec php-cs-fixer fix

refactor(PhpProxyHunter/FileLockHelper): centralize lock-file handling and unify lock checks
  .husky/hash.txt
  src/PhpProxyHunter/FileLockHelper.php
  tests/PhpProxyHunter/FileLockHelperTest.php
Due: composer exec php-cs-fixer fix

fix(proxy-add): add early exit if the lock is already acquired to prevent concurrent proxy additions
  .husky/hash.txt
  php_backend/proxy-add.php
Due: composer exec php-cs-fixer fix

fix(FileLockHelper): delete the lock file gracefully upon unlocking
  .husky/hash.txt
  src/PhpProxyHunter/FileLockHelper.php
Due: composer exec php-cs-fixer fix

fix(tmp): append filenames to tmp() result instead of passing them into tmp()
  .husky/hash.txt
  artisan/filterPortsDuplicate.php
  src/PhpProxyHunter/Checker/ProxyChecker-test.php
Due: composer exec php-cs-fixer fix

refactor(utils/file): extract tmp() into dedicated temp.php
  .husky/hash.txt
  src/utils/file/index.php
  src/utils/file/temp.php
Due: composer exec php-cs-fixer fix

fix(proxy-add): correct tmp() usage for lock file path
  php_backend/proxy-add.php
Due: composer exec php-cs-fixer fix

feat(ProxyDB): add findProxy method for flexible proxy searching with pagination
  .husky/hash.txt
  src/PhpProxyHunter/ProxyDB.php
Due: composer exec php-cs-fixer fix

chore: restore old proxy list using static file
  php_backend/proxy-working.php
  src/react/pages/ProxyList/index.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, composer exec php-cs-fixer fix

fix(proxy-list): preserve cache on embed.php JSON parse failure
  src/react/pages/ProxyList/index.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(bin): prefer venv over .venv when selecting/creating virtual environment
  bin/py
  bin/py.cmd
Due: none

fix(runBashOrBatch): organize runner and log file paths into dedicated directories
  .husky/hash.txt
  src/utils/process/runBashOrBatch.php
Due: composer exec php-cs-fixer fix

fix(proxy-checker): organize runner and PID files into dedicated directories
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

fix: suppress warnings on file permission changes and file writes
  .husky/hash.txt
  func.php
  src/utils/file/crud.php
Due: composer exec php-cs-fixer fix

refactor(file): move permission helper functions to dedicated utils module
  .husky/hash.txt
  func.php
  src/utils/file/permissions.php
Due: composer exec php-cs-fixer fix

refactor(file): move createParentFolders() to mkdir utils module
  .husky/hash.txt
  func.php
  src/utils/file/mkdir.php
Due: composer exec php-cs-fixer fix

fix(php): make codebase PHP 7.0 compatible and tidy function signatures
  .husky/hash.txt
  artisan/proxyWorkingBackground.php
  func.php
  proxyCheckerParallel-func.php
  src/PhpProxyHunter/utils/validator.php
  src/utils/file/sanitizer.php
  src/utils/string/index.php
Due: composer exec php-cs-fixer fix

feat(timeago): add `simple` and `unitOnly` options; use compact output in ProxyList
  src/react/pages/ProxyList/index.tsx
  src/utils/date.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(scripts): add geoip-installer and update download logic
  .husky/hash.txt
  scripts/geoip-installer.js
  scripts/postinstall.js
  src/PhpProxyHunter/GeoPlugin2.php
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, composer exec php-cs-fixer fix

fix(geo): prevent concurrent GeoMMDB downloads in GeoPlugin2
  .husky/hash.txt
  src/PhpProxyHunter/GeoPlugin2.php
Due: composer exec php-cs-fixer fix

fix(check-http-proxy): remove unnecessary SSL data from response
  .husky/hash.txt
  php_backend/check-http-proxy.php
Due: composer exec php-cs-fixer fix

feat(cs-fixer): add GlobalOneLineFixer and enable rule
  .husky/hash.txt
  .php-cs-fixer.dist.php
  src/dev/php-cs-fixer/GlobalOneLineFixer.php
Due: composer exec php-cs-fixer fix

style(shared.php): format database connection variable declarations for consistency
  .husky/hash.txt
  php_backend/shared.php
Due: composer exec php-cs-fixer fix

feat(autoload): add autoload file to require custom fixer files
  .husky/hash.txt
  src/dev/php-cs-fixer/autoload.php
Due: composer exec php-cs-fixer fix

refactor(cs-fixer): rename GlobalOneLineFixer namespace to PhpCsFixerCustom
  .husky/hash.txt
  src/dev/php-cs-fixer/GlobalOneLineFixer.php
Due: composer exec php-cs-fixer fix

chore(kills.cmd): clean up php and node
  bin/kills.cmd
Due: none

feat(php-cs-fixer): add dynamic custom fixer loading and introduce no-multiple-statements-per-line fallback
  .husky/hash.txt
  .php-cs-fixer.dist.php
  src/dev/php-cs-fixer/.gitignore
  src/dev/php-cs-fixer/CustomNoMultipleStatementsPerLineFixer.php
  src/dev/php-cs-fixer/GlobalOneLineFixer.php
  src/dev/php-cs-fixer/direct-test.cjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, composer exec php-cs-fixer fix

feat(server/respond): accept optional HTTP status in response helpers
  .husky/hash.txt
  src/utils/server/respond.php
Due: composer exec php-cs-fixer fix

fix(geo-plugin): write MMDB downloads to temp file and move atomically
  src/PhpProxyHunter/GeoPlugin2.php
Due: composer exec php-cs-fixer fix

feat(geo-plugin): add getGeoIpSimple method to retrieve basic geo information
  .husky/hash.txt
  src/PhpProxyHunter/GeoIpHelper.php
Due: composer exec php-cs-fixer fix

refactor(geoip): rename getGeoIp() to resolveGeoProxy() and update all call sites
  .husky/hash.txt
  artisan/proxyChecker.php
  func-proxy.php
  geoIp.php
  proxyChecker.php
  proxyCheckerParallel-func.php
  src/PhpProxyHunter/GeoIpHelper.php
Due: composer exec php-cs-fixer fix

fix(geo-plugin): suppress JsonSerializable return type deprecation
  .husky/hash.txt
  src/PhpProxyHunter/GeoPlugin.php
Due: composer exec php-cs-fixer fix

refactor(geoip): simplify getGeoIpSimple() data extraction and add debug field
  .husky/hash.txt
  src/PhpProxyHunter/GeoIpHelper.php
Due: composer exec php-cs-fixer fix

fix(geo-plugin): handle generic exceptions in locate method
  .husky/hash.txt
  src/PhpProxyHunter/GeoPlugin2.php
Due: composer exec php-cs-fixer fix

feat(vscode): update PHP CS Fixer settings for enhanced configuration
  .vscode/settings.json
Due: prettier --list-different --write

chore(lint): disable camelCase naming sniffs in phpcs.xml
  phpcs.xml
Due: none

refactor(geoplugin): modernize class structure, docs, and data handling
  .husky/hash.txt
  src/PhpProxyHunter/GeoPlugin.php
Due: composer exec php-cs-fixer fix

feat(geoip): add language information to getGeoIpSimple() response
  .husky/hash.txt
  src/PhpProxyHunter/GeoIpHelper.php
Due: composer exec php-cs-fixer fix

feat(geoip): include city information in getGeoIpSimple() response
  .husky/hash.txt
  src/PhpProxyHunter/GeoIpHelper.php
Due: composer exec php-cs-fixer fix

feat(geoip): enhance getGeoIpSimple() documentation and include city information in response
  .husky/hash.txt
  src/PhpProxyHunter/GeoIpHelper.php
Due: composer exec php-cs-fixer fix

Path conditions:
  set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
