Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.cjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.ts": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.jsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.tsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

feat(untested): add empty status value for untested proxies
  .husky/hash.txt
  src/ProxyDB.py
Due: black

update dependencies
  package.json
Due: prettier --list-different --write

try migrating eslint v9
  .eslint.config.js
  .eslintrc.cjs
  .gitignore
  .idea/inspectionProfiles/Project_Default.xml
  .lintstagedrc.json
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  package.json
  tsconfig.json
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

auto backup database every 12h
  .crontab.sh
Due: none

update python doc
  .husky/hash.txt
  proxyWorking.py
Due: black

eslint --fix
  electron-test.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix: file count variable name (php_result to php_results)
  .husky/hash.txt
  django_backend/apps/proxy/tasks_unit/real_check_proxy.py
Due: black

install asyncio
  requirements_base.txt
Due: none

fix: python types
  django_backend/apps/proxy/tasks_unit/real_check_proxy.py
  packages/proxy-hunter-python/proxy_hunter/curl/proxy_utils.py
Due: black

Update proxyFetcherSources.txt
  proxyFetcherSources.txt
Due: none

use fixed version for pycountry and pycurl
  requirements_base.txt
Due: none

migrate to ESLint v9 ESM
  .eslint.config.js
  .eslintrc.cjs
  .lintstagedrc.json
  .prettierrc.json
  .vscode/settings.json
  eslint.config.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

fix: country fallback to country_name
  .husky/hash.txt
  src/geoPlugin.py
Due: black

drop geopy Nominatim
  .husky/hash.txt
  src/geoPlugin.py
  tests/py/get_timezones_by_country_code.py
Due: black
