Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

transofrm `[SKIPPED]` into icon
  proxyManager.js
Due: eslint --fix

feat: database backup
  backup.php
Due: composer exec php-cs-fixer fix

feat: disallow web server access
  mergeDB.php
Due: composer exec php-cs-fixer fix

fix: invalid arguments
  bin/check-proxy-parallel
  bin/check-proxy-parallel.cmd
Due: none

add netscape cookie viewer
  data/cookies.html
Due: prettier --list-different --write

feat: usage
  backup.php
Due: composer exec php-cs-fixer fix

`.cmd` and `.bat` force using CRLF
  .gitattributes
  .husky/post-commit
  .husky/post-merge
  .husky/python-autopep8.py
  .husky/readme.md
  .yarn/releases/yarn-4.2.2.cjs
  .yarn/releases/yarn-4.3.1.cjs
  .yarnrc.yml
  assets/database/create.sql
  bin/check-proxy-parallel.cmd
  bin/check-proxy.cmd
  bin/clean-install.cmd
  bin/clear-github-actions-cache
  bin/filter-port.cmd
  bin/fix-php
  bin/kills.cmd
  bin/loop-check-proxy.cmd
  bin/undo-commit.cmd
  composer.phar
  filterPorts.php
  package.json
Due: prettier --list-different --write, composer exec php-cs-fixer fix

fix: for ubuntu
  bin/check-proxy-parallel
Due: none

feat: print header option
  proxyCheckerParallel.php
Due: composer exec php-cs-fixer fix

update unix path converter
  func.php
Due: composer exec php-cs-fixer fix

feat: check raw header azenv raw proxy return false
  func-proxy.php
Due: composer exec php-cs-fixer fix

process when response is string
  proxyCheckerParallel.php
Due: composer exec php-cs-fixer fix

check if not azenv proxy
  proxyCheckerParallel.php
Due: composer exec php-cs-fixer fix

Path conditions:
  eslint --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.html) or (any of: *.json)) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)
  composer exec php-cs-fixer fix: any of: *.php
