Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

fix: update action name generation to handle hyphens and improve camelCase conversion
  .husky/hash.txt
  index.php
Due: composer exec php-cs-fixer fix

fix: add user logs retrieval and clearing actions
  .husky/hash.txt
  controllers/UserController.php
Due: composer exec php-cs-fixer fix

fix: enhance user logs retrieval and clearing actions with error handling
  .husky/hash.txt
  controllers/UserController.php
Due: composer exec php-cs-fixer fix

fix: prefix log messages with context identifiers for better traceability
  controllers/CheckDuplicateProxyController.php
  controllers/ListDuplicateProxyController.php
Due: composer exec php-cs-fixer fix

fix: improve controller action handling to allow view rendering without throwing exceptions when controller action not exist
  .husky/hash.txt
  index.php
Due: composer exec php-cs-fixer fix

fix: update VSCode settings for rollup
  .vscode/settings.json
Due: prettier --list-different --write

feat: user logs UI
  .husky/hash.txt
  controllers/CheckDuplicateProxyController.php
  controllers/UserController.php
  views/assets/js/user/logs.js
  views/user/logs.twig
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, composer exec php-cs-fixer fix

feat: integrate JSON extraction utility into logs fetching process
  src/utils/string.js
  views/assets/js/user/logs.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

chore: avoid unnecessary updates if the response hasn't changed
  views/assets/js/user/logs.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: add function to retrieve PHP binary path for improved command execution
  .husky/hash.txt
  controllers/ListDuplicateProxyController.php
  func.php
Due: composer exec php-cs-fixer fix

feat: add clear logs button and functionality to user logs page
  views/assets/js/user/logs.js
  views/user/logs.twig
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: enhance logging for duplicate proxy checks with context-specific messages
  .husky/hash.txt
  controllers/CheckDuplicateProxyController.php
Due: composer exec php-cs-fixer fix

fix: ensure .husky/hash.txt is reset after truncation
  bin/git-pull.cjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: enhance py-install-dev scripts to manage virtual environment setup and installation
  bin/py-install-dev
  bin/py-install-dev.cmd
Due: none

fix: remove version pinning for pycurl in requirements
  requirements-base.txt
Due: none

fix: reorder PATH entries in terminal environment settings for consistency
  .vscode/settings.json
Due: prettier --list-different --write

feat: add submodule installation scripts in bash and Node.js
  bin/submodule-install
  bin/submodule-install.cjs
  bin/submodule-install.cmd
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix: update troubleshooting section in README with PHP extension and Git permission issues
  readme.md
Due: none

feat: add activation scripts for virtual environment activator to current shell
  bin/py-activate
  bin/py-activate.cmd
Due: none

refactor: remove old submodule updater
  bin/submodule-update
Due: none

feat: enhance git-diff scripts with improved output handling and help messages
  bin/git-diff
  bin/git-diff.cmd
Due: none

feat: improve virtual environment activation scripts for better clarity and functionality
  bin/py-activate
  bin/py-activate.cmd
Due: none

feat: update scripts to use python3 for consistency across environments
  bin/executor.sh
  bin/kills
  bin/py-install-dev
  bin/py-purge.cjs
  bin/py-reinstall
  bin/py-update
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: update terminal PATH settings for WSL compatibility and add YAML schema for Taskfile
  .vscode/settings.json
Due: prettier --list-different --write

feat: add Taskfile for managing Python dependencies and tasks
  Taskfile.yml
  package.json
Due: prettier --list-different --write

feat: update post_data type in build_request to accept str in addition to dict
  packages/proxy-hunter-python/proxy_hunter/curl/request_helper.py
Due: black

feat: implement DebugSession for raw HTTP request/response logging
  packages/proxy-hunter-python/proxy_hunter/__init__.py
  packages/proxy-hunter-python/proxy_hunter/curl/DebugSession.py
  packages/proxy-hunter-python/proxy_hunter/curl/__init__.py
Due: black

Path conditions:
  set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
