Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

Update log
  filterPortsDuplicate.php
Due: composer exec php-cs-fixer fix

turn `[DELETED]` into trash icon
  proxyManager.js
Due: eslint --fix

feat: dump last run
  .github/workflows/checker.yml
Due: prettier --list-different --write

feat: install `jq`
  .github/workflows/checker.yml
Due: prettier --list-different --write

fix: web server access
  data/index.php
  scanPorts.php
Due: composer exec php-cs-fixer fix

fix: implode failed when fail read `proxies.txt`
  scanPorts.php
Due: composer exec php-cs-fixer fix

not admin: skip when existing runner still running
  scanPorts.php
Due: composer exec php-cs-fixer fix

update PHP doc
  proxyCheckerParallel.php
  scanPorts.php
Due: composer exec php-cs-fixer fix

fix: color added proxy
  proxyManager.js
Due: eslint --fix

install package using `sudo apt-get`
  .github/workflows/checker.yml
Due: prettier --list-different --write

test replace added proxy color
  proxyManager.js
Due: eslint --fix

fix: dont write database while extracting proxies
  filterPorts.php
  func-proxy.php
  scanPorts.php
  tests/extractProxy.php
Due: composer exec php-cs-fixer fix

fix invalid runner pid path
  proxyCheckerBackground.php
Due: composer exec php-cs-fixer fix

feat: full path php script feat: run filter ports duplicate
  bin/check-proxy-parallel.cmd
Due: none

Path conditions:
  eslint --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.html) or (any of: *.json)) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)
  composer exec php-cs-fixer fix: any of: *.php
