Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.html": "prettier --list-different --write",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix"
}

change filename of merged file
  proxies-all.php
Due: composer exec php-cs-fixer fix

feat: get server ip
  func-proxy.php
  tests/myIp.php
Due: composer exec php-cs-fixer fix

update requirements
  readme.md
Due: none

getServerIp: cache to file
  func-proxy.php
Due: composer exec php-cs-fixer fix

parse_anonymity: if device ip exist on response, return Transparent
  func-proxy.php
Due: composer exec php-cs-fixer fix

lowercase anonymity result
  func-proxy.php
  proxyCheckerParallel.php
Due: composer exec php-cs-fixer fix

parse_anonymity: drop invalid validation of transparent
  func-proxy.php
Due: composer exec php-cs-fixer fix

feat: print server ip
  info.php
Due: composer exec php-cs-fixer fix

change import
  info.php
Due: composer exec php-cs-fixer fix

feat: show alert when failed get recaptcha site key
  proxyManager.html
Due: prettier --list-different --write

Create dependabot.yml
  .github/dependabot.yml
Due: prettier --list-different --write

feat: codespace configuration
  .devcontainer/devcontainer.json
Due: prettier --list-different --write

codespace using custom docker
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
Due: prettier --list-different --write

drop post create command
  .devcontainer/devcontainer.json
Due: prettier --list-different --write
