Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.cjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.mjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.ts": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.jsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.tsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

fix(anonymizeEmail): Return same value when empty
  .husky/hash.txt
  func.php
Due: composer exec php-cs-fixer fix

feat: user information
  .husky/hash.txt
  php_backend/user-info.php
Due: composer exec php-cs-fixer fix

PHPStorm auto update
  .idea/codeStyles/Project.xml
  .idea/htdocs.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/php.xml
  .idea/phpspec.xml
Due: none

feat: fallback 404 not found to index.php
  .htaccess
Due: none

feat: global ide settings
  .editorconfig
Due: none

fix(is_debug): get debug devices from .env file
  .husky/hash.txt
  func.php
Due: composer exec php-cs-fixer fix

feat: implements twig template engine
  .husky/hash.txt
  composer.json
  index.php
  views/404.twig
  views/dashboard/_widgets/history.twig
  views/dashboard/index.twig
  views/readme.md
  views/template.twig
Due: prettier --list-different --write, composer exec php-cs-fixer fix

fix: homepage view path
  .husky/hash.txt
  index.php
Due: composer exec php-cs-fixer fix

feat: print stack trace
  .husky/hash.txt
  index.php
  views/404.twig
Due: composer exec php-cs-fixer fix

feat: render markdown support
  .husky/hash.txt
  composer.json
  index.php
  views/404.twig
Due: prettier --list-different --write, composer exec php-cs-fixer fix

refactor: re-enable lint-staged
  .husky/hash.txt
  .husky/pre-commit
Due: none

feat: show raw view path on debug
  .husky/hash.txt
  index.php
Due: composer exec php-cs-fixer fix

refactor: detach php-cs-fixer from lint-staged, run from pre-commit instead
  .husky/hash.txt
  .husky/pre-commit
  .lintstagedrc.json
Due: prettier --list-different --write

feat: good twig extension for VSCode
  .vscode/extensions.json
Due: prettier --list-different --write
