Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.html": "prettier --list-different --write",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix"
}

fixed `exec` wont run in ubuntu
  proxyCheckerParallel.php
Due: composer exec php-cs-fixer fix

listenCurlCommandBuilder: force word-wrap
  proxyManager.js
Due: eslint --fix

write runner script before set permission
  proxyCheckerParallel.php
Due: composer exec php-cs-fixer fix

limit proxy to be checked
  proxyCheckerParallel.php
Due: composer exec php-cs-fixer fix

web server request limit proxy by 30 units
  proxyCheckerParallel.php
Due: composer exec php-cs-fixer fix

max 400 proxies at once
  bin/check-proxy-parallel
  bin/check-proxy-parallel.cmd
Due: none

update ignores
  .gitignore
Due: none

index project name
  .idea/.name
Due: none

Update proxyManager.js
  proxyManager.js
Due: eslint --fix

feat: remove non-proxy lines
  proxyChecker.php
Due: composer exec php-cs-fixer fix

feat: delay 1s each file process
  proxyChecker.php
Due: composer exec php-cs-fixer fix

change backup file path
  proxyFetcher.php
Due: composer exec php-cs-fixer fix

chore(buildCurl): return type `\CurlHandle`
  func-proxy.php
Due: composer exec php-cs-fixer fix
