Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

feat: custom certificate
  data/custom.pem
Due: none

feat(editorconfig): add Kotlin support with import layout configuration
  .editorconfig
Due: none

fix(ui): hide copy button and show placeholder for empty details
  src/react/components/DetailsCell.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(readme): comment out missing PHP extension section
  readme.md
Due: none

feat(package): add postcss-cli and postcss-loader dependencies
  package.json
Due: prettier --list-different --write

feat(config): add ConfigDB utility with SQLite and MySQL support
  .husky/hash.txt
  packages/proxy-hunter-python/proxy_hunter/utils/config.py
  packages/proxy-hunter-python/setup.py
  packages/proxy-hunter-python/tests/test_config_db.py
Due: black

fix(readme): update installation instructions
  packages/proxy-hunter-python/readme.md
Due: none

chore(pyproject): add project metadata and dependencies for proxy_hunter package
  packages/proxy-hunter-python/pyproject.toml
Due: none

fix(config): ensure resources are released by closing connections in destructor
  .husky/hash.txt
  packages/proxy-hunter-python/proxy_hunter/utils/config.py
Due: black

feat(proxy-hunter-php): add PHP ConfigDB, composer.json and sample tests
  packages/proxy-hunter-python/composer.json
  packages/proxy-hunter-python/proxy_hunter/utils/config.php
  packages/proxy-hunter-python/tests/configTest.php
Due: prettier --list-different --write, composer exec php-cs-fixer fix

refactor(config.py): import mysql.connector directly and remove lazy import checks
  .husky/hash.txt
  packages/proxy-hunter-python/proxy_hunter/utils/config.py
Due: black

feat(composer): add local path repository and require local package
  composer.json
Due: prettier --list-different --write

fix(proxy): avoid calling $db on null and make extractor PHP 7.0 compatible
  .husky/hash.txt
  artisan/proxyFetcher.php
  src/utils/proxy/extractor.php
Due: composer exec php-cs-fixer fix

fix(proxy-checker): update runner path to use temporary directory for Windows compatibility
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

fix(extractor): return parsed results directly if no ProxyDB instance is provided
  .husky/hash.txt
  src/utils/proxy/extractor.php
Due: composer exec php-cs-fixer fix

fix(extractor): improve exception message for missing ProxyDB instance when writing to database
  .husky/hash.txt
  src/utils/proxy/extractor.php
Due: composer exec php-cs-fixer fix

feat(proxy-add): implement CORS support and handle preflight OPTIONS requests
  .husky/hash.txt
  php_backend/proxy-add.php
Due: composer exec php-cs-fixer fix

refactor(server): move CORS handling into Server::allowCors()
  .husky/hash.txt
  php_backend/proxy-add.php
  src/PhpProxyHunter/Server.php
Due: composer exec php-cs-fixer fix

refactor(cors): centralize CORS handling via Server::allowCors()
  .husky/hash.txt
  php_backend/check-https-proxy.php
  php_backend/get_sms.php
  php_backend/google-oauth.php
  php_backend/img.php
  php_backend/list-user.php
  php_backend/login.php
  php_backend/logout.php
  php_backend/logs.php
  php_backend/proxy-checker.php
  php_backend/recaptcha.php
  php_backend/refill-saldo.php
  php_backend/user-info.php
  php_backend/useragent.php
Due: composer exec php-cs-fixer fix

refactor(cors): add disableBrowserCache flag to Server::allowCors and enable it in endpoints
  .husky/hash.txt
  php_backend/check-https-proxy.php
  php_backend/google-oauth.php
  php_backend/login.php
  php_backend/logout.php
  php_backend/proxy-checker.php
  php_backend/user-info.php
  src/PhpProxyHunter/Server.php
Due: composer exec php-cs-fixer fix

fix(dotenv): make .env loading robust and non-fatal
  .husky/hash.txt
  php_backend/shared.php
Due: composer exec php-cs-fixer fix

feat(processes): implement process listing for PHP and Python by user ID
  .husky/hash.txt
  php_backend/processes.php
Due: composer exec php-cs-fixer fix

feat(processes): implement per-session rate limiting for non-admin users
  .husky/hash.txt
  php_backend/processes.php
Due: composer exec php-cs-fixer fix

feat(processes): add cleanup of temporary files for non-existent PHP/Python processes
  .husky/hash.txt
  php_backend/processes.php
Due: composer exec php-cs-fixer fix

feat(proxy-list): add fetch processes on mount
  src/react/pages/ProxyList.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(php_backend): standardize and relocate proxy-checker lock file path
  .husky/hash.txt
  php_backend/processes.php
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

refactor(php_backend/proxy-checker.php): use $proxy_db directly instead of $db alias
  .husky/hash.txt
  php_backend/proxy-checker.php
Due: composer exec php-cs-fixer fix

feat(scripts): add remote file size check and conditional Composer download
  scripts/composer-installer.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(dependencies): update i18next to 25.6.0 and react-i18next to 16.1.6
  package.json
Due: prettier --list-different --write

feat(dependencies): add sharp package version 0.32
  package.json
Due: prettier --list-different --write

feat: enable dynamic database type selection for CI environments
  .husky/hash.txt
  php_backend/shared.php
Due: composer exec php-cs-fixer fix

refactor: extract GitHub environment detection into dedicated functions
  .husky/hash.txt
  src/database/env.php
Due: composer exec php-cs-fixer fix

fix: update database type selection for GitHub CI environments
  php_backend/shared.php
Due: composer exec php-cs-fixer fix

fix: ensure pip upgrade command does not fail the script
  bin/python-minimal
Due: none

fix: replace 'py' with explicit path to Python executable in installation commands
  bin/python-minimal.cmd
Due: none

fix: ensure pip commands are called correctly in the installation script
  bin/python-minimal.cmd
Due: none

fix: ensure Windows CMD files use CRLF line endings in .editorconfig
  .editorconfig
Due: none

fix: update shellscript settings in VSCode configuration
  .vscode/settings.json
Due: prettier --list-different --write

chore(prettier): add prettier-plugin-sh to configuration and dependencies
  .prettierrc.json
  package.json
Due: prettier --list-different --write

chore(python-minimal): fix venv creation logic and add pycryptodome to dependencies
  bin/python-minimal
Due: none

Path conditions:
  set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
