Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.html": "prettier --list-different --write",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix"
}

feat: full path php script feat: run filter ports duplicate
  bin/check-proxy-parallel.cmd
Due: none

drop validator ip:port duplicate with is valid proxy checker
  func-proxy.php
Due: composer exec php-cs-fixer fix

fix: dont update `last_check` column when status is `untested`
  src/ProxyDB.php
  src/ProxyDB.py
Due: composer exec php-cs-fixer fix

shuffle ips
  filterPortsDuplicate.php
Due: composer exec php-cs-fixer fix

run filter ports multiple instances
  bin/check-proxy-parallel.cmd
Due: none

feat: features
  readme.md
Due: none

update
  readme.md
Due: none

feat: `--endless` mode
  filterPortsDuplicate.php
  fix-nginx-perm.sh
Due: composer exec php-cs-fixer fix

Exclude active proxies
  filterPortsDuplicate.php
Due: composer exec php-cs-fixer fix

apply lock verification for endless mode
  filterPortsDuplicate.php
Due: composer exec php-cs-fixer fix

delete lock file at ends
  filterPortsDuplicate.php
Due: composer exec php-cs-fixer fix

only run scan port duplicate
  .github/workflows/checker.yml
Due: prettier --list-different --write
