Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

Convert last_check to human-readable format
  list.php
Due: composer exec php-cs-fixer fix

turn `port open` into green color
  proxyManager.js
Due: eslint --fix

skip last check verification for untested proxies
  proxyCheckerParallel.php
Due: composer exec php-cs-fixer fix

feat: run duplicate port filter
  fix-nginx-perm.sh
Due: none

feat: proxy uploader
  .github/workflows/main.yml
  .github/workflows/upload-proxies.yml
Due: prettier --list-different --write

feat: lock verification
  scanPorts.php
Due: composer exec php-cs-fixer fix

feat: install python deps
  .github/workflows/checker-parallel.yml
  .github/workflows/checker.yml
  .github/workflows/upload-proxies.yml
Due: prettier --list-different --write

rename workflow
  .github/workflows/upload-proxies.yml
Due: prettier --list-different --write

upload proxies every 4 hours
  .github/workflows/upload-proxies.yml
Due: prettier --list-different --write

feat: clean github actions cache every 4 hours
  .github/workflows/upload-proxies.yml
Due: prettier --list-different --write

fix: install python dependencies dynamically
  .github/workflows/checker-parallel.yml
  .github/workflows/checker.yml
  .github/workflows/upload-proxies.yml
  .gitignore
  bin/clean-install.cmd
  bin/py-install.cmd
  requirements_base.txt
  requirements_install.py
Due: prettier --list-different --write

wait upload job to finish
  .github/workflows/main.yml
Due: prettier --list-different --write

cache python dependencies
  .github/workflows/checker-parallel.yml
  .github/workflows/checker.yml
  .github/workflows/upload-proxies.yml
Due: prettier --list-different --write

feat: windows package importer
  src/func_platform.py
Due: none

Path conditions:
  eslint --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.html) or (any of: *.json)) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)
  composer exec php-cs-fixer fix: any of: *.php
