Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

feat: enable WAL journal mode and reclaim unused size
  src/ProxyDB.php
Due: composer exec php-cs-fixer fix

feat: run vacum once daily feat: run enable WAL and VACUUM once
  src/ProxyDB.php
Due: composer exec php-cs-fixer fix

update proxy sources
  proxyFetcher.php
Due: composer exec php-cs-fixer fix

php intelephense index vendor folder
  .vscode/settings.json
Due: prettier --list-different --write

filterIpPortLines: skip empty line
  func-proxy.php
Due: composer exec php-cs-fixer fix

filterIpPortLines: optimize codes
  func-proxy.php
Due: composer exec php-cs-fixer fix

create new schema before run vacuum and WAL journal mode
  src/ProxyDB.php
Due: composer exec php-cs-fixer fix

add recommendation
  .vscode/extensions.json
Due: prettier --list-different --write

add pem gen
  data/get-ca.sh
Due: none

fix: keep original pem files
  data/cacert.pem
  data/get-ca.sh
Due: none

Concatenate all *.pem files except cacert.pem into cacert.pem
  data/cacert.pem
  data/get-ca.sh
Due: none

Remove invalid certificate blocks from cacert.pem
  data/cacert.pem
  data/get-ca.sh
Due: none

remove duplicate certificates
  data/cacert.pem
  data/get-ca.sh
Due: none

add cloudflare certificate
  data/cacert.pem
  data/get-ca.sh
Due: none

Path conditions:
  eslint --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.html) or (any of: *.json)) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)
  composer exec php-cs-fixer fix: any of: *.php
