Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.html": "prettier --list-different --write",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix"
}

add cloudflare certificate
  data/cacert.pem
  data/get-ca.sh
Due: none

add github CI
  .github/workflows/php.yml
Due: prettier --list-different --write

write file before set pemission
  filterPorts.php
  filterPortsBackground.php
Due: composer exec php-cs-fixer fix

set permission 755
  .husky/post-commit
  .husky/post-merge
  .husky/python-autopep8.py
  .husky/readme.md
Due: none

update trigger event
  .github/workflows/php.yml
Due: prettier --list-different --write

check if --max arguments > 0
  proxyCheckerParallel.php
Due: composer exec php-cs-fixer fix

add proxy checker
  .github/workflows/php.yml
Due: prettier --list-different --write

add github actions support
  proxyChecker.php
Due: composer exec php-cs-fixer fix

update cache paths
  .github/workflows/php.yml
Due: prettier --list-different --write

print working proxies
  .github/workflows/php.yml
Due: prettier --list-different --write

upload working proxies
  .github/workflows/php.yml
Due: prettier --list-different --write

cancel existing progress
  .github/workflows/php.yml
Due: prettier --list-different --write

cache composer.lock
  .github/workflows/php.yml
Due: prettier --list-different --write

remove failed step
  .github/workflows/php.yml
Due: prettier --list-different --write
