Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.cjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.mjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.ts": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.jsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.tsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

refactor: update checksum file path
  setup.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(build): add checksum-based build caching and dependency install
  bin/build-project.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(build): ensure shell compatibility for spawnSync and update deploy script
  bin/build-project.mjs
  bin/deploy-vps.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(post-merge): replace yarn build with node script for project build
  .husky/post-merge
Due: none

fix: wrap buildForGithubPages call in conditional to ensure proper execution
  vite-gh-pages.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(deploy): extract deployGitPath and export copyIndexToRoutes for SPA routing
  vite-gh-pages.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(deploy): add maintenance mode and file upload support
  bin/deploy-vps.mjs
  index.maintenance.html
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(deploy): use absolute maintenance page path and copy index to routes after build
  bin/deploy-vps.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(ReferenceError): __dirname is not defined
  bin/deploy-vps.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(deploy): use path.join for consistent file path handling in upload functions
  bin/deploy-vps.mjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(copyIndexToRoutes): prevent copying index.html to itself
  vite-gh-pages.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(SaldoManager): adjust margin for improved layout consistency
  src/react/pages/admin/SaldoManager.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat(Dashboard): refactor to use DashboardContent component for improved structure
  src/react/pages/Dashboard.tsx
  src/react/pages/dashboard/DashboardContent.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

chore(Admin): replace saldo-related components to point-related
  src/react/pages/Admin.tsx
  src/react/pages/admin/AddPointForm.tsx
  src/react/pages/admin/ManagerPoint.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(logs): streamline request handling and improve code structure
  .husky/hash.txt
  php_backend/logs.php
Due: composer exec php-cs-fixer fix

feat(logs): refactor logs endpoint to use LogsRepository and shared DB
  .husky/hash.txt
  php_backend/logs.php
  src/database/LogsRepository.php
Due: composer exec php-cs-fixer fix

feat(schema,logs): enhance user log and activity storage, add file log helpers
  .husky/hash.txt
  src/PhpProxyHunter/assets/mysql-schema.sql
  src/PhpProxyHunter/assets/sqlite-schema.sql
  src/database/LogsRepository.php
  tests/database/LogsRepositoryTest.php
Due: prettier --list-different --write, composer exec php-cs-fixer fix

refactor(database): move user_logs and user_activity table creation into LogsRepository
  .husky/hash.txt
  src/PhpProxyHunter/assets/mysql-schema.sql
  src/PhpProxyHunter/assets/sqlite-schema.sql
  src/database/LogsRepository.php
Due: prettier --list-different --write, composer exec php-cs-fixer fix

refactor(logs): decouple LogsRepository from CoreDB, accept PDO directly
  .husky/hash.txt
  src/database/LogsRepository.php
  tests/database/LogsRepositoryTest.php
Due: composer exec php-cs-fixer fix

feat(schema): add user_logs and user_activity tables for enhanced logging and activity tracking
  src/PhpProxyHunter/assets/mysql-schema.sql
  src/PhpProxyHunter/assets/sqlite-schema.sql
Due: prettier --list-different --write

fix(LogRepository): ensure valid JSON or null for extra_info in addLog
  .husky/hash.txt
  src/database/LogsRepository.php
Due: composer exec php-cs-fixer fix

refactor(userdb): optimize update_saldo to reduce queries and improve logging
  .husky/hash.txt
  src/PhpProxyHunter/UserDB.php
Due: composer exec php-cs-fixer fix

feat(schema): add user_discount table for managing user discounts and packages
  src/PhpProxyHunter/assets/mysql-schema.sql
  src/PhpProxyHunter/assets/sqlite-schema.sql
Due: prettier --list-different --write

test: unify saldo arithmetic tests with data provider
  .husky/hash.txt
  tests/PhpProxyHunter/UserDBSaldoArithmeticTest.php
Due: composer exec php-cs-fixer fix

test: enhance UserDBTest cleanup to remove related child records
  tests/PhpProxyHunter/UserDBTest.php
Due: composer exec php-cs-fixer fix

feat(UserDB): add delete method to remove users and related records
  .husky/hash.txt
  src/PhpProxyHunter/UserDB.php
  tests/PhpProxyHunter/UserDBTest.php
Due: composer exec php-cs-fixer fix

feat(UserDB): enhance delete method to remove related records from user_activity, user_discount, user_logs, and user_fields
  .husky/hash.txt
  src/PhpProxyHunter/UserDB.php
Due: composer exec php-cs-fixer fix

test(database): use UserDB for user management in LogsRepositoryTest
  tests/database/LogsRepositoryTest.php
Due: composer exec php-cs-fixer fix

refactor: move LogsRepository to PhpProxyHunter namespace and update imports
  .husky/hash.txt
  php_backend/logs.php
  src/PhpProxyHunter/LogsRepository.php
  tests/database/LogsRepositoryTest.php
Due: composer exec php-cs-fixer fix

feat(CoreDB): initialize LogsRepository instance in constructor
  .husky/hash.txt
  src/PhpProxyHunter/CoreDB.php
Due: composer exec php-cs-fixer fix

feat(UserDB): add logsRepository property and initialize in constructor
  .husky/hash.txt
  src/PhpProxyHunter/UserDB.php
Due: composer exec php-cs-fixer fix

feat(UserDB): replace direct database log insertion with logsRepository method
  .husky/hash.txt
  src/PhpProxyHunter/UserDB.php
Due: composer exec php-cs-fixer fix

refactor(userdb): rename update_saldo to updatePoint and update all usages
  .husky/hash.txt
  php_backend/refill-saldo.php
  php_backend/user-info.php
  src/PhpProxyHunter/UserDB.php
  tests/PhpProxyHunter/UserDBSaldoArithmeticTest.php
  tests/PhpProxyHunter/UserDBTest.php
Due: composer exec php-cs-fixer fix

refactor(userdb): rename get_saldo to getPoint and update all usages
  .husky/hash.txt
  src/PhpProxyHunter/UserDB.php
  tests/PhpProxyHunter/UserDBSaldoArithmeticTest.php
  tests/PhpProxyHunter/UserDBTest.php
Due: composer exec php-cs-fixer fix

feat(UserActivity): add UserActivityCard component and integrate user activity fetching
  src/react/locales/en.json
  src/react/locales/id.json
  src/react/pages/Dashboard.tsx
  src/react/pages/components/UserActivityCard.tsx
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

chore: update locales
  src/react/locales/en.json
  src/react/locales/id.json
Due: prettier --list-different --write

fix(package): update proxies-grabber package URL to the latest version
  package.json
Due: prettier --list-different --write

feat: add mariadb support and proxy translation script
  package.json
  src/react/i18n-translator.ts
  tests/database/mysql-native-password-debug.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

refactor(SQLiteHelper): rename static property $_databases to $databases
  .husky/hash.txt
  src/PhpProxyHunter/SQLiteHelper.php
Due: composer exec php-cs-fixer fix

test(MySQLHelper): add unit tests for MySQLHelper class
  .husky/hash.txt
  tests/PhpProxyHunter/MySQLHelperTest.php
Due: composer exec php-cs-fixer fix
