Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

feat: clear github actions cache, leaving latest one
  .github/workflows/php.yml
  bin/clear-github-actions-cache
Due: prettier --list-different --write

run cache cleaner once a day
  .github/workflows/php.yml
Due: prettier --list-different --write

validate `.env` file exist
  bin/clear-github-actions-cache
Due: none

feat: github access token
  .env_sample
Due: none

set default `--max` value to 500
  .github/workflows/php.yml
Due: prettier --list-different --write

disable execution limit for admin/github CI
  proxyChecker.php
Due: composer exec php-cs-fixer fix

skip lock file verification for admin/github CI
  filterPorts.php
Due: composer exec php-cs-fixer fix

add `--max` argument
  filterPorts.php
Due: composer exec php-cs-fixer fix

set max execution time 10 minutes for admin/github CI
  filterPorts.php
Due: composer exec php-cs-fixer fix

drop error log
  proxyChecker.php
Due: composer exec php-cs-fixer fix

wait previous runner progress
  .github/workflows/php.yml
Due: prettier --list-different --write

skip lock file verification for admin
  geoIp.php
Due: composer exec php-cs-fixer fix

feat: raw proxy source
  proxyFetcher.php
Due: composer exec php-cs-fixer fix

feat: set my git user info
  .github/workflows/php.yml
Due: prettier --list-different --write

Path conditions:
  eslint --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.html) or (any of: *.json)) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)
  composer exec php-cs-fixer fix: any of: *.php
