Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

get relative path should be varargs string
  src/func.py
Due: black

using `fs-extra`
  proxyFetcher.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

feat: admin previlege requester
  bin/sudo.cmd
Due: none

remove unused dependencies
  package.json
Due: prettier --list-different --write

split function proxy checker parallel
  .husky/hash.txt
  package.json
  proxyChecker.php
  proxyCheckerParallel-func.php
  proxyCheckerParallel.php
Due: prettier --list-different --write, composer exec php-cs-fixer fix

fix: duplicate write_working function
  .husky/hash.txt
  proxyChecker.php
Due: composer exec php-cs-fixer fix

update ignore patterns
  .husky/hash.txt
  bin/create-file-hashes.cjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix: change permission for linux only
  bin/fix-db
  bin/fix-perm
Due: none

update find static file permissions
  bin/fix-perm
Due: none

fix: duplicate schedule_remover
  .husky/hash.txt
  proxyChecker.php
Due: composer exec php-cs-fixer fix

feat: node_modules and node cache cleaner
  bin/node-clean
Due: none

feat: more localhost port
  userscripts/universal.user.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix(Uncaught Error): Call to a member function title() on bool
  .husky/hash.txt
  proxyCheckerParallel-func.php
Due: composer exec php-cs-fixer fix

feat(untested): add empty status value for untested proxies
  .husky/hash.txt
  src/ProxyDB.py
Due: black

Path conditions:
  set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs: ((((any of: *.js) or (any of: *.cjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
