Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

feat: Ensure pip
  bin/py-install
Due: none

feat: windows python runner
  bin/py.cmd
Due: none

fix(run_geolocation): only run for non-empty proxy
  django_backend/apps/proxy/tasks_unit/huey.py
Due: black

rename clean command
  django_backend/apps/core/management/commands/clean.py
  django_backend/apps/proxy/tasks_unit/huey.py
Due: black

feat: only for php development easier
  php.code-workspace
Due: none

drop python server navigation
  proxyManager.html
Due: none

feat: build js using rollup
  package.json
  proxyManager-src.js
  proxyManager.js
  rollup.config.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

fix: php intelephense vscode
  .vscode/settings.json
  php.code-workspace
Due: prettier --list-different --write

separate file
  package.json
  rollup.config.js
  rollup.php.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

feat: redirect to non-code query url
  .husky/hash.txt
  data/login.php
Due: composer exec php-cs-fixer fix

feat: recaptcha v2
  .env_sample
  .husky/hash.txt
  .husky/pre-commit
  data/login.php
  eslint.config.mjs
  info.php
  php.code-workspace
  proxyManager-src.js
  proxyManager.html
  proxyManager.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, composer exec php-cs-fixer fix

index temp folder
  .vscode/settings.json
Due: prettier --list-different --write

feat: log
  bin/backup-db
Due: none

feat: browser info
  .husky/hash.txt
  data/browser.php
  proxyManager.css
Due: prettier --list-different --write, composer exec php-cs-fixer fix

Path conditions:
  set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs: (((((any of: *.js) or (any of: *.cjs)) or (any of: *.mjs)) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: ((((((any of: *.json) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
