Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.cjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.mjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.ts": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.jsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.tsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

fix: handle fallback for receivedText
  node_backend/Replier.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix: update build command
  bin/start-whatsapp
Due: none

fix: update error log file paths to use a dedicated logs directory
  .husky/hash.txt
  func.php
Due: composer exec php-cs-fixer fix

feat: separate service status command
  bin/start-whatsapp
  bin/status-whatsapp
Due: none

feat: pino logger
  node_backend/Function.ts
  package.json
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

fix: update whatsapp service status command to use sudo and include journalctl
  bin/status-whatsapp
Due: none

feat: enhance proxy handler to support '/help' command and log calls using whatsappLogger
  node_backend/whatsapp_handlers/proxy.ts
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix: update start-whatsapp script to ensure permissions are fixed correctly during installation
  bin/start-whatsapp
Due: none

feat: add PHPUnit support and tests for isDateRFC3339OlderThanHours function
  .husky/hash.txt
  composer.json
  phpunit.xml
  tests/IsDateRFC3339OlderThanHoursTest.php
  tests/date-rfc.php
Due: prettier --list-different --write, composer exec php-cs-fixer fix

chore: update universal proxy parser version to 1.3 and add new match pattern for proxyelite.info
  userscripts/universal.meta.js
  userscripts/universal.user.js
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

fix: correct logic for skipping dead proxies and non-SSL proxies in check function
  .husky/hash.txt
  php_backend/check-https-proxy.php
Due: composer exec php-cs-fixer fix

fix: improve post-merge script for better OS detection and error handling
  .husky/post-merge
Due: none

fix: update post-merge script to change ownership of files in the current directory
  .husky/post-merge
Due: none

fix: improve post-merge script for PHP permissions handling and streamline command checks
  .husky/post-merge
Due: none
