Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.html": "prettier --list-different --write",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

optimize codes
  .husky/hash.txt
  github-actions-init.py
Due: black

feat: composer package checker
  .husky/hash.txt
  github-actions-init.php
Due: composer exec php-cs-fixer fix

fix: php 7.2 compatibilty
  .husky/hash.txt
  github-actions-init.php
Due: composer exec php-cs-fixer fix

using windows OS
  .github/workflows/checker-php.yml
Due: prettier --list-different --write

update php setup
  .github/workflows/checker-php.yml
Due: prettier --list-different --write

drop duplicate step
  .github/workflows/checker-php.yml
Due: prettier --list-different --write

update php extension
  .github/workflows/checker-php.yml
Due: prettier --list-different --write

feat: ignore tmp folder
  bin/create-file-hashes.js
Due: eslint --fix

feat: url extractor
  .husky/hash.txt
  packages/proxy-hunter-python/proxy_hunter/__init__.py
  packages/proxy-hunter-python/proxy_hunter/extractor.py
  packages/proxy-hunter-python/setup.py
  packages/proxy-hunter-python/tests/url_extractor.py
Due: black

log message ends with `\t`
  .husky/hash.txt
  proxyCheckerReal.py
Due: black

move `log_browser` to `src.func_console`
  .husky/hash.txt
  src/func_console.py
Due: black

feat: ip port pairs generator sync with php
  .husky/hash.txt
  cidr-information/genPorts.php
  packages/proxy-hunter-python/proxy_hunter/proxyhunter2.py
Due: composer exec php-cs-fixer fix, black

getRandomFileFromFolder: skip non-exist folder or empty array scandir
  .husky/hash.txt
  func.php
Due: composer exec php-cs-fixer fix

remove_string_from_file: implement file lock
  .husky/hash.txt
  packages/proxy-hunter-python/proxy_hunter/__init__.py
  packages/proxy-hunter-python/proxy_hunter/utils/__init__.py
  packages/proxy-hunter-python/proxy_hunter/utils/file.py
  packages/proxy-hunter-python/setup.py
Due: black
