Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write, composer exec php-cs-fixer fix, black

.lintstagedrc.json:

{
  "*.js": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.cjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.mjs": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.ts": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.jsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.tsx": "set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix",
  "*.sql": "prettier --list-different --write",
  "*.py": "black"
}

feat: add file_exists utility function to check for file existence
  packages/proxy-hunter-python/proxy_hunter/__init__.py
  packages/proxy-hunter-python/proxy_hunter/utils/__init__.py
  packages/proxy-hunter-python/proxy_hunter/utils/file.py
Due: black

feat: add utility functions for machine identification and string dictionary conversion
  src/utils/__init__.py
  src/utils/device.py
  src/utils/dict.py
Due: black

feat: refactor setup script for improved readability and functionality
  setup.sh
Due: none

feat: update script to use python3 for virtual environment creation and execution
  bin/py
  bin/py.cmd
Due: none

feat: comment out deactivate commands in the script
  bin/py
Due: none

feat: update Taskfile to use dynamic Python command and improve dependency installation
  Taskfile.yml
Due: prettier --list-different --write

feat: update virtual environment creation to use python3 for consistency
  bin/py.cmd
Due: none

feat: separate NodeJS and Python package installations
  .github/workflows/checker-python.yml
Due: prettier --list-different --write

Improve venv setup and compatibility across platforms
  bin/py
  bin/py-activate
  bin/py-activate.cmd
  bin/py.cmd
  bin/py2.cmd
Due: none

feat: update Node.js version to 20.x in workflow configuration
  .github/workflows/checker-python.yml
Due: prettier --list-different --write

feat: update Node.js version to 20.x in workflow configuration
  .github/workflows/checker-php.yml
  .github/workflows/checker-python.yml
Due: prettier --list-different --write

refactor: load env without dotenv
  bin/submodule-install.cjs
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs

refactor(ci): improve GitHub workflows for PHP and Python checkers
  .github/workflows/checker-php.yml
  .github/workflows/checker-python.yml
Due: prettier --list-different --write

fix: specify shell for Check Proxies step and enhance max input handling
  .github/workflows/checker-python.yml
Due: prettier --list-different --write

chore: update requirements installation script for improved package handling
  requirements_install.py
Due: black

fix: update Python executor in code runner to use 'py' instead of 'py2'
  .vscode/settings.json
Due: prettier --list-different --write

feat: enhance package installation with binary path resolution and multiple PyPI mirrors
  requirements_install.py
Due: black

fix(pip): improve local and editable package handling in requirements installer
  requirements_install.py
Due: black

chore: change nuitka to spesific commit
  requirements_install.py
Due: black

refactor: exclude package that included from other requirements files
  requirements_install.py
Due: black

fix: update Python dependency installation to use requirements_install.py
  Taskfile.yml
Due: prettier --list-different --write

chore: clean up code structure and improve readability
  requirements_install.py
Due: black

fix: correct huey version comment in requirements file
  requirements-base.txt
Due: none

fix: split installation steps for PHP and Python dependencies
  .github/workflows/checker-php.yml
Due: prettier --list-different --write

fix: update Python dependency installation to ensure pip is upgraded
  .github/workflows/checker-php.yml
Due: prettier --list-different --write

fix: add NodeJS dependency installation step
  .github/workflows/checker-php.yml
Due: prettier --list-different --write

fix: use sys.executable for pip installation commands
  requirements_install.py
Due: black

fix: add subprocess calls to generate requirements.txt and install missing packages
  github-actions-init.py
Due: black

refactor: move get_binary_path utility to dedicated module
  requirements_install.py
  src/utils/__init__.py
  src/utils/file.py
Due: black

fix: No matching distribution found for socks
  packages/proxy-hunter-python/setup.py
Due: black

refactor: update Yarn v4.9.2
  .yarn/releases/yarn-4.6.0.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
Due: set ESLINT_USE_FLAT_CONFIG=false && eslint --fix --config .eslintrc.cjs, prettier --list-different --write

fix: apply composer with GitHub OAuth support
  .github/workflows/checker-php.yml
Due: prettier --list-different --write

fix: define PROJECT_ROOT constant for better path management
  .husky/hash.txt
  func.php
Due: composer exec php-cs-fixer fix

chore(npm): remove Playwright dependencies and update prepare script
  package.json
Due: prettier --list-different --write

chore(data): move proxy source files into data directory and update .gitignore
  data/.gitignore
  data/proxyFetcherSources.json
  data/proxyFetcherSources.txt
Due: prettier --list-different --write

refactor(fetcher): move proxyFetcher.php to artisan directory and adjust references
  .crontab.txt
  .github/workflows/checker-php.yml
  .github/workflows/checker-php.yml.txt
  .github/workflows/checker.yml.txt
  artisan/proxyFetcher.php
Due: prettier --list-different --write, composer exec php-cs-fixer fix

fix: update Node.js version to 20.x in GitHub Actions workflow
  .github/workflows/clean-caches.yml
Due: prettier --list-different --write

fix: update dependencies to latest
  package.json
Due: prettier --list-different --write

feat: add GitHub token resolution and PHP dependency installer
  .gitignore
  Taskfile.yml
Due: prettier --list-different --write

feat(taskfile): add install-nodejs task for managing Node.js dependencies
  Taskfile.yml
Due: prettier --list-different --write
