Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix, black

feat: implement cancellable event
  packages/proxy-hunter-python/proxy_hunter/proxyhunter2.py
Due: black

fix: missing required packages
  packages/proxy-hunter-python/proxy_hunter/curl/func_useragent.py
  packages/proxy-hunter-python/setup.py
Due: black

feat(process_iterated_proxy): remove only the items in `at_exit_data[ip]` that are present in `clone_list`
  packages/proxy-hunter-python/proxy_hunter/proxyhunter2.py
Due: black

feat(remove_string_from_file): strings to remove type `Set` support
  packages/proxy-hunter-python/proxy_hunter/utils/file.py
Due: black

fix: pyright
  .husky/hash.txt
  packages/proxy-hunter-python/proxy_hunter/utils/index_utils.py
  proxyCheckerReal.py
  pyproject.toml
  src/func_proxy.py
Due: black

fix: pyright
  .husky/hash.txt
  src/func_console.py
Due: black

drop get_relative_path
  .husky/hash.txt
  src/func_console.py
Due: black

feat: python blacklist proxy remover
  .husky/hash.txt
  data/blacklist.conf
  src/func_proxy.py
  tests/blacklist_remover.py
Due: black

update blacklist
  data/blacklist.conf
Due: none

feat: blacklist IPs getter
  .husky/hash.txt
  src/func_proxy.py
Due: black

feat(blacklist_remover): only remove inactive proxies
  proxies-all.php
  src/func_proxy.py
  tests/blacklist_remover.py
Due: composer exec php-cs-fixer fix, black

feat: remove blacklisted IPs at ends
  django_backend/apps/core/management/commands/sync_proxies.py
Due: black

Update blacklist.conf
  data/blacklist.conf
Due: none

feat: permission fixer
  bin/fix-perm
  data/blacklist.conf
Due: none

Path conditions:
  eslint --fix: (((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)) or (any of: *.tsx)
  prettier --list-different --write: (((((((any of: *.html) or (any of: *.json)) or (any of: *.css)) or (any of: *.scss)) or (any of: *.less)) or (any of: *.yml)) or (any of: *.yaml)) or (any of: *.sql)
  composer exec php-cs-fixer fix: any of: *.php
  black: any of: *.py
