Repository dimaslanjaka/php-proxy-hunter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write, composer exec php-cs-fixer fix

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.html": "prettier --list-different --write",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.less": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.yaml": "prettier --list-different --write",
  "*.php": "composer exec php-cs-fixer fix"
}

drop auto fetch geo location
  src/ProxyDB.py
Due: none

fix(is_port_open): close socket
  src/func_proxy.py
Due: none

update crontab
  .crontab.sh
Due: none

build_request: drop SSL verification
  src/func_proxy.py
  tests/build_request.py
Due: none

feat(geolocation): cloudflare trace parser
  requirements_base.txt
  src/geoPlugin.py
  tests/cloudflare-cdn-trace.py
Due: none

update from python branch
  .idea/htdocs.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .vscode/launch.json
  .vscode/settings.json
Due: prettier --list-different --write

run_huey disable periodic task
  .vscode/launch.json
Due: prettier --list-different --write

feat: ip widget
  django_backend/apps/core/templates/base_generic.html
  django_backend/apps/proxy/templates/ip_widget.html
  django_backend/apps/proxy/templates/proxy_checker_result.html
  django_backend/apps/proxy/templates/proxy_list_index.html
  django_backend/apps/proxy/templates/proxy_status.html
Due: prettier --list-different --write

feat: ip widget
  index.php
  proxyManager.html
Due: prettier --list-different --write, composer exec php-cs-fixer fix

update UI
  proxyManager.html
Due: prettier --list-different --write

import from branch python
  django_backend/apps/core/templates/login-google-outbound.html
  django_backend/apps/proxy/tasks_unit/real_check_proxy.py
  proxyCheckerReal.py
  proxyWorking.py
Due: prettier --list-different --write

feat: get timezone by country code feat: get timezone by latitude and longitude
  requirements_base.txt
  src/geoPlugin.py
Due: none

cloudflare fetch timezone when missing
  src/geoPlugin.py
Due: none

drop ip-get-geolocation.com key
  src/geoPlugin.py
Due: none
